<div
  dir="ltr"
  class="swiper tf-swiper"
  data-preview="4"
  data-tablet="3"
  data-mobile-sm="2"
  data-mobile="1"
  {% if section.settings.hide_seperator %}
    data-space-lg="48"
    data-space-md="24"
    data-space="12" 
  {% else %}
    data-space-lg="97"
    data-space-md="33"
    data-space="13"
  {% endif %}
  data-pagination="1"
  data-pagination-sm="2"
  data-pagination-md="3"
  data-pagination-lg="4"  
>
  <div class="swiper-wrapper">
    {% for block in blocks %}
      <div class="swiper-slide" {{ block.shopify_attributes }}>
        <div class="box-icon_V01 {% if section.settings.hide_seperator %}hide-seperator{% endif %}"
          style="background-color: {{ block.settings.box_bg_color }}; padding-block: {{ block.settings.box_padding }}px;"
        >
          <span class="icon">
            <i class="{{ block.settings.icon_class }}"></i>
          </span>
          <div class="content">
            <h4 class="title fw-normal">{{ block.settings.title }}</h4>
            <p class="text">{{ block.settings.text }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="sw-dot-default tf-sw-pagination"></div>
</div>
