<div class="search-result-article">
  <div class="article-card">
    <div class="article-card__image-wrapper">
      <a href="{{ item.url }}" class="media media--square">
        {% if item.image %}
          {{ item.image | image_url: width: 600 | image_tag: loading: 'lazy' }}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </a>
    </div>
    <div class="article-card__info mt-3">
      <h3 class="h5">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </h3>
      <p class="text-secondary small">{{ item.published_at | date: '%b %d, %Y' }}</p>
      <p>{{ item.content | strip_html | truncate: 120 }}</p>
    </div>
  </div>
</div>
