<div class="card-product" data-availability="{% if product.available %}In stock{% else %}Out of stock{% endif %}" data-brand="{{ product.vendor }}">
  <div class="card-product_wrapper">
    {% render 'card-product-media', product: product %}
    {% render 'card-product-sizes', product: product %}

    {% render 'icon-action-list', product: product %}
    {% render 'card-product-countdown', product: product %}
    {% render 'card-product-badge', product: product %}
    
    {% if product.metafields.custom.marquee_text != blank %}
      {% render 'card-product-marquee-sale', product: product %}
    {% endif %}
    
  </div>

  <div class="card-product_info">
    <a href="{{ product.url }}" class="name-product h4 link">{{ product.title }}</a>
    
    <div class="price-wrap">
      {% if product.compare_at_price > product.price %}
        <span class="price-old h6 fw-normal">{{ product.compare_at_price | money }}</span>
      {% endif %}
      <span class="price-new h6">{{ product.price | money }}</span>
    </div>
    
    {% if settings.color_swatches_enabled %}
      {% render 'card-product-swatches', product: product %}
    {% endif %}

  </div>
</div>