{% liquid 
    assign style_4 = false
    assign style_5 = false
    assign style_6 = false
    assign style_7 = false
    assign style_8 = false

  if settings.hover_style == 'style_4'
    assign style_4 = true
  elsif settings.hover_style == 'style_5'
    assign style_5 = true
  elsif settings.hover_style == 'style_6'
    assign style_6 = true
  elsif settings.hover_style == 'style_7'
    assign style_7 = true
  elsif settings.hover_style == 'style_8'
    assign style_8 = true
  endif

  
  assign show_wishlist = show_wishlist
  assign show_compare = show_compare
  assign show_quick_view = show_quick_view
  assign show_add_to_cart = show_add_to_cart
%}
{% assign has_size = false %}
{% for option in product.options_with_values %}
  {%  liquid 
    assign size_option = 'Size' | downcase
    assign downcased_option = option.name | downcase
    if downcased_option contains size_option
      assign has_size = true
    endif
  %}
{% endfor %}
<div class="card-product {{ card_class }} {% if has_size %}has-size {% endif %}{% if style_4 %}style-2 {% elsif style_5 %}style-3 {% elsif style_6 %}style-4 {% endif %}" data-availability="{% if product.available %}In stock{% else %}Out of stock{% endif %}" data-brand="{{ product.vendor }}">
  <div class="card-product_wrapper">
    {% render 'card-product-media', product: product %}

    {% if show_wishlist_remove %}
      <wishlist-toggle class="remove box-icon wishlist-toggle" data-product-handle="{{ product.handle }}" data-update-icon="false">
        <i class="icon icon-trash"></i>
      </wishlist-toggle>
    {% endif %}
    
    {% render 'card-product-sizes', product: product %}

    {%  liquid 
      assign show_tooltips = settings.show_tooltips
      assign tooltip_direction = settings.tooltip_direction
    %}
    
    {% render 'icon-action-list', product: product, show_tooltips: show_tooltips, tooltip_direction: tooltip_direction, show_wishlist: show_wishlist, show_compare: show_compare, show_quick_view: show_quick_view, show_add_to_cart: show_add_to_cart %}
    {% render 'card-product-countdown', product: product %}
    {% render 'card-product-badge', product: product %}
    {% if style_8 %}
      {% render 'icon-add-to-cart', type: 'quick_add', product: product, show_tooltip: show_tooltips, tooltip_direction: tooltip_direction %}
    {% endif %}
    
    {% if product.metafields.custom.marquee_text != blank %}
      {% render 'card-product-marquee-sale', product: product %}
    {% endif %}
    
  </div>

  <div class="card-product_info">
    <a href="{{ product.url }}" class="name-product h4 link">{{ product.title }}</a>
    
    <div class="price-wrap">
      {% if product.compare_at_price > product.price %}
        <span class="price-old h6 fw-normal">{{ product.compare_at_price | money }}</span>
      {% endif %}
      <span class="price-new h6">{{ product.price | money }}</span>
    </div>
    
    {% if settings.color_swatches_enabled %}
      {% render 'card-product-swatches', product: product %}
    {% endif %}

  </div>
  {% if style_7 %}
    {% render 'icon-add-to-cart', type: 'quick_add', product: product, show_tooltip: show_tooltips, tooltip_direction: tooltip_direction %}
  {% endif %}
</div>