{% comment %}
  Renders free shipping message

  Accepts:
  - minimum_amount: {Number} Free shipping minimum amount
  - is_last: {Boolean} Is the last block

  Usage:
  {% render 'free-shipping', minimum_amount: minimum_amount %}
{% endcomment %}

{%- liquid
  assign minimum_amount_in_cents = minimum_amount | times: 100
  assign total_price = cart.total_price

  if linklists.gift-wrapping.links != blank and linklists.gift-wrapping.links.first.type == 'product_link'
    assign gift_wrapping = linklists.gift-wrapping.links.first
    
    assign gift_wrap_id = gift_wrapping.object.variants.first.id
    assign gift_wraps_in_cart = 0
    for item in cart.items
      if item.id == gift_wrap_id
        assign gift_wraps_in_cart = item.price
        break
      endif
    endfor
    assign total_price = total_price | minus: gift_wraps_in_cart
  endif
-%}
<div class="free-shipping{% if is_last %} is-last{% endif %}">
  {%- capture progress_percent -%}{{ total_price | times: 1.0 | divided_by: minimum_amount_in_cents | at_most: 1 | times: 100 | round }}%{%- endcapture -%}

  <div class="tf-progress-bar tf-progress-ship">
    <div class="value" style="--progress: {{ progress_percent }};"></div>
  </div>

  {%- if total_price >= minimum_amount_in_cents -%}
    <span class="free-shipping__text free-shipping__text--success">{{ 'general.cart.free_shipping.congratulations_html' | t }}</span>
  {%- else -%}
    {%- capture remaining_amount -%}<price-money class="price"><bdi>{{ total_price | minus: minimum_amount_in_cents | abs | money }}</bdi></price-money>{%- endcapture -%}
    <div class="desc text-main">{{ 'general.cart.free_shipping.remaining_html' | t: remaining_amount: remaining_amount }}</div>
  {%- endif -%}
</div>
