<ul id="header-icons-{{ section.id }}" class="nav-icon-list">
  {% if show_account %}
    <li class="d-none d-lg-flex">
      <a
        class="nav-icon-item link"
        aria-label="Icon User"
        href="{{ routes.account_login_url }}"
        ><i class="icon icon-user"></i
      ></a>
    </li>
  {% endif %}
  {% if show_search %}
    <li class="d-none d-md-flex">
      <a
        class="nav-icon-item link"
        href="#search"
        data-bs-toggle="modal"
        aria-label="Icon Search"
      >
        <i class="icon icon-magnifying-glass"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.wishlist_enabled and show_wishlist %}
    <li class="d-none d-sm-flex">
      <a
        class="nav-icon-item link"
        href="/pages/wishlist"
        style="position: relative;"
        aria-label="Icon Wishlist"
      >
        <span id="wishlist-icon-bubble">
          <wishlist-count class="count d-none">
            <span aria-hidden="true">0</span>
            <span class="visually-hidden">Wishlist items</span>
          </wishlist-count>
        </span>
        <i class="icon icon-heart"></i>
      </a>
    </li>
  {% endif %}
  {% if show_cart %}
    <li class="shop-cart">
      <cart-drawer-open class="d-flex">
        <button
          type="button"
          class="cart-drawer-open"
          aria-controls="mini-cart"
        >
          <span class="cart-icon-bubble">
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            {%- if cart != empty -%}
              <span class="count {% if cart.item_count >= 100 %} cart-count-bubble--dot{% endif %}">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">
                  {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
                </span>
              </span>
            {%- endif -%}
          </span>

          <span class="nav-icon-item link">
            <i class="icon icon-shopping-cart-simple"></i>
          </span>
        </button>
      </cart-drawer-open>
    </li>
  {% endif %}
</ul>

{%- if icon_color != blank -%}
  <style>
    .tf-header #header-icons-{{ section.id }} .nav-icon-item,
    .tf-header #header-icons-{{ section.id }} .cart-drawer-open {
      color: {{ icon_color }};
    }
  </style>
{%- endif -%}

{%- if sticky_icon_color != blank -%}
  <style>
    .tf-header.is-fixed #header-icons-{{ section.id }} .nav-icon-item,
    .tf-header.is-fixed #header-icons-{{ section.id }} .cart-drawer-open {
      color: {{ sticky_icon_color }};
    }
  </style>
{%- endif -%}
