{% comment %}
  Renders add to cart icon or button
  
  Parameters:
  - type: 'icon' or 'button' (required)
  - product: Product object (required)
  - show_tooltip: Boolean to show/hide tooltips (default: true)
  - tooltip_direction: Direction for tooltips (top, bottom, left, right) (default: left)
{% endcomment %}
{% liquid 
  assign style_5 = false
  if settings.hover_style == 'style_5'
    assign style_5 = true
  endif
%}

{%- assign tooltip_class = 'hover-tooltip tooltip-' | append: tooltip_direction -%}
{% case type %}
  {% when 'icon' %}
    {% if product.available %}
      <add-to-cart data-variant-id="{{ product.selected_or_first_available_variant.id }}">
        <li>
          <button
            type="button"
            class="{% if show_tooltip %}{{ tooltip_class }}{% endif %} box-icon add-to-cart {% if style_5 %}link{% endif %}"
            data-variant-id="{{ product.selected_or_first_available_variant.id }}"
          >
            <span class="icon icon-shopping-cart-simple"></span>
            {% if show_tooltip %}<span class="tooltip">Add to cart</span>{% endif %}
          </button>
        </li>
      </add-to-cart>
    {% else %}
      <li>
        <button
          type="button"
          class="box-icon add-to-cart button--soldout"
            disabled="disabled"
          data-variant-id="{{ product.selected_or_first_available_variant.id }}"
        >
          <span class="icon icon-shopping-cart-simple"></span>
        </button>
      </li>
    {% endif %}

  {% when 'button' %}
    {% if product.available %}
      <add-to-cart data-variant-id="{{ product.selected_or_first_available_variant.id }}">
        <button type="button" class="tf-btn animate-btn add-to-cart" data-variant-id="{{ product.selected_or_first_available_variant.id }}">
          Add to Cart
          <i class="icon icon-shopping-cart-simple"></i>
        </button>
      </add-to-cart>
      {% else %}
        <button type="button" class="tf-btn animate-btn add-to-cart button--soldout"
          disabled="disabled"
          data-variant-id="{{ product.selected_or_first_available_variant.id }}">
          Add to Cart
          <i class="icon icon-shopping-cart-simple"></i>
        </button>
    {% endif %}
{% endcase %}