{% if block.type == 'mega_menu' and block.settings['menu-handle'] == link.handle %}
  {% comment %} Grid Layout {% endcomment %}
  {% if block.settings['menu-type'] == 'grid-layout' %}
    <div class="sub-menu mega-menu mega-home">
      <div class="container">
        <div class="row-demo">
          {% for i in (1..12) %}
            {% assign demo_image = 'demo_' | append: i | append: '_image' %}
            {% assign demo_url = 'demo_' | append: i | append: '_url' %}
            {% assign demo_name = 'demo_' | append: i | append: '_name' %}

            {% if demo_image != blank %}
              <div class="demo-item">
                <a href="index.html" class="demo-img">
                  <img
                    src="{{ block.settings[demo_image] | image_url: width: 600 }}"
                    alt="Demo {{ i }}"
                    loading="lazy"
                    width=""
                    height=""
                  >
                </a>
                <a href="{{ block.settings[demo_url] }}" class="demo-name">
                  {{ block.settings[demo_name] }}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="text-center">
          <a href="#modalDemo" data-bs-toggle="modal" class="tf-btn animate-btn"> View all demos (20) </a>
        </div>
      </div>
    </div>
  {% endif %}

  {% comment %} Column Collection {% endcomment %}
  {% if block.settings['menu-type'] == 'col-collection' %}
    <div class="sub-menu mega-menu">
      <div class="container">
        {% assign shop_menu = block.settings.mega_link_list %}

        {% if shop_menu != blank %}
          <div class="row">
            {% for level1 in shop_menu.links %}
              {% render 'mega-menu-link-cols', level1: level1 %}
            {% endfor %}
            <div class="col-6">
              <ul class="list-hor">
                {% render 'mega-menu-collection',
                  collection: block.settings.mega_collection_1,
                  btn: block.settings.mega_col_btn_text
                %}
                {% render 'mega-menu-collection',
                  collection: block.settings.mega_collection_2,
                  btn: block.settings.mega_col_btn_text
                %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% comment %} Column Product Layout {% endcomment %}
  {% if block.settings['menu-type'] == 'col-product' %}
    <div class="sub-menu mega-menu">
      <div class="container">
        {% assign shop_menu = block.settings.mega_prod_link_list %}

        {% if shop_menu != blank %}
          <div class="row">
            {% for level1 in shop_menu.links %}
              {% render 'mega-menu-link-cols', level1: level1 %}
            {% endfor %}
            <div class="col-4">
              <div class="mega-menu-item mn-none">
                <h4 class="menu-heading">{{ block.settings.mega_prod_title }}</h4>
                <ul class="list-ver">
                  {% render 'mega-product-horizontal', product: block.settings.mega_product_1 %}
                  {% render 'mega-product-horizontal', product: block.settings.mega_product_2 %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% comment %} Default Dropdown {% endcomment %}
  {% if block.settings['menu-type'] == 'dropdown' %}
    <div class="sub-menu mega-dropdown">
      <ul class="sub-menu_list">
        {% assign shop_menu = block.settings.dropdown_link_list %}

        {% if shop_menu != blank %}
          {% for child_link in shop_menu.links %}
            <li>
              <a href="{{ child_link.url }}" class="sub-menu_link">
                {{ child_link.title }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  {% endif %}
{% endif %}
