<li class="wg-cls hover-img">
  <a href="{{ collection.url }}" class="image img-style">
    <img
      src="{{ collection.featured_image |  image_url }}"
      data-src="{{ collection.featured_image |  image_url  }}"
      alt="Collection"
      class="lazyload"
      width=""
      height=""
    >
  </a>
  <div class="cls-content">
    <h4 class="tag_cls">{{ collection.title }}</h4>
    <span class="br-line type-vertical"></span>
    <a href="{{ collection.url }}" class="tf-btn-line"> {{ btn }} </a>
  </div>
</li>
