<div class="wd-full wg-pagination m-0 justify-content-center">
  {%- if paginate.previous -%}
    <a href="{{ paginate.previous.url }}" class="pagination-item h6 direct" aria-label="Previous page">
      <i class="icon icon-caret-left"></i>
    </a>
  {%- else -%}
    <span class="pagination-item h6 direct disabled" aria-disabled="true" tabindex="-1">
      <i class="icon icon-caret-left"></i>
    </span>
  {%- endif -%}

  {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
      <a href="{{ part.url }}" class="pagination-item h6" aria-label="Page {{ part.title }}">
        {{ part.title }}
      </a>
    {%- else -%}
      {%- if part.title == paginate.current_page -%}
        <span class="pagination-item h6 active" aria-current="page">
          {{ part.title }}
        </span>
      {%- else -%}
        <span class="pagination-item h6">
          {{ part.title }}
        </span>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if paginate.next -%}
    <a href="{{ paginate.next.url }}" class="pagination-item h6 direct" aria-label="Next page">
      <i class="icon icon-caret-right"></i>
    </a>
  {%- else -%}
    <span class="pagination-item h6 direct disabled" aria-disabled="true" tabindex="-1">
      <i class="icon icon-caret-right"></i>
    </span>
  {%- endif -%}
</div>
