{% doc %}
  Renders a product swiper grid for a collection.

  @param {string} collection_ref - Collection reference from settings
  @param {number} products_limit - Max products to show
  @param {string} grid_rows - Number of rows in the swiper grid
  @param {number} slides_desktop - Number of slides to show on desktop
  @param {number} slides_tablet - Number of slides to show on tablet
  @param {number} slides_mobile - Number of slides to show on mobile
  @param {string} countdown_size - Size of the countdown timer
  @param {number} space_desktop - Space between slides on desktop
  @param {number} space_tablet - Space between slides on tablet
  @param {number} space_mobile - Space between slides on mobile
  @param {boolean} show_stock - Show stock
  @param {string} stock_position - Stock position
  @param {string} swiper_classes - Additional classes
{% enddoc %}

<div
  dir="ltr"
  class="swiper tf-swiper wow fadeInUp {{ swiper_classes }}"
  data-preview="{{ slides_desktop }}"
  data-tablet="{{ slides_tablet }}"
  data-mobile-sm="{{ slides_mobile }}"
  data-mobile="2"
  data-space-lg="{{ space_desktop }}"
  data-space-md="{{ space_tablet }}"
  data-space="{{ space_mobile }}"
  data-pagination="2"
  data-pagination-sm="2"
  data-pagination-md="3"
  data-pagination-lg="4"
  data-grid="{{ grid_rows }}"
>
  <div class="swiper-wrapper">
    {%- liquid
      assign main_collection = collections[collection_ref]
      if main_collection == blank
        assign main_collection = collection_ref
      endif
    -%}
    {% if main_collection != blank %}
      {% for product in main_collection.products limit: products_limit %}
        <div class="swiper-slide">
          {% render 'card-product', 
            product: product, 
            show_wishlist: true, 
            show_compare: true, 
            show_quick_view: true,
            show_add_to_cart: true,
            countdown_size: countdown_size,
            show_stock: show_stock,
            stock_position: stock_position
          %}
        </div>
      {% endfor %}
    {% else %}
      {% for i in (1..4) %}
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product_wrapper {{ settings.card_height }} {{ settings.card_corners }} style-line-border">
              <div class="product-img placeholder">
                {{ 'product-apparel-' | append: i | placeholder_svg_tag: 'placeholder-svg w-100' }}
              </div>
            </div>
            <div class="card-product_info">
              <div class="name-product {{ settings.product_title_size }} link">{{ 'onboarding.product_title' | t }}</div>
              <div class="price-wrap">
                <span class="price-new {{ settings.product_title_size }}">{{ 1999 | money }}</span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="sw-dot-default tf-sw-pagination"></div>
</div>
