{% comment %}
  Renders a product swiper block with a section header.
  @param {object} section - The section object containing settings
{% endcomment %}

{% if section.settings.header_layout == 'with_subtitle' %}
  {% if section.settings.title != blank or section.settings.subtitle != blank %}
    <div class="sect-title {% if section.settings.subtitle == blank %}justify-content-center{% endif %} {{ section.settings.header_spacing }} text-center wow fadeInUp">
      {% liquid
        assign subtitle = false
        if section.settings.subtitle != blank
          assign subtitle = true
        endif
      %}

      {% render 'title',
        class: 's-title',
        title: section.settings.title,
        subtitle: subtitle,
        large_title: section.settings.heading_style,
        heading_weight: section.settings.heading_weight,
      %}

      {% if section.settings.subtitle != blank %}
        <p class="s-subtitle h6">{{ section.settings.subtitle | escape }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endif %}

{%  liquid 
  assign show_timer = false
  if section.settings.show_timer
    assign show_timer = true

    if section.settings.header_layout == 'with_button'
      assign header_class = "s-title flex-grow-1 flex-shrink-1 flex-basis-0"
      assign button_class = "d-flex justify-content-end flex-grow-1 flex-shrink-1 flex-basis-0"
    endif

    if section.settings.header_layout == "with_button_and_icon"
      assign header_class = "s-title flex-grow-1 flex-shrink-1 flex-basis-0"
      assign button_class = "flex-grow-1 flex-shrink-1 flex-basis-0"
    endif
  endif  
%}

{% if section.settings.header_layout == 'with_button' %}
  <div class="sect-title type-4 wow fadeInUp">
    {% liquid
      assign subtitle = false
      if section.settings.subtitle != blank
        assign subtitle = true
      endif    
    %}

    {% render 'title',
      class: header_class,
      title: section.settings.title,
      subtitle: false,
      large_title: section.settings.heading_style,
      heading_weight: section.settings.heading_weight,
    %}

    {% if show_timer %}
      <div class="count-down_v02 style-3">
        <countdown-timer class="cd-has-zero" data-date="{{ section.settings.end_date }}T{{ section.settings.end_time }}:00" data-layout="left" data-labels="Days,Hours,Mins,Secs"></countdown-timer>
      </div>
    {% endif %}

    {% if section.settings.button_link != blank %}
      <span class="{{ button_class }}">
        <a href="{{ section.settings.button_link }}" class="tf-btn-line">
          {{ section.settings.button_text }}
        </a>
      </span>
    {% endif %}
  </div>
{% endif %}

{% if section.settings.header_layout == 'with_button_and_icon' %}
  <div class="sect-title type-3 type-2 wow fadeInUp">
    <h2 class="type-semibold text-nowrap {{ header_class }}">{{ section.settings.title }}</h2>

    {% if show_timer %}
      <div class="count-down_v02 style-3">
        <countdown-timer class="cd-has-zero" data-date="{{ section.settings.end_date }}T{{ section.settings.end_time }}:00" data-layout="left" data-labels="Days,Hours,Mins,Secs"></countdown-timer>
      </div>
    {% endif %}

    {% if section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="tf-btn-icon h6 fw-medium text-nowrap {{ button_class }}">
        {{ section.settings.button_text }}
        <i class="icon icon-caret-circle-right"></i>
      </a>
    {% endif %}
  </div>
{% endif %}

{% assign swiper_classes = "" %}
{% if section.settings.show_seperator %}
  {% assign swiper_classes = "swiper-medical" %}
{% endif %}

{% render 'products-swiper',
  collection_ref: section.settings.collection.handle,
  products_limit: section.settings.products_limit,
  grid_rows: section.settings.grid_rows,
  slides_desktop: section.settings.slides_desktop,
  slides_tablet: section.settings.slides_tablet,
  slides_mobile: section.settings.slides_mobile,
  countdown_size: section.settings.countdown_size,
  space_desktop: section.settings.space_desktop,
  space_tablet: section.settings.space_tablet,
  space_mobile: section.settings.space_mobile,
  show_stock: section.settings.show_stock,
  stock_position: section.settings.stock_position,
  swiper_classes: swiper_classes,
%}
