{% comment %}
  Renders product variant-picker
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isnot updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', block: block, product: product %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  {% comment %} change to block.settings.picker_type == 'button' when ready {% endcomment %}
  {%- if block.settings.picker_type == 'button' -%}
    <variant-radios
      class="no-js-hidden tf-product-variant"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        {%- liquid
          assign is_color = false
          if block.settings.enable_color_swatches
            assign swatch_trigger = 'products.product.color_swatch_trigger' | t | downcase
            assign downcased_option = option.name | downcase
            if downcased_option contains swatch_trigger
              assign is_color = true
            elsif swatch_trigger == 'color' and downcased_option contains 'colour'
              assign is_color = true
            endif
          endif

          
          assign option_idx = forloop.index
          -%}
          {% comment %} assign is_size = false
          if block.settings.size_chart != blank
            assign size_trigger = 'products.product.size_chart_trigger' | t | downcase
            assign downcased_option = option.name | downcase
            if downcased_option contains size_trigger
              assign is_size = true
            endif
          endif {% endcomment %}
        <div class="variant-picker-item {% if option.name contains 'Size' %}variant-size{% endif %}{% if option.name contains 'Color' or option.name contains 'Colour' %}variant-color{% endif %}">
          {%- if block.settings.show_variant_labels -%}
            <div class="variant-picker-label">
              <div class="h4 fw-semibold">
                {{ option.name }}
                <span class="variant-picker-label-value {% if is_color %}value-currentColor{% elsif option.name contains 'Size' %}value-currentSize{% endif %}" data-option-index="option{{ option_idx }}">{{ option.selected_value }}</span>
              </div>
            </div>
          {%- endif -%}
          <fieldset
            class="variant-picker-values js product-form__input variant-input-wrapper"
            data-option-index="option{{ option_idx }}"
            data-option-slug="{{ option.name | handleize }}"
          >
            {%- for value in option.values -%}
              <input
                type="radio"
                id="{{ section.id }}-{{ product.id }}-{{ option.name }}-{{ forloop.index0 }}"
                name="{{ option.name }}"
                value="{{ value | escape }}"
                form="{{ product_form_id }}"
                {%- if option.selected_value == value %}
                  checked="checked"
                {% endif -%}
                data-option-value="{{ value | escape }}"
              >
              {%- if is_color -%}
                {% assign enable_image = block.settings.enable_swatch_image %}
                
                {%- liquid
                  assign color_image = value.swatch.image.src | image_url: width: 50, height: 50
                  assign color_rgb = value.swatch.color.rgb 
                  assign color_swatch_fallback = value | split: ' ' | last | handle
                  assign has_swatch_image = false
                  
                  if value.swatch.image and enable_image
                    assign color_image = value.swatch.image.src | image_url: width: 50, height: 50
                    assign has_swatch_image = true
                  endif
                -%}
                <label
                  for="{{ section.id }}-{{ product.id }}-{{ option.name }}-{{ forloop.index0 }}"
                  class="hover-tooltip tooltip-bot color-btn color__swatch {% if has_swatch_image or enable_image %} color__swatch--image{% endif %}"
                  style="{% if has_swatch_image %}--swatch-background-image: url({{ color_image }});{% elsif color_rgb != blank %}--swatch-background-color: rgb({{ color_rgb }}); {% else %}--swatch-background-color: {{ color_swatch_fallback }};{% endif %}"
                  title="{{ value | escape }}"
                >
                <span class="tooltip">{{ color_swatch_fallback }}</span>
                  <span class="check-color{% if has_swatch_image or enable_image %} check-image{% endif %} color__swatch-dot"
                    style="{% if has_swatch_image %}background-image: url({{ color_image }});{% endif %}"></span>
                </label>
              {%- else -%}
                <label
                  class="{% if option.name contains 'Size' %}size-btn{% endif %}
                  {% if option.name contains 'Color' or option.name contains 'Colour' %}color-btn-pill color-btn{% endif %}"
                  for="{{ section.id }}-{{ product.id }}-{{ option.name }}-{{ forloop.index0 }}"
                >
                  {{ value }}
                </label>
              {%- endif -%}
            {%- endfor -%}
            {% comment %}
              {%- if is_size -%}
                <div class="form__popup" id="size-{{ section.id }}">
                  <modal-opener class="no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                    <button id="ProductPopup-{{ block.id }}" class="link link-with-icon" type="button" aria-haspopup="dialog">
                      {% render 'icon', icon: 'ruler' %}
                      <span class="label">{{ 'products.product.size_chart' | t | default: block.settings.size_chart.title }}</span>
                    </button>
                  </modal-opener>
                  <a href="{{ block.settings.size_chart.url }}" class="link link-with-icon no-js">
                    {% render 'icon', icon: 'ruler' %}
                    <span class="label">{{ 'products.product.size_chart' | t | default: block.settings.size_chart.title }}</span>
                  </a>
                </div>
              {%- endif -%}
            {% endcomment %}
          </fieldset>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- else -%}
    <variant-selects
      class="no-js-hidden tf-product-variant"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        {%- liquid
            assign is_color = true
            assign swatch_trigger = 'products.product.color_swatch_trigger' | t | downcase
            assign downcased_option = option.name | downcase
            if downcased_option contains swatch_trigger
              assign is_color = true
            elsif swatch_trigger == 'color' and downcased_option contains 'colour'
              assign is_color = true
            endif
          assign option_idx = forloop.index
        -%}
        <div class="variant-picker-item">
          {%- if block.settings.show_variant_labels -%}
            <div class="variant-picker-label">
              <div class="h4 fw-semibold">
                {{ option.name }}
                <span class="variant-picker-label-value {% if is_color %}value-currentColor{% else %}value-currentSize{% endif %}"
                data-option-index="option{{ option_idx }}">
                  {{ option.selected_value }}
                </span>
              </div>
            </div>
          {%- endif -%}
          <div
            class="product-form__input product-form__input--dropdown variant-input-wrapper"
            data-option-index="option{{ option_idx }}"
            data-option-slug="{{ option.name | handleize }}"
          >
            <select
              id="Option-{{ section.id }}-{{ product.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
              style="display: none;"
            >
              {%- for value in option.values -%}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}
                    selected="selected"
                  {% endif %}
                >
                  {{ value }}
                </option>
              {%- endfor -%}
            </select>

            <div class="tf-variant-dropdown full" data-bs-toggle="dropdown">
              <div class="btn-select">
                <span class="text-sort-value">{{ option.selected_value }}</span>
                <span class="icon icon-caret-down"></span>
              </div>
              <div class="dropdown-menu">
                {%- for value in option.values -%}
                  <div
                    class="select-item{% if option.selected_value == value %} active{% endif %}"
                    data-value="{{ value | escape }}"
                  >
                    <span class="text-value-item">{{ value }}</span>
                  </div>
                {%- endfor -%}
              </div>
            </div>
            {% comment %} {%- if is_size -%}
              <div class="form__popup" id="size-{{ section.id }}">
                <modal-opener
                  class="no-js-hidden"
                  data-modal="#PopupModal-{{ block.id }}"
                  {{ block.shopify_attributes }}
                >
                  <button
                    id="ProductPopup-{{ block.id }}"
                    class="link link-with-icon"
                    type="button"
                    aria-haspopup="dialog"
                  >
                    {% render 'icon', icon: 'ruler' %}
                    <span class="label">
                      {{- 'products.product.size_chart' | t | default: block.settings.size_chart.title -}}
                    </span>
                  </button>
                </modal-opener>
                <a href="{{ block.settings.size_chart.url }}" class="link link-with-icon no-js">
                  {% render 'icon', icon: 'ruler' %}
                  <span class="label">
                    {{- 'products.product.size_chart' | t | default: block.settings.size_chart.title -}}
                  </span>
                </a>
              </div>
            {%- endif -%} {% endcomment %}
          </div>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endif -%}
{%- endunless -%}

<noscript>
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
    <div class="select">
      <select
        name="id"
        data-productid="{{ product.id }}"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled="disabled"
            {% endif %}
            value="{{ variant.id }}"
          >
            {{ variant.title }}
            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
            - {{ variant.price | money | strip_html }}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon', icon: 'caret' %}
    </div>
  </div>
</noscript>
