{% comment %}
  Renders share button with a theme-consistent popup layout.
  Accepts:
  - block: {Object} passing the block/section settings.
  - share_link: {String} URL to share.
  - share_title: {String} Title of the product.
{% endcomment %}

<share-button
  id="Share-{{ section.id }}"
  class="share-button"
  {{ block.shopify_attributes }}
>
  <button class="product-extra-icon link hidden" type="button">
    <i class="icon icon-share"></i>{{ block.settings.share_text }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="product-extra-icon link">
      <i class="icon icon-share"></i>{{ block.settings.share_text }}
    </summary>
  </details>
</share-button>
{{ 'component-share-button.css' | asset_url | stylesheet_tag }}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
