{%- if settings.social_facebook_link != blank -%}
<li>
  <a target="_blank" class="social-facebook" rel="noopener" href="{{ settings.social_facebook_link }}" aria-describedby="a11y-external-message">
      <span class="icon">
        <i class="icon-fb"></i>
      </span>
    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
  </a>
</li>
{%- endif -%}

{%- if settings.social_instagram_link != blank -%}
  <li>
    <a target="_blank" class="social-instagram" rel="noopener" href="{{ settings.social_instagram_link }}" aria-describedby="a11y-external-message">
      <span class="icon">
        <i class="icon-instagram-logo"></i>
      </span>
      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
    </a>
  </li>
{%- endif -%}

{%- if settings.social_twitter_link != blank -%}
  <li>
    <a target="_blank" class="social-x" rel="noopener" href="{{ settings.social_twitter_link }}" aria-describedby="a11y-external-message">
      <span class="icon">
        <i class="icon-x"></i>
      </span>
      <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
    </a>
  </li>
{%- endif -%}

{%- if settings.social_tiktok_link != blank -%}
  <li>
    <a target="_blank" class="social-tiktok" rel="noopener" href="{{ settings.social_tiktok_link }}" aria-describedby="a11y-external-message">
      <span class="icon">
        <i class="icon-tiktok"></i>
      </span>
      <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
    </a>
  </li>
{%- endif -%}
