{%- liquid
  assign image_ani_class = image_animation | default: ''
  assign fade_class = ''
  if enable_fade
    assign fade_class = 'fade-item'
  endif
-%}

<div class="slider-wrap {{ slider_style }}">
  <div class="sld_image">
    {% if block.settings.slide_image != blank %}
      <img
        src="{{ block.settings.slide_image | image_url: width: 1920 }}"
        data-src="{{ block.settings.slide_image | image_url: width: 1920 }}"
        alt="{{ block.settings.slide_title | escape }}"
        class="lazyload {{ image_ani_class }}"
        width=""
        height=""
      >
    {% else %}
      {% assign placeholder_index = index | modulo: 2 | plus: 1 %}
      {% assign placeholder_img = 'hero-apparel-' | append: placeholder_index %}
      {{ placeholder_img | placeholder_svg_tag }}
    {% endif %}
  </div>
  <div class="sld_content {% if slider_style == 'style-2' %}{{ block.settings.content_alignment }} {% endif %}{% if block.settings.slide_description == blank and block.settings.slide_subtitle == blank %}only-title {% endif %}">
    <div class="container">
      <div class="row">
        <div class="{% if slider_style == 'style-2' %}{% if block.settings.content_alignment contains 'text-end' %}ms-auto{% elsif block.settings.content_alignment contains 'text-center' %}mx-auto{% endif %} col-sm-8 col-10{% endif %}">
          <div class="content-sld_wrap {% if slider_style == 'style-2' %}{% if block.settings.content_alignment contains 'text-end' %}ms-sm-auto{% elsif block.settings.content_alignment contains 'text-center' %}mx-auto{% endif %}{% endif %}">
            {% if block.settings.slide_subtitle != blank %}
              <p class="sub-title_sld {{ subtitle_size }} {{ fade_class }} fade-item-1">
                {{ block.settings.slide_subtitle }}
              </p>
            {% endif %}
            {% if block.settings.slide_title != blank %}
              <h1 class="title_sld text-display {{ fade_class }} fade-item-2 {% if thin_title %}fw-normal {% endif %}">
                {{ block.settings.slide_title | newline_to_br }}
              </h1>
            {% endif %}
            {% if block.settings.slide_description != blank %}
              <p class="sub-text_sld h5  {{ fade_class }} fade-item-3">
                {{ block.settings.slide_description | newline_to_br }}
              </p>
            {% endif %}
            {% if block.settings.slide_link != blank %}
              <div class="{{ fade_class }} fade-item-4">
                <a href="{{ block.settings.slide_link }}" class="tf-btn {{ block.settings.btn_style }} animate-btn {% if thin_button_text %}fw-normal {% endif %}">
                  {{ block.settings.slide_button_text }}
                  <i class="icon icon-arrow-right"></i>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>