<div class="store-item {% if block.settings.image_position == 'right' %}flex-row-reverse flex-wrap-reverse{% endif %}">
  <!-- Image Column -->
  <div class="image">
    {% if block.settings.image != blank %}
      <img
        class="lazyload ani-zoom"
        src="{{ block.settings.image | image_url: width: 10 }}"
        data-src="{{ block.settings.image | image_url: width: 800 }}"
        alt="{{ block.settings.image.alt | escape }}"
        width="{{ block.settings.image.width }}"
        height="{{ block.settings.image.height }}"
      >
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>

  <!-- Content Column -->
  <div class="content {% if block.settings.image_position == 'left' %}type-right{% endif %}">
    {% if block.settings.store_name != blank %}
      <h2 class="name-store type-semibold">{{ block.settings.store_name }}</h2>
    {% endif %}

    <ul class="infor-store">
      {% content_for 'block', type: 'store-address', id: 'store-address' %}
      {% content_for 'block', type: 'store-contact', id: 'store-contact' %}
      {% content_for 'block', type: 'store-open', id: 'store-open' %}
      {% content_for 'block', type: 'store-social', id: 'store-social' %}
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Store item",
  "settings": [
    {
      "type": "text",
      "id": "store_name",
      "label": "Store Name",
      "default": "New York"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Store Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
    ],
    "presets": [
      {
        "name": "Store Item"
      }
    ]
}
{% endschema %}