
<div class="tf-topbar bg-black">
  <div class="container">
    <div class="row">

      <div class="col-xl-7 col-lg-8">
        <div class="topbar-left">

          <h6 class="text-up text-white fw-normal text-line-clamp-1">
            {{ section.settings.topbar_text }}
          </h6>

          <div class="group-btn">
            <a href="{{ section.settings.collection_1 }}" class="tf-btn-line style-white letter-space-0">
              {{ section.settings.collection_1.title }}
            </a>
            <a href="{{ section.settings.collection_2 }}" class="tf-btn-line style-white letter-space-0">
              {{ section.settings.collection_2.title }}
            </a>
          </div>

        </div>
      </div>

      <div class="col-xl-5 col-lg-4 d-none d-lg-block">
        <ul class="topbar-right topbar-option-list">

          <li class="h6">
            <a href="{{ section.settings.link_1_url }}" class="text-white link">
              {{ section.settings.link_1_label }}
            </a>
          </li>

          <li class="br-line"></li>

          <li class="h6">
            <a href="{{ section.settings.link_2_url }}" class="text-white link">
              {{ section.settings.link_2_label }}
            </a>
          </li>

          <li class="br-line d-none d-xl-inline-flex"></li>

          {%- comment -%} Currency Selector (Shopify Localization) {%- endcomment -%}
          
          {%- liquid
            assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
            assign show_currencies = false
            if currencies.size > 1
              assign show_currencies = true
            endif
          -%}

          <li class="tf-currencies d-none d-xl-block">
            <localization-form>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form position-static' -%}
              {% render 'country_localization', show_currencies: show_currencies, color_white: true %}
            {%- endform -%}
            </localization-form>
          </li>

          <li class="br-line d-none d-xl-inline-flex"></li>

          {%- comment -%} Language Selector (Shopify Localization) {%- endcomment -%}
          <li class="tf-languages d-none d-xl-block">
            <form class="position-static" method="post" action="{{ routes.localization_url }}">
              <input type="hidden" name="form_type" value="localization">
              <select
                name="locale_code"
                class="tf-dropdown-select style-default color-white type-languages"
                onchange="this.form.submit()"
              >
                {%- for language in localization.available_languages -%}
                  <option
                    value="{{ language.iso_code }}"
                    {% if language.iso_code == localization.language.iso_code %}selected{% endif %}
                  >
                    {{ language.endonym_name }}
                  </option>
                {%- endfor -%}
              </select>
            </form>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>


{% schema %}
{
  "name": "Topbar",
  "settings": [
    {
      "type": "text",
      "id": "topbar_text",
      "label": "Topbar announcement text",
      "default": "Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    },
    {
      "type": "header",
      "content": "CTA Buttons"
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection 1"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection 2"
    },
    {
      "type": "header",
      "content": "Topbar Links"
    },
    {
      "type": "text",
      "id": "link_1_label",
      "label": "Link 1 Label",
      "default": "Help & FAQs"
    },
    {
      "type": "url",
      "id": "link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "link_2_label",
      "label": "Link 2 Label",
      "default": "Factory"
    },
    {
      "type": "url",
      "id": "link_2_url",
      "label": "Link 2 URL"
    }
  ],
  "presets": [
    {
      "name": "Topbar",
      "category": "Header"
    }
  ]
}
{% endschema %}
