<style>
  .tf-topbar {
    background-color: {{ section.settings.bg_color }};
  }
  .tf-topbar .topbar-left .text-up, .tf-topbar .topbar-right .link, .tf-topbar .topbar-left .link, .tf-topbar .filter-option-inner-inner,
  .tf-topbar .tf-dropdown-select.style-default > .dropdown-toggle::after {
    color: {{section.settings.text_color }} ;
  }

  .tf-topbar .tf-btn-line::after {
    background-color: {{ section.settings.text_color }};
  }

  .tf-topbar .tf-btn-line {
    color: {{ section.settings.text_color }};
    background: linear-gradient(to right, var(--primary) 50%, {{ section.settings.text_color }} 50%);
    background-size: 200% 100%;
    background-position: right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s linear;
  }
</style>

{%- liquid
  assign layout_style = section.settings.topbar_layout
  assign container_class = section.settings.section_width
  assign left_col_class = 'col-xl-7 col-lg-8'
  assign right_col_class = 'col-xl-5 col-lg-4'

  if layout_style == 'style_2'
    assign left_col_class = 'col-xl-6 col-lg-8'
    assign right_col_class = 'col-xl-6 col-lg-4'
    if section.settings.show_seperator
      assign seperator_type = section.settings.seperator_type
    endif
  endif

  assign show_right_seperator = false
  if section.settings.show_right_seperator
    assign show_right_seperator = true
  endif
-%}

<div class="tf-topbar {{ section.settings.spacing }} {{ seperator_type }}" id="section-{{ section.id }}">
  <div class="{{ container_class }}">
    <div class="row">

      <div class="{{ left_col_class }}">
        <div class="topbar-left {% if layout_style == 'style_2' %}justify-content-center justify-content-sm-start{% endif %}">
          {%- if layout_style == 'style_1' -%}
            <h6 class="text-up fw-normal text-line-clamp-1">
              {{ section.settings.topbar_text }}
            </h6>

            <div class="group-btn">
              {%- if section.settings.collection_1 != blank -%}
                <a href="{{ section.settings.collection_1.url }}" class="tf-btn-line letter-space-0">
                  {{ section.settings.collection_1.title }}
                </a>
              {%- endif -%}
              {%- if section.settings.collection_2 != blank -%}
                <a href="{{ section.settings.collection_2.url }}" class="tf-btn-line letter-space-0">
                  {{ section.settings.collection_2.title }}
                </a>
              {%- endif -%}
            </div>
          {%- else -%}
            <ul class="topbar-option-list">
              {%- if section.settings.phone_number != blank -%}
                <li class="h6 d-none d-sm-flex">
                  <a href="tel:{{ section.settings.phone_number | replace: ' ', '' }}" class="link track">
                    <i class="icon icon-phone"></i> {{ section.settings.phone_text }}{{ section.settings.phone_number }}
                  </a>
                </li>
              {%- endif -%}
              {% if section.settings.topbar_layout == 'style_2' %}
                <li class="br-line d-none d-sm-flex bg-line opacity-100"></li>
              {% endif %}
              {% if section.settings.announcement_type == 'text' %}
                <li class="h6">
                  <a href="{{ section.settings.announcement_link | default: '#' }}" class="link">
                    {{ section.settings.topbar_text }}
                  </a>
                </li>
              {% elsif section.settings.announcement_type == 'email' %}
                <li class="h6">
                  <a href="mailto:{{ section.settings.email_address }}" class="link track">
                    <i class="icon icon-envelope-simple"></i>
                    <span>
                        {{ section.settings.email_label }}
                    </span>
                    <span>
                        {{ section.settings.email_address }}
                    </span>
                  </a>
                </li>
              {% endif %}
            </ul>
          {%- endif -%}
        </div>
      </div>

      <div class="{{ right_col_class }} d-none d-lg-block">
        <ul class="topbar-right topbar-option-list">

          <li class="h6">
            <a href="{{ section.settings.link_1_url | default: '#' }}" class="link">
              {{ section.settings.link_1_label }}
            </a>
          </li>
          
          {% if show_right_seperator %}
            <li class="br-line d-none d-sm-flex bg-line opacity-100"></li>
          {% endif %}

          <li class="h6">
            <a href="{{ section.settings.link_2_url | default: '#' }}" class="link track">
              {%- if layout_style == 'style_2' -%}
                <i class="icon icon-document-search"></i>
              {%- endif -%}
              {{ section.settings.link_2_label }}
            </a>
          </li>

          {% if show_right_seperator %}
            <li class="br-line d-none d-xl-inline-flex bg-line opacity-100"></li>
          {% endif %}

          {%- liquid
            assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
            assign show_currencies = false
            if currencies.size > 1
              assign show_currencies = true
            endif
          -%}

          {%- capture currency_html -%}
            <li class="tf-currencies d-none d-xl-block">
              <localization-form>
                {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form position-static' -%}
                  {% render 'country_localization', show_currencies: show_currencies, color_white: true %}
                {%- endform -%}
              </localization-form>
            </li>
          {%- endcapture -%}

          {%- capture language_html -%}
            <li class="tf-languages d-none d-xl-block">
              <form class="position-static" method="post" action="{{ routes.localization_url }}">
                <input type="hidden" name="form_type" value="localization">
                <select
                  name="locale_code"
                  class="tf-dropdown-select style-default type-languages"
                  onchange="this.form.submit()"
                >
                  {%- for language in localization.available_languages -%}
                    <option
                      value="{{ language.iso_code }}"
                      {% if language.iso_code == localization.language.iso_code %}selected{% endif %}
                    >
                      {{ language.endonym_name }}
                    </option>
                  {%- endfor -%}
                </select>
              </form>
            </li>
          {%- endcapture -%}

          {% if section.settings.switcher_layout == 'language' %}
            {{ language_html }}
            {% if show_right_seperator %}
              <li class="br-line d-none d-xl-inline-flex bg-line opacity-100"></li>
            {% endif %}
            {{ currency_html }}
          {% else %}
            {{ currency_html }}
            {% if show_right_seperator %}
              <li class="br-line d-none d-xl-inline-flex bg-line opacity-100"></li>
            {% endif %}
            {{ language_html }}
          {% endif %}
        </ul>
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Topbar",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "Layout Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-full-2",
          "label": "Full Width"
        }
      ]
    },
    {
      "type": "select",
      "id": "topbar_layout",
      "label": "Topbar Layout",
      "default": "style_1",
      "options": [
        {
          "value": "style_1",
          "label": "Collection"
        },
        {
          "value": "style_2",
          "label": "Support"
        }
      ]
    },
    {
      "type": "select",
      "id": "switcher_layout",
      "label": "Switcher Layout",
      "default": "currency",
      "options": [
        {
          "value": "currency",
          "label": "Currency First"
        },
        {
          "value": "language",
          "label": "Language First"
        }
      ]
    },
    {
      "type": "select",
      "id": "spacing",
      "label": "Spacing",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "type-space-2",
          "label": "Medium"
        },
        {
          "value": "type-space-3",
          "label": "Extended"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "show_seperator",
      "label": "Show Bottom Seperator"
    },
    {
      "type": "select",
      "id": "seperator_type",
      "label": "Seperator Type",
      "visible_if": "{{ section.settings.show_seperator }}",
      "options": [
        {
          "value": "line-bt-3",
          "label": "Style 1"
        },
        {
          "value": "line-bt",
          "label": "Style 2"
        }
      ]
    },
    {
      "type": "select",
      "id": "announcement_type",
      "label": "Announcement Type",
      "visible_if": "{{ section.settings.topbar_layout == 'style_2' }}",
      "default": "text",
      "options": [
        {
          "value": "text",
          "label": "Text"
        },
        {
          "value": "email",
          "label": "Email"
        }
      ]
    },
    {
      "type": "text",
      "id": "topbar_text",
      "label": "Announcement Text",
      "default": "Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit",
      "visible_if": "{{ section.settings.announcement_type == 'text' }}"
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection 1",
      "info": "Select a collection to display in the announcement bar"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection 2",
      "info": "Select a collection to display in the announcement bar"
    },
    {
      "type": "header",
      "content": "Topbar Links",
      "visible_if": "{{ section.settings.topbar_layout == 'style_2' or section.settings.announcement_type == 'email' }}"
    },
    {
      "type": "text",
      "id": "email_label",
      "label": "Email Label",
      "default": "Email us:",
      "visible_if": "{{ section.settings.announcement_type == 'email' }}"
    },
    {
      "type": "text",
      "id": "email_address",
      "label": "Email Address",
      "default": "support@ochaka.com",
      "visible_if": "{{ section.settings.announcement_type == 'email' }}"
    },
    {
      "type": "text",
      "id": "phone_text",
      "label": "Phone Text",
      "default": "Call us for free:",
      "visible_if": "{{ section.settings.topbar_layout == 'style_2' }}"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Number",
      "default": "+1(800) 123 4567",
      "visible_if": "{{ section.settings.topbar_layout == 'style_2' }}"
    },
    {
      "type": "header",
      "content": "Right Content"
    },
    {
      "type": "checkbox",
      "id": "show_right_seperator",
      "label": "Show Seperator",
      "default": true
    },
    {
      "type": "text",
      "id": "link_1_label",
      "label": "Link 1 Label",
      "default": "Help & FAQs"
    },
    {
      "type": "url",
      "id": "link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "link_2_label",
      "label": "Link 2 Label",
      "default": "Factory"
    },
    {
      "type": "url",
      "id": "link_2_url",
      "label": "Link 2 URL"
    }
  ],
  "presets": [
    {
      "name": "Topbar",
      "category": "Header"
    }
  ]
}
{% endschema %}
