<style>
  .tf-topbar {
    background-color: {{ section.settings.bg_color }};
  }
  .tf-topbar .topbar-left .text-up, .tf-topbar .topbar-right .link, .tf-topbar .topbar-left .link, .tf-topbar .filter-option-inner-inner,
  .tf-topbar .tf-dropdown-select.style-default > .dropdown-toggle::after {
    color: {{section.settings.text_color }} ;
  }

  .tf-topbar .tf-btn-line::after {
    background-color: {{ section.settings.text_color }};
  }

  .tf-topbar .tf-btn-line {
    color: {{ section.settings.text_color }};
    background: linear-gradient(to right, var(--primary) 50%, {{ section.settings.text_color }} 50%);
    background-size: 200% 100%;
    background-position: right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s linear;
  }
</style>

{%- liquid
  assign layout_style = section.settings.topbar_layout
  assign container_class = 'container'
  assign left_col_class = 'col-xl-7 col-lg-8'
  assign right_col_class = 'col-xl-5 col-lg-4'
  assign wrapper_extra = ''

  if layout_style == 'style_2'
    assign container_class = 'container-full-2'
    assign left_col_class = 'col-xl-6 col-lg-8'
    assign right_col_class = 'col-xl-6 col-lg-4'
    if section.settings.show_seperator
      assign wrapper_extra = 'line-bt-3'
    endif
  elsif section.settings.show_seperator
    assign wrapper_extra = 'line-bt'
  endif
-%}

<div class="tf-topbar {{ section.settings.spacing }} {{ wrapper_extra }}" id="section-{{ section.id }}">
  <div class="{{ container_class }}">
    <div class="row">

      <div class="{{ left_col_class }}">
        <div class="topbar-left {% if layout_style == 'style_2' %}justify-content-center justify-content-sm-start{% endif %}">
          {%- if layout_style == 'style_1' -%}
            <h6 class="text-up fw-normal text-line-clamp-1">
              {{ section.settings.topbar_text }}
            </h6>

            <div class="group-btn">
              {%- if section.settings.collection_1 != blank -%}
                <a href="{{ section.settings.collection_1.url }}" class="tf-btn-line letter-space-0">
                  {{ section.settings.collection_1.title }}
                </a>
              {%- endif -%}
              {%- if section.settings.collection_2 != blank -%}
                <a href="{{ section.settings.collection_2.url }}" class="tf-btn-line letter-space-0">
                  {{ section.settings.collection_2.title }}
                </a>
              {%- endif -%}
            </div>
          {%- else -%}
            <ul class="topbar-option-list">
              {%- if section.settings.phone_text != blank -%}
                <li class="h6 d-none d-sm-flex">
                  <a href="{{ section.settings.phone_link | default: 'tel:' | append: section.settings.phone_text | replace: ' ', '' }}" class="link track">
                    <i class="icon icon-phone"></i> {{ section.settings.phone_text }}
                  </a>
                </li>
                <li class="br-line d-none d-sm-flex"></li>
              {%- endif -%}
              <li class="h6">
                <a href="{{ section.settings.announcement_link | default: '#' }}" class="link">
                  {{ section.settings.topbar_text }}
                </a>
              </li>
            </ul>
          {%- endif -%}
        </div>
      </div>

      <div class="{{ right_col_class }} d-none d-lg-block">
        <ul class="topbar-right topbar-option-list">

          <li class="h6">
            <a href="{{ section.settings.link_1_url | default: '#' }}" class="link">
              {{ section.settings.link_1_label }}
            </a>
          </li>

          <li class="br-line"></li>

          <li class="h6">
            <a href="{{ section.settings.link_2_url | default: '#' }}" class="link track">
              {%- if layout_style == 'style_2' -%}
                <i class="icon icon-document-search"></i>
              {%- endif -%}
              {{ section.settings.link_2_label }}
            </a>
          </li>

          <li class="br-line d-none d-xl-inline-flex"></li>

          {%- comment -%} Currency Selector (Shopify Localization) {%- endcomment -%}
          
          {%- liquid
            assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
            assign show_currencies = false
            if currencies.size > 1
              assign show_currencies = true
            endif
          -%}

          <li class="tf-currencies d-none d-xl-block">
            <localization-form>
              {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form position-static' -%}
                {% render 'country_localization', show_currencies: show_currencies, color_white: true %}
              {%- endform -%}
            </localization-form>
          </li>

          <li class="br-line d-none d-xl-inline-flex"></li>

          {%- comment -%} Language Selector (Shopify Localization) {%- endcomment -%}
          <li class="tf-languages d-none d-xl-block">
            <form class="position-static" method="post" action="{{ routes.localization_url }}">
              <input type="hidden" name="form_type" value="localization">
              <select
                name="locale_code"
                class="tf-dropdown-select style-default type-languages"
                onchange="this.form.submit()"
              >
                {%- for language in localization.available_languages -%}
                  <option
                    value="{{ language.iso_code }}"
                    {% if language.iso_code == localization.language.iso_code %}selected{% endif %}
                  >
                    {{ language.endonym_name }}
                  </option>
                {%- endfor -%}
              </select>
            </form>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Topbar",
  "settings": [
    {
      "type": "select",
      "id": "topbar_layout",
      "label": "Topbar Layout",
      "default": "style_1",
      "options": [
        {
          "value": "style_1",
          "label": "Collection"
        },
        {
          "value": "style_2",
          "label": "Support"
        }
      ]
    },
    {
      "type": "select",
      "id": "spacing",
      "label": "Spacing",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "type-space-2",
          "label": "Medium"
        },
        {
          "value": "type-space-3",
          "label": "Extended"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "show_seperator",
      "label": "Show Seperator",
      "default": true
    },
    {
      "type": "text",
      "id": "topbar_text",
      "label": "Announcement Text",
      "default": "Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection 1"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection 2"
    },
    {
      "type": "header",
      "content": "Topbar Links"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "Announcement Link",
      "visible_if": "{{ section.settings.topbar_layout == 'style_2' }}"
    },
    {
      "type": "text",
      "id": "phone_text",
      "label": "Phone Text",
      "default": "+1(800) 123 4567",
      "visible_if": "{{ section.settings.topbar_layout == 'style_2' }}"
    },
    {
      "type": "url",
      "id": "phone_link",
      "label": "Phone Link (Custom)",
      "visible_if": "{{ section.settings.topbar_layout == 'style_2' }}"
    },
    {
      "type": "header",
      "content": "Right Content Links"
    },
    {
      "type": "text",
      "id": "link_1_label",
      "label": "Link 1 Label",
      "default": "Help & FAQs"
    },
    {
      "type": "url",
      "id": "link_1_url",
      "label": "Link 1 URL"
    },
    {
      "type": "text",
      "id": "link_2_label",
      "label": "Link 2 Label",
      "default": "Factory"
    },
    {
      "type": "url",
      "id": "link_2_url",
      "label": "Link 2 URL"
    }
  ],
  "presets": [
    {
      "name": "Topbar",
      "category": "Header"
    }
  ]
}
{% endschema %}
