{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }

  .section-{{ section.id }} .sub-title {
    color: {{ section.settings.subtitle_color }};
  }
  .section-{{ section.id }} .title .link,
  .section-{{ section.id }} .sub-text {
    color: {{ section.settings.text_color }};
  }
  .section-{{ section.id }} .tf-btn {
    background-color: {{ section.settings.btn_bg_color }};
    color: {{ section.settings.btn_text_color }};
    border-color: {{ section.settings.btn_bg_color }};
  }
  .section-{{ section.id }} .tf-btn:hover {
    background-color: transparent;
    color: {{ section.settings.btn_bg_color }};
  }
{%- endstyle -%}

<section class="themesFlat section-{{ section.id }} section-{{ section.id }}-padding">
  <div class="banner-V03">
    <div class="banner_img">
      {%- if section.settings.banner_image != blank -%}
        <img 
          src="{{ section.settings.banner_image | image_url: width: 2000 }}" 
          data-src="{{ section.settings.banner_image | image_url: width: 2000 }}" 
          alt="{{ section.settings.banner_image.alt | escape }}" 
          class="lazyload"
          width="{{ section.settings.banner_image.width }}"
          height="{{ section.settings.banner_image.height }}"
        >
      {%- else -%}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
    <div class="banner_content wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8">
            {%- if section.settings.subtitle != blank -%}
              <h4 class="sub-title">
                {{- section.settings.subtitle -}}
              </h4>
            {%- endif -%}
            
            {%- if section.settings.title != blank -%}
              <h1 class="title">
                <a href="{{ section.settings.button_url | default: '#' }}" class="link text-line-clamp-2">
                  {{- section.settings.title -}}
                </a>
              </h1>
            {%- endif -%}
            
            {%- if section.settings.text != blank -%}
              <p class="sub-text text-line-clamp-2">
                {{- section.settings.text -}}
              </p>
            {%- endif -%}

            {%- if section.settings.button_label != blank -%}
              <a href="{{ section.settings.button_url | default: '#' }}" class="tf-btn">
                {{- section.settings.button_label -}}
                <i class="icon icon-arrow-right"></i>
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner Promotion",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle Color",
      "default": "#EFB122"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Button Background Color",
      "default": "#EFB122"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Button Text Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "SALE upto 50%"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "The Best Way Pet Food Conner"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Description",
      "default": "Immune Support & Overall Health for All Dogs! Boost your dog's natural defenses with this nutrient-rich dog"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Desktop padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding Top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 112
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 112
    },
    {
      "type": "header",
      "content": "Tablet padding"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "header",
      "content": "Mobile padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "default": 60
    }
  ],
  "presets": [
    {
      "name": "Banner Promotion"
    }
  ]
}
{% endschema %}