{%- liquid
  assign layout_style = section.settings.layout_style | default: 'layout_1'
  assign is_layout_1 = false

  if layout_style == 'layout_1'
    assign is_layout_1 = true
    assign wrapper_class = 'box-image_V04 hover-img'
    assign content_class = 'box-image_content align-items-center text-center'
    assign btn_extra_class = ''
  else
    assign wrapper_class = 'box-image_V01 type-3 hover-img'
    assign content_class = 'box-image_content'
    assign btn_extra_class = ' wow fadeInUp'
  endif
-%}

<section class="themesFlat">
  <div class="container-full-2">
    <div class="tf-grid-layout lg-col-2 gap-0">
      {%- for block in section.blocks -%}
        <div class="{{ wrapper_class }}" {{ block.shopify_attributes }}>
          <a href="{{ block.settings.link | default: '#' }}" class="box-image_image img-style">
            {%- if block.settings.image != blank -%}
              <img
                src="{{ block.settings.image | image_url: width: 1000 }}"
                data-src="{{ block.settings.image | image_url: width: 1000 }}"
                alt="{{ block.settings.image.alt | escape }}"
                class="lazyload"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
              >
            {%- else -%}
              {{ 'collection-' | append: forloop.index | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </a>
          <div class="{{ content_class }}">
            {%- if block.settings.sub_text != blank -%}
              {% if is_layout_1 %}
                <span class="sub-text h6 text-primary">{{ block.settings.sub_text }}</span>
              {% else %}
                <h6 class="sub-title fw-normal text-primary wow fadeInUp">
                  {{ block.settings.sub_text }}
                </h6>
              {% endif %}
            {%- endif -%}

            {%- if block.settings.title != blank -%}
              {% if is_layout_1 %}
                <h2 class="title type-semibold">
                  <a href="{{ block.settings.link | default: '#' }}" class="link">
                    {{ block.settings.title }}
                  </a>
                </h2>
              {% else %}
                <a
                  href="{{ block.settings.link | default: '#' }}"
                  class="title h2 link{{ btn_extra_class }}"
                >
                  {{ block.settings.title }}
                </a>
              {% endif %}
            {%- endif -%}

            {%- if block.settings.description != blank -%}
              {% if is_layout_1 %}
                <p class="sub-title h6">{{ block.settings.description }}</p>
              {% else %}
                <p class="desc h6 wow fadeInUp">{{ block.settings.description }}</p>
              {% endif %}
            {%- endif -%}

            {%- if block.settings.button_text != blank -%}
              <a
                href="{{ block.settings.link | default: '#' }}"
                class="tf-btn animate-btn{{ btn_extra_class }}"
              >
                {{ block.settings.button_text }}
                <i class="icon icon-arrow-right"></i>
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Box Collection",
  "settings": [
    {
      "type": "select",
      "id": "layout_style",
      "label": "Layout style",
      "options": [
        {
          "value": "layout_1",
          "label": "Layout 1"
        },
        {
          "value": "layout_2",
          "label": "Layout 2"
        }
      ],
      "default": "layout_1"
    }
  ],
  "blocks": [
    {
      "type": "box",
      "name": "Box",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "sub_text",
          "label": "Sub Text",
          "default": "SALE OFF 50%"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Wall Shelves For Bathroom"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Keep your bathroom neat and tidy with wall shelves."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Box Collection",
      "blocks": [
        {
          "type": "box"
        },
        {
          "type": "box"
        }
      ]
    }
  ]
}
{% endschema %}
