<div class="s-collection">
  <div
    dir="ltr"
    class="swiper tf-swiper"
    data-preview="3"
    data-tablet="2"
    data-mobile-sm="2"
    data-mobile="1"
    data-pagination="1"
    data-space-lg="24"
    data-space-md="15"
    data-space="10"
    data-pagination-sm="1"
    data-pagination-md="2"
    data-pagination-lg="3"
  >
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign collection = block.settings.collection %}

        {% if collection != blank %}
          <div class="swiper-slide" {{ block.shopify_attributes }}>
            <div class="wg-cls-2 d-flex hover-img">
              <a href="{{ collection.url }}" class="image img-style">
                {% if collection.featured_image %}
                  {{
                    collection.featured_image
                    | image_url: width: 800
                    | image_tag: loading: 'lazy', class: 'lazyload', alt: collection.title
                  }}
                {% endif %}
              </a>

              <div class="cls-content_wrap b-16">
                <div class="cls-content">
                  <a href="{{ collection.url }}" class="tag_cls h3 link">
                    {{ collection.title }}
                  </a>
                  <span class="br-line type-vertical"></span>
                  <a href="{{ collection.url }}" class="tf-btn-line text-nowrap">
                    {{ block.settings.button_text }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="sw-dot-default tf-sw-pagination"></div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Slider",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection Item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Shop now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Slider",
      "category": "Collection",
      "blocks": [
        { "type": "collection_item" },
        { "type": "collection_item" },
        { "type": "collection_item" }
      ]
    }
  ]
}
{% endschema %}

