{%- style -%}
  .section-{{ section.id }}-divider {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  .section-{{ section.id }}-divider .br-line {
    background-color: {{ section.settings.line_color }};
    opacity: {{ section.settings.line_opacity }};
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-divider {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-divider {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-divider">
  <div class="{% if section.settings.full_width %}px-50{% else %}container{% endif %} d-flex">
    <span class="br-line"></span>
  </div>
</div>

{% schema %}
{
  "name": "Divider Line",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "color",
      "id": "line_color",
      "label": "Line color",
      "default": "#e1e1e1"
    },
    {
      "type": "range",
      "id": "line_opacity",
      "label": "Line opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 1
    },
    {
      "type": "header",
      "content": "Desktop padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 40
    },
    {
      "type": "header",
      "content": "Tablet padding"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 32
    },
    {
      "type": "header",
      "content": "Mobile padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Divider Line"
    }
  ]
}
{% endschema %}
