{% style %}
  .section-{{ section.id }}-featured-blog {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-featured-blog {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-featured-blog {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
{% endstyle %}

<div class="section-{{ section.id }}-featured-blog">
  <div class="container">

    {% if section.settings.header_layout == 'with_subtitle' %}
      {% if section.settings.heading != blank or section.settings.subheading != blank %}
        <div class="sect-title {% if section.settings.subheading == blank %}justify-content-center{% endif %} {{ section.settings.header_spacing }} text-center wow fadeInUp">
          {% liquid
            assign subtitle = false
            if section.settings.subheading != blank
              assign subtitle = true
            endif
          %}

          {% render 'title', 
            class: 's-title',
            title: section.settings.heading,
            subtitle: subtitle,
            large_title: section.settings.heading_style,
            heading_weight: section.settings.heading_weight,
          %}
          {% if section.settings.subheading != blank %}
            <p class="s-subtitle h6">{{ section.settings.subheading }}</p>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

    {% if section.settings.header_layout == 'with_button_and_icon' %}
      <div class="sect-title type-3 type-2 wow fadeInUp">
        <h2 class="s-title type-semibold text-nowrap">{{ section.settings.heading }}</h2>
        {% if section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="tf-btn-icon h6 fw-medium text-nowrap">
            {{ section.settings.button_text }}
            <i class="icon icon-caret-circle-right"></i>
          </a>
        {% endif %}
      </div>
    {% endif %}

    <div
      dir="ltr"
      class="swiper tf-swiper"
      data-preview="{{ section.settings.slides_to_show_desktop }}"
      data-tablet="{{ section.settings.slides_to_show_tablet }}"
      data-mobile-sm="{{ section.settings.slides_to_show_mobile }}"
      data-mobile="1"
      data-space-lg="{{ section.settings.slides_spacing_desktop }}"
      data-space-md="{{ section.settings.slides_spacing_tablet }}"
      data-space="{{ section.settings.slides_spacing_mobile }}"
      data-pagination="1"
      data-pagination-sm="2"
      data-pagination-md="3"
      data-pagination-lg="4"
    >
      <div class="swiper-wrapper">

        {% assign blog = section.settings.blog %}
        {% if blog != blank %}
          {% for article in blog.articles limit: section.settings.posts_limit %}
            <div class="swiper-slide">
              <div
                class="article-blog {{ section.settings.blog_style }} hover-img4 wow fadeInLeft"
                {% if forloop.index0 > 0 %}
                  data-wow-delay="{{ forloop.index0 | times: 0.1 }}s"
                {% endif %}
              >
                <a href="{{ article.url }}" class="entry_image img-style4">
                  {% if article.image %}
                    {{
                      article.image
                      | image_url: width: 900
                      | image_tag:
                        loading: 'lazy',
                        class: 'lazyload aspect-ratio-0',
                        alt: article.title
                    }}
                  {% endif %}
                </a>
                
                {% if section.settings.show_date == "tag"%}
                  <div class="entry_tag">
                    <a href="{{ blog.url }}" class="name-tag h6 link">
                      {{ article.published_at | date: "%B %d, %Y" }}
                    </a>
                  </div>
                {% endif %}

                <div class="blog-content {% if section.settings.disable_content_spacing %}p-0{% endif %}">
                  <a href="{{ article.url }}" class="entry_name link h4">
                    {{ article.title }}
                  </a>

                  {% if section.settings.show_excerpt %}
                    {% if article.excerpt != blank %}
                      <p class="text h6">
                        {{ article.excerpt | strip_html | truncate: 120 }}
                      </p>
                    {% endif %}
                  {% endif %}

                  {% if section.settings.show_date == "date" %}
                    <p class="entry_date">
                      {{ article.published_at | date: "%B %d, %Y" }}
                    </p>
                  {% endif %}
                  {% if section.settings.show_read_more %}
                    <a href="{{ article.url }}" class="tf-btn-line">
                      {{ section.settings.read_more_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>

      <div class="sw-dot-default tf-sw-pagination"></div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Featured Blog",
  "settings": [
    {
      "type": "select",
      "id": "header_layout",
      "label": "Header Layout",
      "options": [
        {
          "value": "with_subtitle",
          "label": "With Subtitle"
        },

        {
          "value": "with_button_and_icon",
          "label": "With Button and Icon"
        }
      ],
      "default": "with_subtitle"
    },
    {
      "type": "select",
      "id": "header_spacing",
      "label": "Header Spacing",
      "options": [
        {
          "value": "type-4",
          "label": "Default"
        },
        {
          "value": "",
          "label": "Extended Space"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "blog_style",
      "label": "Blog Style",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "type-space-2",
          "label": "Extended Space"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "show_date",
      "label": "Show Date",
      "options": [
        {
          "value": "tag",
          "label": "Tag"
        },
        {
          "value": "date",
          "label": "Date"
        }
      ],
      "default": "tag"
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "Show Read More",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show Excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "disable_content_spacing",
      "label": "Disable Content Spacing",
      "default": false,
      "visible_if": "{{ section.settings.blog_style == '' }}"
    },
    {
      "type": "range",
      "id": "slides_to_show_desktop",
      "label": "Slides desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "slides_to_show_tablet",
      "label": "Slides tablet",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "slides_to_show_mobile",
      "label": "Slides mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "slides_spacing_desktop",
      "label": "Spacing desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 48
    },
    {
      "type": "range",
      "id": "slides_spacing_tablet",
      "label": "Spacing tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 24
    },
    {
      "type": "range",
      "id": "slides_spacing_mobile",
      "label": "Spacing mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 12
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Read Our Blog"
    },
    {
      "type": "select",
      "id": "heading_style",
      "label": "Heading Style",
      "options": [
        {
          "value": "true",
          "label": "Large"
        },
        {
          "value": "false",
          "label": "Small"
        }
      ],
      "default": "true"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit",
      "visible_if": "{{ section.settings.header_layout == 'with_subtitle' }}"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "visible_if": "{{ section.settings.header_layout == 'with_button_and_icon' }}"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "View All",
      "visible_if": "{{ section.settings.header_layout == 'with_button_and_icon' }}"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    },
    {
      "type": "range",
      "id": "posts_limit",
      "label": "Number of posts",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Button Label",
      "default": "Read more"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Tablet",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Tablet",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Featured Blog",
      "category": "Blog"
    }
  ]
}
{% endschema %}
