<div class="{% if section.settings.spacing %}flat-spacing{% endif %}">
  <div class="container">

    {% if section.settings.heading != blank or section.settings.subheading != blank %}
      <div class="sect-title text-center wow fadeInUp">
        {% liquid
          assign subtitle = false
          if section.settings.subheading != blank
            assign subtitle = true
          endif
        %}

        {% if section.settings.heading_style == 'large' %}
          {% render 'title', 
            class: 's-title',
            title: section.settings.heading,
            subtitle: subtitle,
            large_title: true,
            heading_weight: section.settings.heading_weight,
          %}
        {% else %}
          {% render 'title', 
            class: 's-title',
            title: section.settings.heading,
            subtitle: subtitle,
            large_title: false,
            heading_weight: section.settings.heading_weight,
          %}
        {% endif %}
        <p class="s-subtitle h6">{{ section.settings.subheading }}</p>
      </div>
    {% endif %}

    <div
      dir="ltr"
      class="swiper tf-swiper"
      data-preview="{{ section.settings.slides_to_show_desktop }}"
      data-tablet="3"
      data-mobile-sm="2"
      data-mobile="1"
      data-space-lg="48"
      data-space-md="24"
      data-space="12"
      data-pagination="1"
      data-pagination-sm="2"
      data-pagination-md="3"
      data-pagination-lg="4"
    >
      <div class="swiper-wrapper">

        {% assign blog = section.settings.blog %}
        {% if blog != blank %}
          {% for article in blog.articles limit: section.settings.posts_limit %}
            <div class="swiper-slide">
              <div
                class="article-blog type-space-2 hover-img4 wow fadeInLeft"
                {% if forloop.index0 > 0 %}
                  data-wow-delay="{{ forloop.index0 | times: 0.1 }}s"
                {% endif %}
              >
                <a href="{{ article.url }}" class="entry_image img-style4">
                  {% if article.image %}
                    {{
                      article.image
                      | image_url: width: 900
                      | image_tag:
                        loading: 'lazy',
                        class: 'lazyload aspect-ratio-0',
                        alt: article.title
                    }}
                  {% endif %}
                </a>

                <div class="entry_tag">
                  <a href="{{ blog.url }}" class="name-tag h6 link">
                    {{ article.published_at | date: "%B %d, %Y" }}
                  </a>
                </div>

                <div class="blog-content">
                  <a href="{{ article.url }}" class="entry_name link h4">
                    {{ article.title }}
                  </a>

                  <p class="text h6">
                    {{ article.excerpt | strip_html | truncate: 120 }}
                  </p>

                  <a href="{{ article.url }}" class="tf-btn-line">
                    {{ section.settings.read_more_text }}
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>

      <div class="sw-dot-default tf-sw-pagination"></div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Featured Blog",
  "settings": [
    {
      "type": "checkbox",
      "id": "spacing",
      "label": "Enable Section Spacing"
    },
    {
      "type": "range",
      "id": "slides_to_show_desktop",
      "label": "Slides to show on desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Read Our Blog"
    },
    {
      "type": "select",
      "id": "heading_style",
      "label": "Heading Style",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "none"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    },
    {
      "type": "range",
      "id": "posts_limit",
      "label": "Number of posts",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Button Label",
      "default": "Read more"
    }
  ],
  "presets": [
    {
      "name": "Featured Blog",
      "category": "Blog"
    }
  ]
}
{% endschema %}
