<style>
#featured-product-{{ section.id }} {
  background-color: {{ section.settings.background_color }};
}
</style>

{% assign product_form_id = 'product-form-' | append: section.id %}
{%- assign featured_product = section.settings.featured_product -%}
<section id="featured-product-{{ section.id }}" class="featured-product flat-spacing s-banner-shop">
  <div class="container">
    <div class="row section-image-zoom">
      <div class="col-lg-6">
        <div class="tf-product-media-wrap sticky-top">
          <div class="product-thumbs-slider thumbs-abs">
            <div
              dir="ltr"
              class="swiper tf-product-media-thumbs other-image-zoom"
              data-direction="vertical"
              data-preview="4.7"
            >
              <div class="swiper-wrapper stagger-wrap">
                {% if featured_product != blank %}
                  {% for image in featured_product.images limit: 4 %}
                    <div class="swiper-slide stagger-item">
                      <div class="item">
                        {{ image | image_url: width: 100 | image_tag: 
                          class: 'lazyload', 
                          loading: 'lazy', 
                          alt: image.alt 
                        }}
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  {% for i in (1..4) %}
                    <div class="swiper-slide stagger-item">
                      <div class="item">
                        {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="flat-wrap-media-product">
              <div dir="ltr" class="swiper tf-product-media-main" id="gallery-swiper-started">
                <div class="swiper-wrapper">
                  {% if featured_product != blank %}
                    {% for image in featured_product.images %}
                      <div class="swiper-slide">
                        <a
                          href="{{ image | image_url }}"
                          target="_blank"
                          class="item"
                          data-pswp-width="{{ image.width }}px"
                          data-pswp-height="{{ image.height }}px"
                        >
                          <img
                            class="tf-image-zoom lazyload"
                            data-zoom="{{ image | image_url }}"
                            src="{{ image | image_url: width: 696 }}"
                            alt="{{ image.alt }}"
                            width="{{ image.width }}"
                            height="{{ image.height }}"
                          >
                        </a>
                      </div>
                    {% endfor %}
                  {% else %}
                    <div class="swiper-slide">
                      <div class="item">
                        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    </div>
                  {% endif %}
                </div>
                <!-- <div class="swiper-button-next button-style-arrow thumbs-next"></div> -->
                <!-- <div class="swiper-button-prev button-style-arrow thumbs-prev"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="tf-product-info-wrap position-relative mt-lg-0">
          <div class="tf-zoom-main sticky-top"></div>
          <div class="tf-product-info-list other-image-zoom">
            <h2 class="product-info-name fw-medium h1">
              <a href="{{ featured_product.url | default: '#' }}" class="link">
                {{- featured_product.title | default: 'Example product title' -}}
              </a>
            </h2>
            {% if featured_product.metafields.judgeme.badge != blank %}
              <div class="product-info-meta">
                {% render 'rating', product: featured_product %}
              </div>
            {% endif %}
            <div class="tf-product-heading p-0 border-0">
            <div class="product-info-price">
              <div class="price-wrap" id="price-{{ section.id }}">
                <span class="price-new price-on-sale h2 fw-4">
                  {% if featured_product != blank %}
                    {{- featured_product.selected_or_first_available_variant.price | money_without_trailing_zeros -}}
                  {% else %}
                    {{ 1999 | money }}
                  {% endif %}
                </span>
                {% if featured_product != blank and featured_product.selected_or_first_available_variant.compare_at_price > featured_product.selected_or_first_available_variant.price %}
                  <span class="price-old compare-at-price h6">
                    {{- featured_product.selected_or_first_available_variant.compare_at_price | money -}}
                  </span>
                {% endif %}
              </div>
            </div>
            </div>
            {% if featured_product.description != blank %}
              <div class="tf-prduct-desc">
                <p class="h6">{{ featured_product.description | strip_html | truncate: 200 }}</p>
              </div>
            {% elsif featured_product == blank %}
              <div class="tf-prduct-desc">
                <p class="h6">Example product description. This will be replaced once you select a product in the section settings.</p>
              </div>
            {% endif %}
            {% if featured_product != blank %}
              {% render 'product-variant-picker',
                product: featured_product,
                product_form_id: product_form_id,
                picker_type: 'button',
                enable_color_swatches: true,
                enable_image: true,
                image_type: 'circle',
                show_variant_labels: true,
                update_url: false,
                swatch_image_size_small: true,
                section_id: section.id,
              %}
            {% endif %}
          <div class="tf-product-total-quantity mb-0">
            {% if featured_product != blank %}
              <product-form>
                {%- form 'product',
                  featured_product,
                  id: product_form_id,
                  data-type: 'add-to-cart-form',
                  class: 'w-100 position-static'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ featured_product.selected_or_first_available_variant.id }}"
                    disabled="disabled"
                  >
                  <div class="group-btn">
                    {% render 'quantity-input', product: featured_product, product_form_id: product_form_id %}

                    {% if featured_product.available %}
                      <span id="inventory-{{ section.id }}" class="h6 d-none d-sm-block">
                        {{ featured_product.selected_or_first_available_variant.inventory_quantity }} products available
                      </span>
                    {% endif %}
                  </div>

                  <div class="group-btn">
                    <button
                      type="submit"
                      name="add"
                      class="tf-btn animate-btn btn-add-to-cart"
                      {%- if featured_product.selected_or_first_available_variant.available == false %}
                        disabled="disabled"
                      {% endif -%}
                    >
                      ADD TO CART
                      <i class="icon icon-shopping-cart-simple"></i>
                    </button>
                    {% if settings.wishlist_enabled %}
                      {% render 'icon-wishlist', product: featured_product %}
                    {% endif %}

                    {% if settings.compare_enabled %}
                      {% render 'icon-compare' %}
                    {% endif %}
                  </div>

                  <div class="group-btn">
                    <div class="shopify-payment-btn w-100">
                      {{ form | payment_button }}
                    </div>
                  </div>
                {%- endform -%}
              </product-form>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ 'zoom.js' |  asset_url}}" defer></script>
<script src="{{ 'drift.min.js' |  asset_url}}" defer></script>
<script src="{{ 'photoswipe-lightbox.umd.min.js' |  asset_url}}" defer></script>
<script src="{{ 'photoswipe.umd.min.js' |  asset_url}}" defer></script>

{% schema %}
{
  "name": "Featured Product",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Select Product"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#fff5f5"
    }
  ],
  "presets": [
    {
      "name": "Featured Product"
    }
  ]
}
{% endschema %}