{% style %}
  .section-{{ section.id }}-footer {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-footer {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-footer {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
{% endstyle %}

<footer class="tf-footer style-4 section-{{ section.id }}-footer">
  
  {% if section.settings.show_border_top %}
    <div class="container d-flex">
      <span class="br-line"></span>
    </div>
  {% endif %}

  <div class="footer-body">
    <div class="container">
      <div class="row">

        <!-- Contact -->
        <div class="col-xl-3 col-sm-6 mb_30 mb-xl-0">
          <div class="footer-col-block">
            <p class="footer-heading footer-heading-mobile">
              {{ section.settings.contact_heading }}
            </p>

            <div class="tf-collapse-content">
              <ul class="footer-contact">
                {% if section.settings.address != blank %}
                <li>
                  <i class="icon icon-map-pin"></i>
                  <span class="br-line"></span>
                  <a href="{{ section.settings.map_url }}" target="_blank" class="h6 link">
                    {{ section.settings.address }}
                  </a>
                </li>
                {% endif %}

                {% if section.settings.phone != blank %}
                <li>
                  <i class="icon icon-phone"></i>
                  <span class="br-line"></span>
                  <a href="tel:{{ section.settings.phone }}" class="h6 link">
                    {{ section.settings.phone }}
                  </a>
                </li>
                {% endif %}

                {% if section.settings.email != blank %}
                <li>
                  <i class="icon icon-envelope-simple"></i>
                  <span class="br-line"></span>
                  <a href="mailto:{{ section.settings.email }}" class="h6 link">
                    {{ section.settings.email }}
                  </a>
                </li>
                {% endif %}
              </ul>

              <!-- Social -->
              <div class="social-wrap">
                <ul class="tf-social-icon">
                  {%- render 'social-icons' -%}
                </ul>
              </div>

            </div>
          </div>
        </div>

        <!-- Shopping Menu -->
        <div class="col-xl-2 col-sm-6 mb_30 mb-xl-0">
          <div class="footer-col-block footer-wrap-1 ms-xl-auto">
            <p class="footer-heading footer-heading-mobile">
              {{ section.settings.menu_1_heading }}
            </p>
            <div class="tf-collapse-content">
              <ul class="footer-menu-list">
                {% for link in linklists[section.settings.menu_1].links %}
                  <li>
                    <a href="{{ link.url }}" class="link h6">
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Information Menu -->
        <div class="col-xl-3 col-sm-6 mb_30 mb-sm-0">
          <div class="footer-col-block footer-wrap-2 mx-xl-auto">
            <p class="footer-heading footer-heading-mobile">
              {{ section.settings.menu_2_heading }}
            </p>
            <div class="tf-collapse-content">
              <ul class="footer-menu-list">
                {% for link in linklists[section.settings.menu_2].links %}
                  <li>
                    <a href="{{ link.url }}" class="link h6">
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Newsletter -->
        <div class="col-xl-4 col-sm-6">
          <div class="footer-col-block">
            <p class="footer-heading footer-heading-mobile">
              {{ section.settings.newsletter_heading }}
            </p>

            <div class="tf-collapse-content">
              <div class="footer-newsletter">
                <p class="h6 caption">
                  {{ section.settings.newsletter_text }}
                </p>

                {% form 'customer', class: 'form_sub has_check' %}
                  <input type="hidden" name="contact[tags]" value="newsletter">

                  <div class="f-content">
                    <fieldset class="col">
                      <input
                        class="style-stroke"
                        type="email"
                        name="contact[email]"
                        placeholder="Enter Your Email"
                        required
                      >
                    </fieldset>

                    <button type="submit" class="tf-btn animate-btn type-small-2">
                      {{ section.settings.newsletter_button }}
                      <i class="icon icon-arrow-right"></i>
                    </button>
                  </div>

                  <div class="checkbox-wrap">
                    <input type="checkbox" class="tf-check style-3" required>
                    <label class="h6">
                      {{ section.settings.newsletter_terms }}
                    </label>
                  </div>
                {% endform %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="inner-bottom">
        <ul class="list-hor">
          <li><a href="{{ section.settings.bottom_link_1 }}" class="h6 link">{{ section.settings.bottom_text_1 }}</a></li>
          <li class="br-line type-vertical"></li>
          <li><a href="{{ section.settings.bottom_link_2 }}" class="h6 link">{{ section.settings.bottom_text_2 }}</a></li>
        </ul>

        <div class="list-hor flex-wrap">
          <span class="h6">Payment:</span>
          <ul class="payment-method-list">
            {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        </div>

        <div class="list-hor">
          {%- liquid
            assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
            assign show_currencies = false
            if currencies.size > 1
              assign show_currencies = true
            endif
          -%}
          <div class="tf-currencies">
            <localization-form>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form position-static' -%}
              {% render 'country_localization', show_currencies: show_currencies, color_white: false %}
            {%- endform -%}
            </localization-form>
          </div>

          <span class="br-line type-vertical"></span>

          <div class="tf-languages">

            <form class="position-static" method="post" action="{{ routes.localization_url }}">
              <input type="hidden" name="form_type" value="localization">
              <select
                name="locale_code"
                class="tf-dropdown-select style-default type-languages"
                onchange="this.form.submit()"
              >
                {%- for language in localization.available_languages -%}
                  <option
                    value="{{ language.iso_code }}"
                    {% if language.iso_code == localization.language.iso_code %}selected{% endif %}
                  >
                    {{ language.endonym_name }}
                  </option>
                {%- endfor -%}
              </select>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_border_top",
      "default": false,
      "label": "Show Top Border Line"
    },
    {
      "type": "text",
      "id": "contact_heading",
      "label": "Heading",
      "default": "Contact us"
    },
    {
      "type": "textarea",
      "id": "address",
      "label": "Store address"
    },
    {
      "type": "url",
      "id": "map_url",
      "label": "Map link"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone number"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email address"
    },
    {
      "type": "header",
      "content": "Menu - Column 1"
    },
    {
      "type": "text",
      "id": "menu_1_heading",
      "label": "Menu 1 heading",
      "default": "Shopping"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu 1 navigation"
    },
    {
      "type": "header",
      "content": "Menu - Column 2"
    },
    {
      "type": "text",
      "id": "menu_2_heading",
      "label": "Menu 2 heading",
      "default": "Information"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu 2 navigation"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Heading",
      "default": "Let's keep in touch"
    },
    {
      "type": "textarea",
      "id": "newsletter_text",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "newsletter_button",
      "label": "Button label",
      "default": "Subscribe"
    },
    {
      "type": "richtext",
      "id": "newsletter_terms",
      "label": "Terms and policy text"
    },
    {
      "type": "header",
      "content": "Footer Bottom Links"
    },
    {
      "type": "text",
      "id": "bottom_text_1",
      "label": "Text 1",
      "default": "Help & FAQs"
    },
    {
      "type": "url",
      "id": "bottom_link_1",
      "label": "Link 1"
    },
    {
      "type": "text",
      "id": "bottom_text_2",
      "label": "Text 2",
      "default": "Factory"
    },
    {
      "type": "url",
      "id": "bottom_link_2",
      "label": "Link 2"
    },
    {
      "type": "header",
      "content": "Desktop padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "header",
      "content": "Tablet padding"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 32
    },
    {
      "type": "header",
      "content": "Mobile padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
