
  
  
  <style>
    .gps-462000613438260047 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-462000613438260047 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-462000613438260047 .pointer-events-auto{pointer-events:auto}.gps-462000613438260047 .relative{position:relative}.gps-462000613438260047 .mx-auto{margin-left:auto;margin-right:auto}.gps-462000613438260047 .mb-0{margin-bottom:0}.gps-462000613438260047 .block{display:block}.gps-462000613438260047 .\!inline{display:inline!important}.gps-462000613438260047 .flex{display:flex}.gps-462000613438260047 .inline-flex{display:inline-flex}.gps-462000613438260047 .grid{display:grid}.gps-462000613438260047 .hidden{display:none}.gps-462000613438260047 .h-6{height:24px}.gps-462000613438260047 .h-full{height:100%}.gps-462000613438260047 .w-6{width:24px}.gps-462000613438260047 .w-full{width:100%}.gps-462000613438260047 .max-w-full{max-width:100%}.gps-462000613438260047 .flex-none{flex:none}.gps-462000613438260047 .flex-col{flex-direction:column}.gps-462000613438260047 .items-center{align-items:center}.gps-462000613438260047 .justify-center{justify-content:center}.gps-462000613438260047 .gap-y-0{row-gap:0}.gps-462000613438260047 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-462000613438260047 .duration-200{transition-duration:.2s}.gps-462000613438260047 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-462000613438260047 .tablet\:block{display:block}.gps-462000613438260047 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-462000613438260047 .mobile\:block{display:block}.gps-462000613438260047 .mobile\:hidden{display:none}.gps-462000613438260047 .mobile\:justify-center{justify-content:center}}.gps-462000613438260047 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-462000613438260047 .\[\&_p\]\:inline p{display:inline}.gps-462000613438260047 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-462000613438260047 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(1280px + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gBJ925eDuU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-l);--pb:var(--g-s-4xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:1280px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBJ925eDuU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gncmvAMWh2 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gsb5HLxoFQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mb:0px;--pb:var(--g-s-s);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:640px;--w-tablet:480px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsb5HLxoFQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="ggfxsWts_Y relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8sK96Drs3 "
        style="--tt:default;--ta:center;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--pr-tablet:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center;--jc-mobile:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;word-break:break-word"
        >
        <p><span style="font-size:32px;">3 Simple Steps to Transform Your Skin with BeautyStat's Vitamin C Serum</span></p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="grtYDqbNAj "
        style="--tt:default;--ta:center;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:0;--c:#575757;word-break:break-word"
        >
        <p>Easy As 1,2,3</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-l);--pb:16px" class="gzwnuRONkm ">
      
    <div
      class="flex justify-center mobile:justify-center"
    >
      <div
        style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bs:solid;--bbw:2pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--t:rotate(0deg);--bc:var(--g-c-brand, brand)"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:var(--g-c-brand, brand);--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:var(--g-c-brand, brand);--bs:solid;--bbw:2pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--minw:70px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:var(--g-c-brand, brand);--bs:solid;--bbw:2pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--minw:70px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gWmWmWQylJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWmWmWQylJ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--jc-tablet:start;--o:0"
      class="gIcftcgwlF relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g91AjtiWuB"
        style="--b:solid;--bc:var(--g-c-bg-1, bg-1);--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:28px;--mb-tablet:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g91AjtiWuB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gj3eltlBkj relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gSjEUgRavz"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left;--ta-mobile:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex"
    data-src="{{ "458029808530490501-4ca9e2cf-a1ca-4f56-8796-45d61173d8fb.jpg" | asset_url }}" data-srcset="{{ '458029808530490501-4ca9e2cf-a1ca-4f56-8796-45d61173d8fb.jpg' | asset_img_url: '768x768' }} 768w, {{ '458029808530490501-4ca9e2cf-a1ca-4f56-8796-45d61173d8fb.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '458029808530490501-4ca9e2cf-a1ca-4f56-8796-45d61173d8fb.jpg' | asset_img_url: 'master' }} 1440w" src="{{ "458029808530490501-4ca9e2cf-a1ca-4f56-8796-45d61173d8fb.jpg" | asset_url }}" width="1080" height="1080" alt="Alt Image" priority="true"
    sizes="100vw"
    style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="ginl8z0toj "
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#242424;--size:19px;--lh:130%;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:19px;--size-mobile:19px;word-break:break-word"
        >
        <p>Step 1: Cleanse and Prep</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gjz282TF9V "
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb-mobile:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:0;--c:#575757;word-break:break-word"
        >
        <p>Start with a clean face. Gently wash your face using a mild cleanser and pat it dry. For optimal results, use our Microbiome Barrier Repair Purifying Cleanser.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:start"
      class="gfn1byx-vk relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcTe8uUqQO"
        style="--b:solid;--bc:var(--g-c-bg-1, bg-1);--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:28px;--mb-tablet:var(--g-s-xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcTe8uUqQO mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gyR5B6cPTZ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gPn16aM108"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left;--ta-mobile:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex"
    data-src="{{ "458029808530490501-20f1c369-8bff-4c10-a45b-1fc42123e539.jpg" | asset_url }}" data-srcset="{{ '458029808530490501-20f1c369-8bff-4c10-a45b-1fc42123e539.jpg' | asset_img_url: '768x768' }} 768w, {{ '458029808530490501-20f1c369-8bff-4c10-a45b-1fc42123e539.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '458029808530490501-20f1c369-8bff-4c10-a45b-1fc42123e539.jpg' | asset_img_url: 'master' }} 1440w" src="{{ "458029808530490501-20f1c369-8bff-4c10-a45b-1fc42123e539.jpg" | asset_url }}" width="5173" height="3449" alt="Alt Image" priority="true"
    sizes="100vw"
    style="--aspect:5173/3449;--aspect-tablet:5173/3449;--aspect-mobile:5173/3449;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gDgZg69i-n "
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#242424;--size:19px;--lh:130%;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:19px;--size-mobile:19px;word-break:break-word"
        >
        <p>Step 2: Apply the Serum</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g0NxPuDDRI "
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb-mobile:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:0;--c:#575757;word-break:break-word"
        >
        <p>Take a small amount of BeautyStat's Vitamin C Serum and apply it to your face and neck. Gently massage the serum into your skin using upward circular motions. Allow the serum to fully absorb before proceeding to the next step.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:start"
      class="gTvko33JUc relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4bQwR_M0d"
        style="--b:solid;--bc:var(--g-c-bg-1, bg-1);--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:28px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4bQwR_M0d mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gRBvoLhHBy relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gzL3IKKKki"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left;--ta-mobile:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex"
    data-src="{{ "458029808530490501-38fdf8ab-cb78-4106-b0a7-de4defc24464.jpg" | asset_url }}" data-srcset="{{ '458029808530490501-38fdf8ab-cb78-4106-b0a7-de4defc24464.jpg' | asset_img_url: '768x768' }} 768w, {{ '458029808530490501-38fdf8ab-cb78-4106-b0a7-de4defc24464.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '458029808530490501-38fdf8ab-cb78-4106-b0a7-de4defc24464.jpg' | asset_img_url: 'master' }} 1440w" src="{{ "458029808530490501-38fdf8ab-cb78-4106-b0a7-de4defc24464.jpg" | asset_url }}" width="5472" height="3648" alt="Alt Image" priority="true"
    sizes="100vw"
    style="--aspect:5472/3648;--aspect-tablet:5472/3648;--aspect-mobile:5472/3648;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gnIaRmSVIt "
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#242424;--size:19px;--lh:130%;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:19px;--size-mobile:19px;word-break:break-word"
        >
        <p>Step 3: Moisturize&nbsp;</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gE2OBZjSpw "
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb-mobile:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:0;--c:#575757;word-break:break-word"
        >
        <p>After the serum has absorbed, follow up with your favorite moisturizer like our Probiotic 24hr Moisture Boost Cream to lock in hydration and provide an extra layer of nourishment.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-462000613438260047 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mybeautystat/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=461969591040475983&sectionId=462000613438260047)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
