{% comment %} {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
 <link rel="stylesheet" href="{{ 'component-cart-drawer.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}
 <link rel="stylesheet" href="{{ 'component-cart-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
 <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- style -%}
  .tf-header {
    margin-bottom: {{ section.settings.header_bottom_spacing }}px;
  }
  .tf-header .header-top {
    background-color: {{ section.settings.header_top_bg }};
  }
  .tf-header .header-inner {
    background-color: {{ section.settings.header_inner_bg }};
  }
  .logo-site img {
    max-width: {{ section.settings.logo_width }}px;
  }
  .tf-header .form-btn-submit {
    background-color: {{ section.settings.search_btn_bg }};
    color: {{ section.settings.search_btn_color }};
  }
  .tf-header .form-btn-submit i {
    color: {{ section.settings.search_btn_color }};
  }
  .tf-header .form_search-product {
    border-color: {{ section.settings.search_border_color }};
  }
  .tf-header .nav-icon-list .count {
    background-color: {{ section.settings.wishlist_count_bg }};
    color: {{ section.settings.wishlist_count_color }};
  }
  .tf-header .cart-icon-bubble .count {
    background-color: {{ section.settings.cart_count_bg }};
    color: {{ section.settings.cart_count_color }};
  }
  .tf-header .nav-icon-item-2,
  .tf-header .nav-icon-item,
  .header-fixed .btn-mobile-menu {
    color: {{ section.settings.icon_color }};
  }
  .tf-header .header-inner_wrap .col-right .icon {
    color: {{ section.settings.promo_icon_color }};
  }
  .tf-header .header-inner_wrap .highlight_text {
    color: {{ section.settings.promo_highlight_color }}
  }
  .tf-header .btn-nav-drop.style-2 {
    background-color: {{ section.settings.department_menu_bg }};
  }
{%- endstyle -%}

{%- liquid
  assign header_class = 'style-5'
  
  if section.settings.enable_sticky_header
    assign header_class = header_class | append: ' header--sticky-enabled'
  endif

  assign header_inner_style_2 = false
  if section.settings.header_inner_style == 'style-2'
    assign header_inner_style_2 = true
  endif
-%}

{%- liquid
  if section.settings.menu != blank
    render 'header-drawer', main_menu: section.settings.menu, menu_item_style: section.settings.menu_item_style
  endif
-%}

<header class="tf-header {{ header_class }}">
  <div class="header-top">
    <div class="{{ section.settings.header_width }}">
      <div class="row align-items-center">
        <div class="col-md-4 col-3 d-xl-none">
          <a href="#mobileMenu" data-bs-toggle="offcanvas" class="btn-mobile-menu">
            <span></span>
          </a>
        </div>
        <div class="col-xl-2 col-md-4 col-6 text-center text-xl-start">
          <a href="{{ routes.root_url }}" class="logo-site justify-content-center justify-content-xl-start">
            {%- if section.settings.logo != blank -%}
              <img
                src="{{ section.settings.logo | image_url }}"
                alt="{{ shop.name }}"
                width="{{ section.settings.logo.width }}"
                height="{{ section.settings.logo.height }}"
              >
            {%- else -%}
              <h4 class="text-white">{{ shop.name }}</h4>
            {%- endif -%}
          </a>
        </div>
        <div class="col-xl-10 col-md-4 col-3">
          <div class="header-right">
            <predictive-search-type class="w-100">
              <form
                action="{{ routes.search_url }}"
                method="get"
                role="search"
                class="form_search-product style-search-2 d-none d-xl-flex search"
              >
                <div class="select-category">
                  <select name="product_cat" id="product_cat" class="dropdown_product_cat">
                    <option value="">All categories</option>
                    {%- for type in shop.types -%}
                      {%- if type != blank -%}
                        <option value="{{ type | escape }}">{{ type }}</option>
                      {%- endif -%}
                    {%- endfor -%}
                  </select>
                </div>
                <span class="br-line type-vertical"></span>
                <input
                  class="style-def"
                  type="search"
                  name="q"
                  placeholder="Search for products..."
                  autocomplete="off"
                  required
                >
                <input type="hidden" name="type" value="product">
                <button type="submit" class="form-btn-submit {{ section.settings.btn_style }}">
                  {% if section.settings.btn_style == 'btn-submit' %}
                    <i class="icon icon-magnifying-glass"></i>
                  {% endif %}
                  <span class="h6 fw-bold">Search</span>
                </button>
              </form>
            </predictive-search-type>

            <ul class="nav-icon-list text-nowrap">
              {%- if shop.customer_accounts_enabled -%}
                <li class="d-none d-lg-flex">
                  <a class="nav-icon-item-2 link" href="{{ routes.account_url }}">
                    <i class="icon icon-user"></i>
                    <div class="nav-icon-item_sub">
                      <span class="text-small-2">
                        {%- if customer -%}
                          {{ customer.first_name }}
                        {%- else -%}
                          Hello, sign in
                        {%- endif -%}
                      </span>
                      <span class="h6">Your account</span>
                    </div>
                  </a>
                </li>
              {%- endif -%}
              
              {%- if settings.wishlist_enabled -%}
                <li class="d-none d-sm-flex">
                  <a class="nav-icon-item-2 link" href="/pages/wishlist">
                    <div class="position-relative d-flex" id="wishlist-icon-bubble">
                      <i class="icon icon-heart"></i>
                      <wishlist-count class="count">
                        <span aria-hidden="true">0</span>
                      </wishlist-count>
                    </div>
                  </a>
                </li>
              {%- endif -%}

              <li>
                <cart-drawer-open>
                  <button
                    type="button"
                    class="nav-icon-item-2 link cart-drawer-open"
                    aria-controls="mini-cart"
                  >
                    <span class="nav-icon-item position-relative">
                      <i class="icon icon-shopping-cart-simple"></i>
                      <span class="cart-icon-bubble">
                        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                        {%- if cart != empty -%}
                          <span class="count {% if cart.item_count >= 100 %} cart-count-bubble--dot{% endif %}">
                            {%- if cart.item_count < 100 -%}
                              <span aria-hidden="true">{{ cart.item_count }}</span>
                            {%- endif -%}
                            <span class="visually-hidden">
                              {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
                            </span>
                          </span>
                        {%- endif -%}
                      </span>
                    </span>
                    <div class="nav-icon-item_sub d-none d-sm-grid">
                      <span class="text-small-2">Your cart</span>
                      <span class="h6 cart-total-price">{{ cart.total_price | money }}</span>
                    </div>
                  </button>
                </cart-drawer-open>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if section.settings.department_menu_open and template == 'index' %}
    {% assign department_menu_open = true %}
  {% endif %}
  <div class="header-inner d-none d-xl-block {% if section.settings.show_header_inner_border %} outline {% endif %}">
    <div class="{{ section.settings.header_width }}">
      <div class="header-inner_wrap {% if header_inner_style_2 %}wrap-2 {% endif %}">
        <div class="col-left">
          <div class="nav-category-wrap main-action-active {% if department_menu_open %} active-1600 {% endif %}">
            <div class="btn-nav-drop {{ section.settings.header_inner_style }} btn-active {% unless section.settings.rounded_corners %} rounded-0 {% endunless %}">
              <span class="btn-mobile-menu {% if header_inner_style_2 %}style-white {% endif %}type-small"><span></span></span>
              <h6 class="name-category fw-semibold">{{ section.settings.department_menu_title }}</h6>
              <i class="icon icon-caret-down"></i>
            </div>
            <ul class="box-nav-category {% if header_inner_style_2 %}type-2 {% endif %}active-item {% if department_menu_open %}active {% endif %}">
              {%- for link in section.settings.department_menu.links -%}
                {% assign icon = link.title | split: '|' | last %}
                {% assign title = link.title | split: '|' | first %}
                <li>
                  <a href="{{ link.url }}" class="nav-category_link h5">
                    <i class="icon {{ icon }}"></i>
                    {{ title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
          {% unless section.settings.header_inner_style == 'style-2' %}
            <span class="br-line type-vertical h-24"></span>
          {% endunless %}
          <nav class="box-navigation">
            {%- render 'header-navs', menu_item_style: section.settings.menu_item_style -%}
          </nav>
        </div>
        <div class="col-right">
          <i class="icon {{ section.settings.promo_icon }}"></i>
          {% assign highlight = section.settings.promo_highlight_text %}
          {% capture highlight_html %}
          <span class="highlight_text fw-bold">{{ highlight }}</span>
          {% endcapture %}

          <p class="h6 text-black">
            {{ section.settings.promo_text | replace: highlight, highlight_html }}
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

{%- if section.settings.enable_sticky_header -%}
  <header class="tf-header header-fixed style-5">
    <div class="header-top d-xl-none">
      <div class="{{ section.settings.header_width }}">
        <div class="row align-items-center">
          <div class="col-md-4 col-3 d-xl-none">
            <a href="#mobileMenu" data-bs-toggle="offcanvas" class="btn-mobile-menu">
              <span></span>
            </a>
          </div>
          <div class="col-xl-2 col-md-4 col-6 text-center text-xl-start">
            <a href="{{ routes.root_url }}" class="logo-site justify-content-center justify-content-xl-start">
              {%- if section.settings.logo_sticky != blank -%}
                <img
                  src="{{ section.settings.logo_sticky | image_url }}"
                  alt="{{ shop.name }}"
                  width="{{ section.settings.logo_sticky.width }}"
                  height="{{ section.settings.logo_sticky.height }}"
                >
              {%- else -%}
                <h4 class="text-white">{{ shop.name }}</h4>
              {%- endif -%}
            </a>
          </div>
          <div class="col-xl-10 col-md-4 col-3">
            <div class="header-right">
              <ul class="nav-icon-list text-nowrap">
                {%- if settings.wishlist_enabled -%}
                  <li class="d-none d-sm-flex">
                    <a class="nav-icon-item-2 link" href="/pages/wishlist">
                      <div class="position-relative d-flex" id="wishlist-icon-bubble-sticky">
                        <i class="icon icon-heart"></i>
                        <wishlist-count class="count">
                          <span aria-hidden="true">0</span>
                        </wishlist-count>
                      </div>
                    </a>
                  </li>
                {%- endif -%}
                <li>
                  <cart-drawer-open>
                    <button
                      type="button"
                      class="nav-icon-item-2 link cart-drawer-open"
                      aria-controls="mini-cart"
                    >
                      <div class="position-relative d-flex nav-icon-item">
                        <i class="icon icon-shopping-cart-simple"></i>
                        <span class="cart-icon-bubble">
                          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                          {%- if cart != empty -%}
                            <span class="count {% if cart.item_count >= 100 %} cart-count-bubble--dot{% endif %}">
                              {%- if cart.item_count < 100 -%}
                                <span aria-hidden="true">{{ cart.item_count }}</span>
                              {%- endif -%}
                              <span class="visually-hidden">
                                {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
                              </span>
                            </span>
                          {%- endif -%}
                        </span>
                      </div>
                    </button>
                  </cart-drawer-open>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-inner d-none d-xl-block">
      <div class="{{ section.settings.header_width }}">
        <div class="header-inner_wrap">
          <div class="col-left">
            <div class="nav-category-wrap main-action-active">
              <div class="btn-nav-drop btn-active text-nowrap">
                <span class="btn-mobile-menu type-small"><span></span></span>
                <h6 class="name-category fw-semibold">{{ section.settings.department_menu_title }}</h6>
                <i class="icon icon-caret-down"></i>
              </div>
              <ul class="box-nav-category active-item">
                {%- for link in section.settings.department_menu.links -%}
                  <li>
                    <a href="{{ link.url }}" class="nav-category_link h5">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
            <span class="br-line type-vertical h-24"></span>
            <nav class="box-navigation">
              {%- render 'header-navs', mobile_nav_none: true, menu_item_style: section.settings.menu_item_style -%}
            </nav>
          </div>
          <div class="col-right">
            <i class="icon {{ section.settings.promo_icon }}"></i>
            {% assign highlight = section.settings.promo_highlight_text %}
            {% capture highlight_html %}
            <span class="highlight_text fw-bold">{{ highlight }}</span>
            {% endcapture %}

            <p class="h6 text-black">
              {{ section.settings.promo_text | replace: highlight, highlight_html }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
{%- endif -%}

{%- for link in section.settings.menu.links -%}
  {% for block in section.blocks %}
    {% if block.type == 'mega_menu' and block.settings['menu-handle'] == link.handle %}
      {% render 'megamenu-modal', block: block, link: link, modal_title: section.settings.modal_title %}
    {% endif %}
  {% endfor %}
{%- endfor -%}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-recommendations.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Header 3",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "select",
      "id": "header_width",
      "label": "Header Width",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-full-2",
          "label": "Full Width"
        }
      ],
      "default": "container-full-2"
    },
    {
      "type": "select",
      "id": "menu_item_style",
      "label": "Menu Item Style",
      "default": "text-uppercase",
      "options": [
        { "value": "", "label": "Default" },
        { "value": "text-uppercase", "label": "Uppercase" },
        { "value": "text-lowercase", "label": "Lowercase" }
      ]
    },
    {
      "type": "text",
      "id": "modal_title",
      "label": "Modal Title",
      "default": "Ultimate HTML Theme"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "Enable Sticky Header",
      "default": true
    },
    {
      "type": "range",
      "id": "header_bottom_spacing",
      "label": "Header Bottom Spacing",
      "default": 24,
      "min": 0,
      "max": 30,
      "step": 1
    },
    {
      "type": "header",
      "content": "Logo & Branding"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "default": 130,
      "unit": "px",
      "label": "Logo Width"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Logo Mobile"
    },
    {
      "type": "image_picker",
      "id": "logo_sticky",
      "label": "Logo Sticky"
    },
    {
      "type": "header",
      "content": "Menu Settings"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "department_menu",
      "label": "Department Menu"
    },
    {
      "type": "checkbox",
      "id": "department_menu_open",
      "label": "Department Menu Initial Open"
    },
    {
      "type": "color",
      "id": "department_menu_bg",
      "label": "Department Menu Background",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "department_menu_title",
      "label": "Department Menu Title",
      "default": "All Departments"
    },

    {
      "type": "header",
      "content": "Promo Settings"
    },
    {
      "type": "select",
      "id": "promo_icon",
      "label": "Promo Icon",
      "options": [
        { "value": "icon-arm-chair", "label": "Arm Chair" },
        { "value": "icon-bag", "label": "Bag" },
        { "value": "icon-barbell", "label": "Barbell" },
        { "value": "icon-book", "label": "Book" },
        { "value": "icon-camera", "label": "Camera" },
        { "value": "icon-caret-down", "label": "Caret Down" },
        { "value": "icon-canned", "label": "Canned Food" },
        { "value": "icon-clock-cd", "label": "Clock" },
        { "value": "icon-diamond", "label": "Diamond" },
        { "value": "icon-drop", "label": "Drop / Beauty" },
        { "value": "icon-dry", "label": "Dry Food" },
        { "value": "icon-fresh", "label": "Fresh" },
        { "value": "icon-gift", "label": "Gift" },
        { "value": "icon-grain", "label": "Grain" },
        { "value": "icon-headset", "label": "Headset" },
        { "value": "icon-heart", "label": "Heart" },
        { "value": "icon-magnifying-glass", "label": "Search" },
        { "value": "icon-mobile", "label": "Mobile" },
        { "value": "icon-mushroom", "label": "Mushroom" },
        { "value": "icon-noodles", "label": "Noodles" },
        { "value": "icon-nut", "label": "Nut" },
        { "value": "icon-ponk", "label": "Pork" },
        { "value": "icon-poultry", "label": "Poultry" },
        { "value": "icon-rice", "label": "Rice" },
        { "value": "icon-seasonal", "label": "Seasonal" },
        { "value": "icon-seafood", "label": "Seafood" },
        { "value": "icon-shirt", "label": "Shirt / Fashion" },
        { "value": "icon-shopping-cart-simple", "label": "Cart" },
        { "value": "icon-sneaker", "label": "Sneaker" },
        { "value": "icon-truck", "label": "Truck / Shipping" },
        { "value": "icon-tv", "label": "TV / Electronics" },
        { "value": "icon-user", "label": "User" },
        { "value": "icon-vegetable", "label": "Vegetable" },
        { "value": "icon-volley-ball", "label": "Volleyball / Sports" }
      ],
      "default": "icon-user"
    },
    {
      "type": "color",
      "id": "promo_icon_color",
      "label": "Promo Icon Color"
    },
    {
      "type": "text",
      "id": "promo_text",
      "label": "Promo Text",
      "default": "Free Shipping for orders over 150$"
    },
    {
      "type": "text",
      "id": "promo_highlight_text",
      "label": "Promo Highlighted Text",
      "default": "150$"
    },
    {
      "type": "color",
      "id": "promo_highlight_color",
      "label": "Promo Highlighted Text Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Search Settings"
    },
    {
      "type": "select",
      "id": "btn_style",
      "label": "Button Style",
      "default": "btn-submit",
      "options": [
        { "value": "btn-submit", "label": "Flat" },
        { "value": "btn-submit-2", "label": "Rounded" }
      ]
    },
    {
      "type": "header",
      "content": "Header Top Colors"
    },
    {
      "type": "color",
      "id": "header_top_bg",
      "label": "Header Top BG",
      "default": "#1e3a8a"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon Color",
      "default": "#111111"
    },
    {
      "type": "header",
      "content": "Header Inner Styling"
    },
    {
      "type": "select",
      "id": "header_inner_style",
      "label": "Header Inner Style",
      "default": "",
      "options": [
        { "value": "", "label": "Style 1" },
        { "value": "style-2", "label": "Style 2" }
      ]
    },
    {
      "type": "checkbox",
      "id": "rounded_corners",
      "label": "Rounded Department Corners",
      "default": false
    },
    {
      "type": "color",
      "id": "header_inner_bg",
      "label": "Header Inner BG",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "show_header_inner_border",
      "label": "Show Header Inner Border"
    },
    {
      "type": "header",
      "content": "Search UI Colors"
    },
    {
      "type": "color",
      "id": "search_btn_bg",
      "label": "Search Button Background",
      "default": "#1e3a8a"
    },
    {
      "type": "color",
      "id": "search_border_color",
      "label": "Search Border Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Wishlist Counter"
    },
    {
      "type": "color",
      "id": "wishlist_count_bg",
      "label": "Wishlist Count Background",
      "default": "#ff0000"
    },
    {
      "type": "color",
      "id": "wishlist_count_color",
      "label": "Wishlist Count Text",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Cart Counter"
    },
    {
      "type": "color",
      "id": "cart_count_bg",
      "label": "Cart Count Background",
      "default": "#ff0000"
    },
    {
      "type": "color",
      "id": "cart_count_color",
      "label": "Cart Count Text",
      "default": "#ffffff"
    }
  ],

  "blocks": [
    {
      "type": "mega_menu",
      "name": "t:sections.header.blocks.mega_menu.name",
    }
  ],

  "presets": [
    {
      "name": "Header 3"
    }
  ]
}
{% endschema %}