{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{% assign excluded_suffixes = 'contact,contactus,contact-2,contact-us,contact-us-2,our-store,ourstore,store-list,faq' | split: ',' %}

<header class="tf-header header-fix
  {% unless excluded_suffixes contains template.suffix or template.name == '404' or template.name == 'blog' %}
    {{ section.settings.header_abs_style }}
  {% endunless %}
  {% if section.settings.enable_sticky_header %}
    header--sticky-enabled
  {% endif %}
">
  {%- liquid
    if section.settings.menu != blank
      render 'header-drawer', main_menu: section.settings.menu
    endif
  -%}
  <div class="container-full">
    <div class="row align-items-center">
      <div class="col-md-4 col-3 d-xl-none">
        <a href="#mobileMenu" data-bs-toggle="offcanvas" class="btn-mobile-menu">
          <span></span>
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6 d-flex justify-content-center justify-content-xl-start">
        <a href="{{ routes.root_url }}" class="logo-site">
          <img
            src="{{ section.settings.logo | image_url }}"
            alt="Logo"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.height }}"
          >
        </a>
      </div>
      <div class="col-xl-6 d-none d-xl-block">
        <nav class="box-navigation">
          <ul class="box-nav-menu">
            {%- for link in section.settings.menu.links -%}
              <li class="menu-item">
                <a href="{{ link.url }}" class="item-link">
                  {{- link.title | upcase }}
                  {%- assign has_mega_menu = false -%}
                  {% for block in section.blocks %}
                    {% if block.settings.menu-handle == link.handle %}
                      {% assign has_mega_menu = true %}
                    {% endif %}
                  {% endfor %}
                  {% if has_mega_menu %}<i class="icon icon-caret-down"></i>{% endif %}
                </a>

                {% comment %}Mega Menu{% endcomment %}
                {% for block in section.blocks %}
                  {% if block.type == 'mega_menu' and block.settings['menu-handle'] == link.handle %}
                    {% render 'mega-menu', block: block, link: link %}
                  {% endif %}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="col-xl-3 col-md-4 col-3">
        <ul class="nav-icon-list">
          <li class="d-none d-lg-flex">
            <a class="nav-icon-item link" href="{{ routes.account_login_url }}"><i class="icon icon-user"></i></a>
          </li>
          <li class="d-none d-md-flex">
            <a class="nav-icon-item link" href="#search" data-bs-toggle="modal">
              <i class="icon icon-magnifying-glass"></i>
            </a>
          </li>
          {% if settings.wishlist_enabled %}
            <li class="d-none d-sm-flex">
              <a class="nav-icon-item link" href="/pages/wishlist" style="position: relative;">
                <span id="wishlist-icon-bubble">
                  <wishlist-count class="count d-none">
                    <span aria-hidden="true">0</span>
                    <span class="visually-hidden">Wishlist items</span>
                  </wishlist-count>
                </span>
                <i class="icon icon-heart"></i>
              </a>
            </li>
          {% endif %}
          <li class="shop-cart">
            <cart-drawer>
              <details class="cart-drawer-container">
                <summary class="cart-drawer__toggle" aria-expanded="false">

                  <span class="" id="cart-icon-bubble">
                    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                    {%- if cart != empty -%}
                      <span class="count {% if cart.item_count >= 100 %} cart-count-bubble--dot{% endif %}">
                        {%- if cart.item_count < 100 -%}
                          <span aria-hidden="true">{{ cart.item_count }}</span>
                        {%- endif -%}
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                      </span>
                    {%- endif -%}
                  </span>

                  <span class="nav-icon-item link">
                    <i class="icon icon-shopping-cart-simple"></i>
                  </span>
                </summary>

                <mini-cart class="popup-shopping-cart" id="mini-cart" data-url="?section_id=mini-cart">
                    {% comment %} mini cart items will be rendered {% endcomment %}
                     {% comment %} remove the offcanvas coz of id conflict {% endcomment %}
                </mini-cart>

              </details>
            </cart-drawer>
            {% comment %} <span class="count">{{ cart.item_count }}</span> {% endcomment %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  </header>
  {%- for link in section.settings.menu.links -%}
    {% for block in section.blocks %}
      {% if block.type == 'mega_menu' and block.settings['menu-handle'] == link.handle %}
        {% render 'megamenu-modal', block: block, link: link, modal_title: section.settings.modal_title %}
      {% endif %}
    {% endfor %}
  {%- endfor -%}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-recommendations.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "header_abs_style",
      "label": "Header Absolute Style",
      "options": [
        {
          "value": "header-abs-1",
          "label": "Style 1"
        },
        {
          "value": "header-abs-2",
          "label": "Style 2"
        }
      ]
    },
    {
      "type": "text",
      "id": "modal_title",
      "label": "Modal Title",
      "default": "Ultimate HTML Theme"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "t:sections.header.blocks.mega_menu.name",
      "settings": [
        {
          "type": "text",
          "id": "menu-handle",
          "label": "Menu Handle"
        },
        {
          "type": "select",
          "id": "menu-type",
          "label": "Menu Type",
          "options": [
            {
              "value": "grid-layout",
              "label": "Grid Layout"
            },
            {
              "value": "col-collection",
              "label": "Column Collection Layout"
            },
            {
              "value": "col-product",
              "label": "Column Product Layout"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ]
        },
        {
          "type": "header",
          "content": "If Grid Layout",
          "info": "Mega menu will only show 12, Modal will show all demos."
        },
        {
          "type": "image_picker",
          "id": "demo_1_image",
          "label": "Demo 1 Image"
        },
        {
          "type": "url",
          "id": "demo_1_url",
          "label": "Demo 1 URL"
        },
        {
          "type": "text",
          "id": "demo_1_name",
          "label": "Demo 1 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_2_image",
          "label": "Demo 2 Image"
        },
        {
          "type": "url",
          "id": "demo_2_url",
          "label": "Demo 2 URL"
        },
        {
          "type": "text",
          "id": "demo_2_name",
          "label": "Demo 2 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_3_image",
          "label": "Demo 3 Image"
        },
        {
          "type": "url",
          "id": "demo_3_url",
          "label": "Demo 3 URL"
        },
        {
          "type": "text",
          "id": "demo_3_name",
          "label": "Demo 3 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_4_image",
          "label": "Demo 4 Image"
        },
        {
          "type": "url",
          "id": "demo_4_url",
          "label": "Demo 4 URL"
        },
        {
          "type": "text",
          "id": "demo_4_name",
          "label": "Demo 4 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_5_image",
          "label": "Demo 5 Image"
        },
        {
          "type": "url",
          "id": "demo_5_url",
          "label": "Demo 5 URL"
        },
        {
          "type": "text",
          "id": "demo_5_name",
          "label": "Demo 5 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_6_image",
          "label": "Demo 6 Image"
        },
        {
          "type": "url",
          "id": "demo_6_url",
          "label": "Demo 6 URL"
        },
        {
          "type": "text",
          "id": "demo_6_name",
          "label": "Demo 6 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_7_image",
          "label": "Demo 7 Image"
        },
        {
          "type": "url",
          "id": "demo_7_url",
          "label": "Demo 7 URL"
        },
        {
          "type": "text",
          "id": "demo_7_name",
          "label": "Demo 7 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_8_image",
          "label": "Demo 8 Image"
        },
        {
          "type": "url",
          "id": "demo_8_url",
          "label": "Demo 8 URL"
        },
        {
          "type": "text",
          "id": "demo_8_name",
          "label": "Demo 8 Name"
        },

        {
          "type": "image_picker",
          "id": "demo_9_image",
          "label": "Demo 9 Image"
        },
        {
          "type": "url",
          "id": "demo_9_url",
          "label": "Demo 9 URL"
        },
        {
          "type": "text",
          "id": "demo_9_name",
          "label": "Demo 9 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_10_image",
          "label": "Demo 10 Image"
        },
        {
          "type": "url",
          "id": "demo_10_url",
          "label": "Demo 10 URL"
        },
        {
          "type": "text",
          "id": "demo_10_name",
          "label": "Demo 10 Name"
        },

        {
          "type": "image_picker",
          "id": "demo_11_image",
          "label": "Demo 11 Image"
        },
        {
          "type": "url",
          "id": "demo_11_url",
          "label": "Demo 11 URL"
        },
        {
          "type": "text",
          "id": "demo_11_name",
          "label": "Demo 11 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_12_image",
          "label": "Demo 12 Image"
        },
        {
          "type": "url",
          "id": "demo_12_url",
          "label": "Demo 12 URL"
        },
        {
          "type": "text",
          "id": "demo_12_name",
          "label": "Demo 12 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_13_image",
          "label": "Demo 13 Image"
        },
        {
          "type": "url",
          "id": "demo_13_url",
          "label": "Demo 13 URL"
        },
        {
          "type": "text",
          "id": "demo_13_name",
          "label": "Demo 13 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_14_image",
          "label": "Demo 14 Image"
        },
        {
          "type": "url",
          "id": "demo_14_url",
          "label": "Demo 14 URL"
        },
        {
          "type": "text",
          "id": "demo_14_name",
          "label": "Demo 14 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_15_image",
          "label": "Demo 15 Image"
        },
        {
          "type": "url",
          "id": "demo_15_url",
          "label": "Demo 15 URL"
        },
        {
          "type": "text",
          "id": "demo_15_name",
          "label": "Demo 15 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_16_image",
          "label": "Demo 16 Image"
        },
        {
          "type": "url",
          "id": "demo_16_url",
          "label": "Demo 16 URL"
        },
        {
          "type": "text",
          "id": "demo_16_name",
          "label": "Demo 16 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_17_image",
          "label": "Demo 17 Image"
        },
        {
          "type": "url",
          "id": "demo_17_url",
          "label": "Demo 17 URL"
        },
        {
          "type": "text",
          "id": "demo_17_name",
          "label": "Demo 17 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_18_image",
          "label": "Demo 18 Image"
        },
        {
          "type": "url",
          "id": "demo_18_url",
          "label": "Demo 18 URL"
        },
        {
          "type": "text",
          "id": "demo_18_name",
          "label": "Demo 18 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_19_image",
          "label": "Demo 19 Image"
        },
        {
          "type": "url",
          "id": "demo_19_url",
          "label": "Demo 19 URL"
        },
        {
          "type": "text",
          "id": "demo_19_name",
          "label": "Demo 19 Name"
        },
        {
          "type": "image_picker",
          "id": "demo_20_image",
          "label": "Demo 20 Image"
        },
        {
          "type": "url",
          "id": "demo_20_url",
          "label": "Demo 20 URL"
        },
        {
          "type": "text",
          "id": "demo_20_name",
          "label": "Demo 20 Name"
        },  
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Label"
        },
        {
          "type": "header",
          "content": "If Column Collection"
        },
        {
          "type": "link_list",
          "id": "mega_link_list",
          "label": "Link List"
        },
        {
          "type": "collection",
          "id": "mega_collection_1",
          "label": "Collection 1"
        },
        {
          "type": "collection",
          "id": "mega_collection_2",
          "label": "Collection 2"
        },
        {
          "type": "text",
          "id": "mega_col_btn_text",
          "label": "Button Label",
          "default": "Shop Now"
        },
        {
          "type": "header",
          "content": "If Column Product"
        },
        {
          "type": "text",
          "id": "mega_prod_title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "mega_prod_link_list",
          "label": "Link List"
        },
        {
          "type": "product",
          "id": "mega_product_1",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "mega_product_2",
          "label": "Product 2"
        },
        {
          "type": "header",
          "content": "If Dropdown"
        },
        {
          "type": "link_list",
          "id": "dropdown_link_list",
          "label": "Link List"
        },
      ]
    }
  ]
}
{% endschema %}
