<div
  class="accordions {% if section.settings.image %} pt-0 md:pt-8 {% endif %} page-width px-0 {% if section.settings.enable_effect %} enable_effect {% endif %}"
>
  <div class="flex items-start pb-8 flex-col md:flex-row">
    {% if section.settings.image %}
      <div class="image-section md:w-2/4">
        <figure
          class="
            w-full
            h-full
          "
        >
          <picture>
            <source
              srcset="{{ section.settings.image | image_url : width: 1000, height: 1500 }}" 
              media="(max-width: 640px)"
            >
            <source
              srcset="{{ section.settings.image | image_url : width: 3000, height: 1666 }}"
              media="(max-width: 768px)"
            >
            <source
              srcset="{{ section.settings.image | image_url : width: 3000, height: 1666 }}"
              media="(max-width: 1024px)"
            >
            <img
              src="{{ section.settings.image | image_url : width: 30 }}"
              data-src="{{ section.settings.image | image_url : width: 3000, height: 1666 }}"
              class="hero__media lazyload"
              alt="{{ section.settings.image.alt }}"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
              loading="eager"
            >
          </picture>
        </figure>
      </div>
    {% endif %}
    <div class="accordion-section {% if section.settings.image %} md:w-2/4 pt-[2.25rem] lg:pt-[5.25rem] pl-[1.625rem] lg:pl-[3.625rem] pr-[2.063rem] lg:pr-[5.063rem] {% endif %} w-full">
      <h3 class="accordion-section_title text-[2.625rem] font-light !capitalize mb-3">{{ section.settings.title }}</h3>
      <p class="accordion-section_subtitle text-base font-normal">{{ section.settings.subtitle }}</p>
      <div class="accordion-section_collapse">
        {% for block in section.blocks %}
          <accordion-tab class="accordion" {{ block.shopify_attributes }}>
            <details>
              <summary class="flex items-center summary">
                <span class="summary__title">
        <p class="accordion__title h3 text-[0.875rem] lg:text-[2.125rem] font-semibold {% if section.settings.bgcolor %} !capitalize {% else %} transform-none {% endif %} ">
                    {{ block.settings.heading | escape }}
                  </p>
                </span>
                <div class="icon">{% render '_icon_plus' %}</div>
              </summary>
              <div class="accordion__content rte typeset font-normal text-sm">
                {{ block.settings.collapse_content }}
              </div>
            </details>
          </accordion-tab>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with accordion",
  "settings": [
    {
      "type": "checkbox",
      "label": "Selected Status Effect",
      "id": "enable_effect",
      "info": "This will enable color effect on selected status"
    },
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    },
    {
      "type": "text",
      "label": "Subtitle",
      "id": "subtitle"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "bgcolor"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "paddingtop",
      "min": 0,
      "max": 150,
      "step": 2, 
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "paddingbottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Right",
      "id": "paddingright",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Left",
      "id": "paddingleft",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "default": 0
    },{
        "type": "range",
        "label": "Mobile Padding Top",
        "id": "mobilept",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "default": 0
    },{
        "type": "range",
        "label": "Mobile Padding Bottom",
        "id": "mobilepb",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "default": 0
    },{
        "type": "range",
        "label": "Mobile Padding Right",
        "id": "mobilepr",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "default": 0
    },{
        "type": "range",
        "label": "Mobile Padding Left",
        "id": "mobilepl",
        "min": 0,
        "max": 150,
        "step": 2,
        "unit": "px",
        "default": 0
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "accordition",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "heading"
        },
        {
          "type": "richtext",
          "label": "Collapse Content",
          "id": "collapse_content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With accordion"
    }
  ]
}
{% endschema %}

<style>
  #shopify-section-{{ section.id }}{
    background-color: {{ section.settings.bgcolor }};
    padding-top: {{ section.settings.paddingtop }}px;
    padding-bottom: {{ section.settings.paddingbottom}}px;
    padding-right: {{ section.settings.paddingright }}px;
    padding-left: {{ section.settings.paddingleft }}px;
  }

   @media (max-width:1024px) {
    #shopify-section-{{ section.id }}{
        padding-top: {{ section.settings.mobilept }}px;
        padding-bottom: {{ section.settings.mobilepb }}px;
        padding-right: {{ section.settings.mobilepr }}px;
        padding-left: {{ section.settings.mobilepl }}px;
    }
  }
</style>
