<div class="image-with-results">
  <div class="result-content flex"
  style="background-color: {{ section.settings.bgcolor }}; flex-direction: {{ section.settings.image_position }}; "
  >
    <div class="results flex-1 flex items-center justify-center text-center p-8 md:p-0">
      <div class="flex flex-col items-center justify-center">
        <p class="font-bold text-lg mb-6">{{ section.settings.days }}</p>
        {% if section.settings.main_title != blank %}
         <div class="md:text-[4rem] text-4xl font-light mb-3 main_title leading-none px-4 mx-auto max-w-[500px]">{{ section.settings.main_title }}</div>
        {% endif %}
        {% if section.settings.title != blank %}
          <div class="md:text-[2.125rem] text-xl font-normal mb-7 max-w-[28.938rem]">{{ section.settings.title }}</div>
        {% endif %}
        {% if section.settings.description != blank %}
          <p class="max-w-96 mb-6 !leading-tight tracking-wide mt-3">{{ section.settings.description }}</p>
        {% endif %}
        <div class="hero__cta">
          {% if section.settings.cta_text != blank %}
            <a
              href="{{ block.settings.link }}"
              class="button hero__link !py-[1.125rem] !px-[3.75rem] uppercase">
              {{ section.settings.cta_text }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="result-image flex-1">
      {% if section.settings.image != blank %}
        <figure class="w-full h-full">
          <picture>
            {% assign img = section.settings.image %}
            <source media="(max-width: 640px)" 
                    srcset="{{ img | image_url: width: 800 }} 1x, {{ img | image_url: width: 1600 }} 2x"
                    width="800"
                    height="{{ 800 | divided_by: img.aspect_ratio | round }}">
                    
            <source media="(max-width: 1024px)" 
                    srcset="{{ img | image_url: width: 1200 }} 1x, {{ img | image_url: width: 2400 }} 2x"
                    width="1200"
                    height="{{ 1200 | divided_by: img.aspect_ratio | round }}">
                    
            <img src="{{ img | image_url: width: 300 }}"
                 data-src="{{ img | image_url: width: 2000 }}"
                 class="w-full h-full object-cover lazyload"
                 alt="{{ img.alt | escape }}"
                 width="{{ img.width }}"
                 height="{{ img.height }}"
                 loading="lazy"
                 onerror="this.style.display='none'">
          </picture>
        </figure>
      {% else %}
        <div class="bg-gray-100 w-full h-full flex items-center justify-center">
          <span class="text-gray-400">Results Image</span>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% style %}
@media screen and (max-width: 768px) {
  .result-content{
    flex-direction: column-reverse !important;
  } 
}
.main_title{
  font-size: {{ section.settings.title_font_size }}px;
  font-family: "Tiempos Headline";
}
.main_title > * {
  font-family: "Tiempos Headline" !important;
  line-height: 1 !important;
}
{% endstyle %}

{% schema %}
{
  "name": "Image with result",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "days",
      "label": "Sub heading"
    },
    {
      "type": "richtext",
      "id": "main_title",
      "label": "Main title"
    },
    {
      "type": "number",
      "id": "title_font_size",
      "label": "Main Title Font Size"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },{
        "type": "select",
        "id": "image_position",
        "label": "Image Position",
        "options": [
          {
            "label": "Left",
            "value": "row-reverse"
          },{
            "label": "Right",
            "value": "row"
          }
       ],
       "default" : "row"
    },{
        "type": "color",
        "id": "bgcolor",
        "label": "Background color"
    }
  ],
  "presets": [
    {
      "name": "Image with result"
    }
  ]
}
{% endschema %}
