<div class="image-with-blog">
  <div class="flex md:flex-row flex-col">
    {% for block in section.blocks %}
      <div class="blog-section relative flex-1">
        {% if block.settings.image != blank %}
          <figure class="w-full h-full">
            <picture>
              {% assign img = block.settings.image %}
              <source media="(max-width: 640px)" 
                      srcset="{{ img | image_url: width: 800 }} 1x, {{ img | image_url: width: 1600 }} 2x"
                      width="800"
                      height="{{ 800 | divided_by: img.aspect_ratio | round }}">
                      
              <source media="(max-width: 1024px)" 
                      srcset="{{ img | image_url: width: 1200 }} 1x, {{ img | image_url: width: 2400 }} 2x"
                      width="1200"
                      height="{{ 1200 | divided_by: img.aspect_ratio | round }}">
                      
              <img src="{{ img | image_url: width: 300 }}"
                   data-src="{{ img | image_url: width: 2000 }}"
                   class="w-full h-full object-cover lazyload"
                   alt="{{ img.alt | escape }}"
                   width="{{ img.width }}"
                   height="{{ img.height }}"
                   loading="lazy"
                   onerror="this.style.display='none'">
            </picture>
          </figure>
        {% else %}
          <div class="bg-gray-100 w-full h-full flex items-center justify-center">
            <span class="text-gray-400">Blog Image</span>
          </div>
        {% endif %}
        <div class="absolute bottom-0 w-full blog">
          <div class="blog-content max-w-[26.25rem] my-0 mx-auto text-center px-5 md:px-0">
            <div class="blog-title mb-4 mt-16">
              <div class="heading md:text-[2.625rem] text-2xl !capitalize tracking-wide !font-light text-white">{{ block.settings.title }}</div>
            </div>
            <div class="blog-subtitle text-base mb-8 text-white font-normal">
              <p>{{ block.settings.subtitle }}</p>
            </div>
            <div class="hero__cta mb-9">
              <a
                href="{{ block.settings.link }}"
                class="button hero__link !py-[1.125rem] !px-[3.75rem]"
              >
                {{ block.settings.link_text }}
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Image-with-blog",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "name": "block",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Blog"
    }
  ]
}
{% endschema %}
