<section class="flat-single-product flat-spacing-3">
  <div class="tf-main-product section-image-zoom">
    <div class="container">
      <div class="row">
        <!-- Product Images -->
        <div class="col-md-6">
          <div class="tf-product-media-wrap sticky-top">
            <div class="product-thumbs-slider">
              <div
                dir="ltr"
                class="swiper tf-product-media-thumbs other-image-zoom"
                data-direction="vertical"
                data-preview="auto"
              >
                <div class="swiper-wrapper stagger-wrap">
                  {% for image in product.images %}
                    <div class="swiper-slide stagger-item">
                      <div class="item">
                        <img
                          class="lazyload"
                          data-src="{{ image | image_url }}"
                          src="{{ image | image_url }}"
                          alt="{{ image.alt | escape }}"
                          width="{{ image.width }}"
                          height="{{ image.height }}"
                        >
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="flat-wrap-media-product">
                <div dir="ltr" class="swiper tf-product-media-main" id="gallery-swiper-started">
                  <div class="swiper-wrapper">
                    {% for image in product.images %}
                      <div class="swiper-slide">
                        <a
                          href="{{ image | image_url }}"
                          target="_blank"
                          class="item"
                          data-pswp-width="860px"
                          data-pswp-height="1146px"
                        >
                          <img
                            class="tf-image-zoom lazyload"
                            data-zoom="{{ image | image_url }}"
                            data-src="{{ image | image_url }}"
                            src="{{ image | image_url }}"
                            alt="{{ image.alt | escape }}"
                            width="{{ image.width }}"
                            height="{{ image.height }}"
                          >
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                  <!-- <div class="swiper-button-next button-style-arrow thumbs-next"></div> -->
                  <!-- <div class="swiper-button-prev button-style-arrow thumbs-prev"></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Product Images -->
        <!-- Product Info -->
        <div class="col-md-6">
          <div class="tf-product-info-wrap position-relative">
            <div class="tf-zoom-main sticky-top"></div>
            <div class="tf-product-info-list other-image-zoom">
              {% if section.settings.show_brand %}
                <div class="tf-product-info-brand">
                  <span class="text-large">Brand:</span>
                  <a href="#" class="h6 text-primary">{{ product.vendor }}</a>
                </div>
              {% endif %}
              <h2 class="product-info-name">{{ product.title }}</h2>

              {% comment %} rating {% endcomment %}
              <div class="product-info-meta">
                <div class="rating">
                  <div
                    class="jdgm-widget jdgm-preview-badge"
                    data-id="{{ product.id }}"
                    data-auto-install="false"
                  >
                    {{ product.metafields.judgeme.badge }}
                  </div>
                  <div class="reviews text-main">(3.671 review)</div>
                </div>

                {% comment %} add to cart count {% endcomment %}
                <div class="people-add text-primary">
                  {% if section.settings.show_atc_count %}
                    <add-to-cart-count 
                      min="{{ section.settings.min_atc_count }}" 
                      max="{{ section.settings.max_atc_count }}">
                        
                      <div class="add-to-cart-count-container d-flex align-items-center gap-1 w-100">
                        <i class="icon icon-shopping-cart-simple"></i>
                        <p id="view-count" class="visitor-count h6">
                          <span class="vc-number"></span> people just added this product to their cart
                        </p>
                      </div>
                    </add-to-cart-count>
                  {% endif %}
                </div>
              </div>

              <div class="tf-product-heading">
                <div class="product-info-price price-wrap">
                  <span class="price-new price-on-sale h2 fw-4">{{ product.price | money }}</span>
                  {% if product.compare_at_price > product.price %}
                    <span class="price-old h6">{{ product.compare_at_price | money }}</span>

                    <p class="badges-on-sale h6 fw-semibold">
                      <span class="number-sale" data-person-sale="29">{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price }} % </span>
                    </p>
                  {% endif %}
                </div>
                
                {% comment %} countdown {% endcomment %}
                {% if settings.enable_countdown and product.metafields.custom.countdown_timer.value != blank %}
                  <div class="tf-product-info-countdown">
                    <div class="countdown-title">
                      <h5>Hurry up</h5>
                      <p class="text-main">offer ends in:</p>
                    </div>
                    <div class="tf-countdown style-1">
                      <countdown-timer data-date="{{ product.metafields.custom.countdown_timer.value }}" data-layout="left"></countdown-timer>
                    </div>
                  </div>
                {% endif %}
              </div>

              {% comment %} visitor count {% endcomment %}
              {% if section.settings.show_visitor_count %}
                <visitor-count 
                  min="{{ section.settings.min_visitor_count }}" 
                  max="{{ section.settings.max_visitor_count }}">
                  <div class="tf-product-info-liveview">
                    <div class="liveview-count">
                      <i class="icon icon-view"></i>
                      <span class="count fw-6 h6 vc-number"></span>
                    </div>
                    <p class="fw-6 h6">People are viewing this right now</p>
                    </div>
                </visitor-count>
              {% endif %}

              {% comment %} <div class="product-progress-sale">
                <div class="title">
                  <div class="available text">Available: <span class="number text-black fw-7">{{ product.selected_or_first_available_variant.inventory_quantity }}</span></div>
                  <div class="sold text">Sold: <span class="number text-black fw-7">{{ product.selected_or_first_available_variant.inventory_quantity }}</span></div>
                </div>
                <div class="progress-cart">
                  <div class="value" style="width: 0%;" data-progress="70"></div>
                </div>
              </div> {% endcomment %}

              <product-form>
                {%- assign product_form_id = 'product-form-' | append: section.id -%}
                {%- form 'product', product, id: product_form_id, data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled="disabled"/>
                  <div class="tf-product-total-quantity">
                    <div class="group-btn">
                      <quantity-input class="wg-quantity">
                        <button class="btn-quantity minus-quantity no-js-hidden" name="minus" type="button">
                          <i class="icon-minus fs-14"></i>
                        </button>
                        <input
                          class="quantity-product"
                          type="number"
                          name="quantity"
                          id="Quantity-{{ section.id }}"
                          min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                            data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                            max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                          value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          form="{{ product_form_id }}"
                        >
                        <button class="btn-quantity plus-quantity no-js-hidden" name="plus" type="button">
                          <i class="icon-plus fs-14"></i>
                        </button>
                      </quantity-input>

                      <button
                        type="submit"
                        name="add"
                        class="tf-btn animate-btn btn-add-to-cart"          
                        {%- if product.selected_or_first_available_variant.available == false %} disabled="disabled"{% endif -%}
                      >
                        <i class="icon icon-shopping-cart-simple"></i>
                        {{ 'products.product.add_to_cart' | t }}
                      </button>

                      <button type="button" class="hover-tooltip box-icon btn-add-wishlist">
                        <span class="icon icon-heart"></span>
                        <span class="tooltip">Add to Wishlist</span>
                      </button>
                      <a href="#compare" data-bs-toggle="offcanvas" class="hover-tooltip tooltip-top box-icon">
                        <span class="icon icon-compare"></span>
                        <span class="tooltip">Compare</span>
                      </a>
                    </div>
                    </div>
                {% endform %}
                <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
                  <button class="tf-product-checkout tf-btn btn-primary w-100" name="checkout"
                    {%- if product.selected_or_first_available_variant.available == false %} disabled="disabled"{% endif -%}
                  >
                    BUY IT NOW 
                    <i class="icon icon-arrow-right"></i>
                  </button>
                </form>
              </product-form>

              <div class="tf-product-extra-link">
                <a href="#sizeChart" data-bs-toggle="modal" class="product-extra-icon link">
                  <i class="icon icon-swatches"></i>Size Guide
                </a>
                <a href="#askQuestion" data-bs-toggle="modal" class="product-extra-icon link">
                  <i class="icon icon-ques"></i>Ask a question
                </a>
                <a href="#shipAndDelivery" data-bs-toggle="modal" class="product-extra-icon link">
                  <i class="icon icon-truck"></i>Delivery & Return
                </a>
                <a href="#shareWith" data-bs-toggle="modal" class="product-extra-icon link">
                  <i class="icon icon-share"></i>Share
                </a>
              </div>

              {% comment %} Delivery & Return {% endcomment %}
              <div class="tf-product-delivery-return">
                {% if section.settings.delivery_time != blank %}
                <div class="product-delivery">
                  <div class="icon icon-clock-cd"></div>
                  <div class="h6">
                    {{ section.settings.delivery_time }}
                  </div>
                </div>
                {% endif %}

                {% if section.settings.return_time != blank %}
                <div class="product-delivery return">
                  <div class="icon icon-compare"></div>
                  <div class="h6">
                    {{ section.settings.return_time }}
                  </div>
                </div>
                {% endif %}

              </div>

              {% comment %} Payment {% endcomment %}
              <div class="tf-product-trust-seal">
                <p class="h6 text-seal">Guarantee Safe Checkout:</p>
                <ul class="list-card">
                  {% for type in shop.enabled_payment_types %}
                    <li class="card-item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <ul class="tf-product-cate-sku">
                {% if product.selected_or_first_available_variant.sku != blank %}
                  <li class="item-cate-sku h6">
                    <span class="label fw-6 text-black">SKU:</span>
                    <span class="value text-main-2">{{ product.selected_or_first_available_variant.sku }}</span>
                  </li>
                {% endif %}
                {% if product.type != blank %}
                  <li class="item-cate-sku h6">
                    <span class="label fw-6 text-black">Type:</span>
                    <span class="value text-main-2">{{ product.type }}</span>
                  </li>
                {% endif %}
                {% if product.collections.size > 0 %}
                  <li class="item-cate-sku h6">
                    <span class="label fw-6 text-black">Categories:</span>
                    <span class="value text-main-2">
                      {% for collection in product.collections limit: 5 %}
                        <a href="{{ collection.url }}" class="link">{{ collection.title }}</a>{% unless forloop.last %}, {% endunless %}
                      {% endfor %}
                    </span>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <!-- /Product Info -->
      </div>
    </div>
  </div>
  <div class="tf-sticky-btn-atc">
    <div class="container">
      <div class="tf-height-observer w-100 d-flex align-items-center">
        <div class="tf-sticky-atc-product d-flex align-items-center">
          <div class="tf-mini-cart-item align-items-start">
            <div class="tf-mini-cart-image">
              <img
                class="lazyload"
                data-src="{{ product.featured_image | image_url }}"
                src="{{ product.featured_image | image_url }}"
                alt="img-product"
                width="{{ product.featured_image.width }}"
                height="{{ product.featured_image.height }}"
              >
            </div>
            <div class="tf-mini-cart-info">
              <h6 class="title">
                <a href="{{ product.url }}" class="link text-line-clamp-1"
                  >{{ product.title }}</a
                >
              </h6>
              <div class="size" id="sticky-variant-info-{{ section.id }}">
                {%- for option in product.selected_or_first_available_variant.options -%}
                  <div class="text-small text-main-2 sub">{{ product.options[forloop.index0] }}: {{ option }}</div>
                {%- endfor -%}
              </div>
              <div class="h6 fw-semibold">{{ product.selected_or_first_available_variant.price | money }}</div>
            </div>
          </div>
        </div>
        
        {% comment %} sticky atc {% endcomment %}
        <div class="tf-sticky-atc-infos">
          <product-form>
            {%- assign product_form_id = 'product-form-sticky' | append: section.id -%}
            {%- form 'product', product, id: product_form_id, data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" id="sticky-variant-id-{{ section.id }}" value="{{ product.selected_or_first_available_variant.id }}">
              
              {%- for option in product.options_with_values -%}
                <div class="tf-sticky-atc-variant-price">
                  <h6 class="title">{{ option.name }}:</h6>
                  <div class="tf-select style-1">
                    <select class="font-sora sticky-variant-select" data-option-index="{{ forloop.index }}" form="{{ product_form_id }}">
                      {%- for value in option.values -%}
                        <option
                          value="{{ value | escape }}"
                          {%- if option.selected_value == value -%} selected="selected"{%- endif -%}
                        >
                          {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                </div>
              {% endfor %}

              <div class="tf-product-info-quantity">
                <h6 class="title">Quantity:</h6>
                <quantity-input class="wg-quantity">
                  <button class="btn-quantity minus-quantity no-js-hidden" name="minus" type="button">
                    <i class="icon-minus fs-14"></i>
                  </button>
                  <input
                    class="quantity-product"
                    type="number"
                    name="quantity"
                    id="Quantity-sticky-{{ section.id }}"
                    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                      data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                      max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    {% endif %}
                    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    form="{{ product_form_id }}"
                  >
                  <button class="btn-quantity plus-quantity no-js-hidden" name="plus" type="button">
                    <i class="icon-plus fs-14"></i>
                  </button>
                </quantity-input>
              </div>

              <div class="tf-sticky-atc-btns">
                <button
                  type="submit"
                  name="add"
                  class="tf-btn animate-btn btn-add-to-cart"          
                  {%- if product.selected_or_first_available_variant.available == false %} disabled="disabled"{% endif -%}
                >
                  <i class="icon icon-shopping-cart-simple"></i>
                  {{ 'products.product.add_to_cart' | t }}
                </button>
              </div>
            {% endform %}
          </product-form>
        </div>
      </div>
    </div>
  </div>

  {% comment %} modals {% endcomment %}
  {%  render 'ask-question-form' %}
  {% render 'delivery-return-modal', title: section.settings.delivery_return_title, delivery_return_page: section.settings.delivery_return_page, store_address: section.settings.store_address, store_phone: section.settings.store_phone, store_email: section.settings.store_email, show_help: section.settings.show_help %}
  {%  render 'share-modal' %}
  {% render 'size-chart-modal' %}
</section>

<script src="{{ 'zoom.js' |  asset_url}}" defer></script>
<script src="{{ 'drift.min.js' |  asset_url}}" defer></script>
<script src="{{ 'photoswipe-lightbox.umd.min.js' |  asset_url}}" defer></script>
<script src="{{ 'photoswipe.umd.min.js' |  asset_url}}" defer></script>

<script>
  // Sticky ATC variant selector logic
  document.addEventListener('DOMContentLoaded', function() {
    const productVariants = {{ product.variants | json }};
    const productOptions = {{ product.options | json }};
    const variantSelects = document.querySelectorAll('.sticky-variant-select');
    const hiddenVariantInput = document.getElementById('sticky-variant-id-{{ section.id }}');
    const variantInfoDiv = document.getElementById('sticky-variant-info-{{ section.id }}');
    
    function updateVariantId() {
      const selectedOptions = Array.from(variantSelects).map(select => select.value);
      const matchedVariant = productVariants.find(variant => {
        return variant.options.every(option => selectedOptions.includes(option));
      });
      
      if (matchedVariant) {
        hiddenVariantInput.value = matchedVariant.id;
        
        // Update the variant info display
        let infoHtml = '';
        matchedVariant.options.forEach((option, index) => {
          infoHtml += `<div class="text-small text-main-2 sub">${productOptions[index]}: ${option}</div>`;
        });
        variantInfoDiv.innerHTML = infoHtml;
        
        // Update price
        const priceElement = variantInfoDiv.nextElementSibling;
        priceElement.textContent = theme.Currency.formatMoney(matchedVariant.price, window.shopSettings.moneyFormat);
      }
    }
    
    variantSelects.forEach(select => {
      select.addEventListener('change', updateVariantId);
    });
  });
</script>

{% schema %}
{
  "name": "Main Product",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_brand",
      "label": "Show Brand",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_atc_count",
      "label": "Show Add To Cart Count",
      "default": true
    },
    {
      "type": "range",
      "id": "min_atc_count",
      "label": "Minimum Add To Cart Count",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 1,
      "visible_if": "{{ section.settings.show_atc_count }}"
    },
    {
      "type": "range",
      "id": "max_atc_count",
      "label": "Maximum Add To Cart Count",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 5,
      "visible_if": "{{ section.settings.show_atc_count }}"
    },
    {
      "type": "checkbox",
      "id": "show_visitor_count",
      "label": "Show Visitor Count",
      "default": true
    },
    {
      "type": "range",
      "id": "min_visitor_count",
      "label": "Minimum Visitor Count",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 5,
      "visible_if": "{{ section.settings.show_visitor_count }}"
    },
    {
      "type": "range",
      "id": "max_visitor_count",
      "label": "Maximum Visitor Count",
      "min": 2,
      "max": 100,
      "step": 1,
      "default": 25,
      "visible_if": "{{ section.settings.show_visitor_count }}"
    },
    {
      "type": "richtext",
      "id": "delivery_time",
      "label": "Delivery Time"
    },
    {
      "type": "richtext",
      "id": "return_time",
      "label": "Return Time"
    },
    {
      "type": "text",
      "id": "delivery_return_title",
      "label": "Delivery Return Title"
    },
    {
      "type": "page",
      "id": "delivery_return_page",
      "label": "Delivery Return Page"
    },
    {
      "type": "checkbox",
      "id": "show_help",
      "label": "Show Help",
      "default": true
    },
    {
      "type": "text",
      "id": "store_address",
      "label": "Store Address"
    },
    {
      "type": "text",
      "id": "store_phone",
      "label": "Store Phone"
    },
    {
      "type": "text",
      "id": "store_email",
      "label": "Store Email"
    }
  ]
}
{% endschema %}