<section class="page-title-blog">
  <div class="bg-image">
    <div
      class="parallaxie"
      style='background-image: url("{% if article.image %}{{ article.image | image_url: width: 1920 }}{% endif %}")'
    ></div>
  </div>
  <div class="container position-relative z-5">
    <div class="content">
      {%- if article.tags.size > 0 -%}
        <div class="entry_tag name-tag h6">{{ article.tags[0] }}</div>
      {%- endif -%}
      <h1 class="heading">
        {{ article.title }}
      </h1>
      <div class="entry_author">
        <span class="h6">Written by</span>
        <h6 class="name-author">{{ article.author }}</h6>
      </div>
    </div>
  </div>
</section>

<section class="s-blog-detail flat-spacing">
  <div class="container">
    <div class="row flex-wrap-reverse">
      <div class="col-xl-3">
        <div class="blog-detail_info mt-xl-0 sticky-top">
          <div class="date-post">
            <p class="title-label h6">Date</p>
            <h6 class="entry_date">{{ article.published_at | date: '%B %d, %Y' }}</h6>
          </div>
          <div class="share-post">
            <p class="title-label h6">{{ 'general.share.share' | t | default: 'Share' }}</p>
            <ul class="tf-social-icon">
              {% render 'social-icons' %}
            </ul>
          </div>
          {%- if article.tags.size > 0 -%}
            <div class="tag-post">
              <p class="title-label">Tags</p>
              <ul class="tag-list">
                {%- for tag in article.tags -%}
                  <li>
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="link">#{{ tag }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="col-xl-9">
        <div class="blog-detail_content tf-grid-layout">
          {{ article.content }}
          <span class="br-line"></span>
          <div class="group-direc">
            {%- if blog.previous_article -%}
              <a href="{{ blog.previous_article.url }}" class="btn-direc prev link">
                {%- if blog.previous_article.image -%}
                  <img
                    src="{{ blog.previous_article.image | image_url: width: 112, height: 76 }}"
                    alt="{{ blog.previous_article.title }}"
                    class="lazyload"
                    width="112"
                    height="76"
                  >
                {%- endif -%}
                <div class="content">
                  <p class="fw-medium text-uppercase">Previous post</p>
                  <p class="name-post h6">{{ blog.previous_article.title }}</p>
                </div>
              </a>
            {%- endif -%}

            {%- if blog.previous_article and blog.next_article -%}
              <span class="br-line"></span>
            {%- endif -%}

            {%- if blog.next_article -%}
              <a href="{{ blog.next_article.url }}" class="btn-direc next link">
                <div class="content">
                  <p class="fw-medium text-uppercase">Next post</p>
                  <p class="name-post h6">{{ blog.next_article.title }}</p>
                </div>
                {%- if blog.next_article.image -%}
                  <img
                    src="{{ blog.next_article.image | image_url: width: 112, height: 76 }}"
                    alt="{{ blog.next_article.title }}"
                    class="lazyload"
                    width="112"
                    height="76"
                  >
                {%- endif -%}
              </a>
            {%- endif -%}
          </div>
          <span class="br-line"></span>
        </div>

        {%- if blog.comments_enabled? -%}
          <div class="blog-detail_comment" id="comments">
            {%- if article.comments_count > 0 -%}
              <h2 class="title">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
              <ul class="comment-list">
                {%- paginate article.comments by 5 -%}
                  {%- for comment in article.comments -%}
                    <li class="comment-item">
                      <div class="cmt_content" style="padding-left: 0;">
                        <div class="head">
                          <div class="cmt__infor">
                            <h5 class="author_name">{{ comment.author }}</h5>
                            <p class="text-small text-main-2">{{ comment.created_at | date: '%B %d, %Y' }}</p>
                          </div>
                        </div>
                        <div class="cmt__text fw-normal text-main">
                          {{ comment.content }}
                        </div>
                      </div>
                    </li>
                  {%- endfor -%}
                  {%- if paginate.pages > 1 -%}
                    {% render 'pagination', paginate: paginate %}
                  {%- endif -%}
                {%- endpaginate -%}
              </ul>
            {%- endif -%}

            <div class="blog-detail_add_review">
              <h2 class="title">Add Review</h2>
              <p class="sub-title">Your email address will not be published</p>

              {% form 'new_comment', article, class: 'form-add_review' %}
                {%- if form.errors -%}
                  <div class="alert alert-danger">
                    {{ form.errors | default_errors }}
                  </div>
                {%- endif -%}

                {%- if form.posted_successfully? -%}
                  <div class="alert alert-success">
                    {%- if blog.moderated? -%}
                      Your comment was posted successfully. We will publish it after moderation.
                    {%- else -%}
                      Your comment was posted successfully!
                    {%- endif -%}
                  </div>
                {%- endif -%}

                <div class="form-content">
                  <div class="tf-grid-layout sm-col-2">
                    <fieldset>
                      <input
                        type="text"
                        name="comment[author]"
                        placeholder="Your name"
                        value="{{ form.author }}"
                        required
                      >
                    </fieldset>
                    <fieldset>
                      <input
                        type="email"
                        name="comment[email]"
                        placeholder="Your email"
                        value="{{ form.email }}"
                        required
                      >
                    </fieldset>
                  </div>
                  <textarea name="comment[body]" placeholder="Review" required>{{ form.body }}</textarea>
                </div>
                <div class="form-action">
                  <button type="submit" class="h6 tf-btn animate-btn">Post comment</button>
                </div>
              {% endform %}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main Article",
  "settings": [
    {
      "type": "header",
      "content": "Article Settings"
    }
  ]
}
{% endschema %}
