{% paginate blog.articles by section.settings.posts_per_page %}
<div class="flat-spacing main-blog-container" id="BlogGridContainer" data-id="{{ section.id }}">
  <div class="container">
    <div class="tf-grid-layout sm-col-2 lg-col-3">
      {%- for article in blog.articles -%}
        <div class="article-blog hover-img4">
          <div class="blog-image">
            <a href="{{ article.url }}" class="entry_image img-style4">
              <img
                src="{{ article.image | image_url: width: 600 }}"
                data-src="{{ article.image | image_url: width: 600 }}"
                alt="{{ article.image.alt | escape }}"
                class="lazyload"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
            </a>
            <div class="entry_tag">
              {%- for tag in article.tags -%}
                <span class="name-tag h6">{{ tag }}</span>
              {%- endfor -%}
            </div>
          </div>
          <div class="blog-content">
            <a href="{{ article.url }}" class="entry_name link h4">
              {{ article.title }}
            </a>
            <p class="entry_date">{{ article.published_at | time_tag: format: 'date' }}</p>
          </div>
        </div>
      {%- endfor -%}
    </div>
    {%- if paginate.pages > 1 -%}
      <div class="text-center pagination-wrap mt-5">
        {% render 'pagination', paginate: paginate %}
      </div>
    {%- endif -%}
  </div>
</div>
{% endpaginate %}

{% schema %}
{
  "name": "Main Blog",
  "settings": [
    {
      "type": "range",
      "id": "posts_per_page",
      "min": 3,
      "max": 24,
      "step": 3,
      "default": 9,
      "label": "Posts per page"
    }
  ],
  "presets": [
    {
      "name": "Main Blog"
    }
  ]
}
{% endschema %}
