<section class="flat-single-product flat-spacing-3">
  <div class="tf-main-product section-image-zoom">
    <div class="container">
      <div class="row">
        <!-- Product Images -->
        <div class="col-md-6">
          <div class="tf-product-media-wrap sticky-top">
            <div class="product-thumbs-slider {% if section.settings.thumb_position == 'bottom' %}thumbs-bottom{% endif %}">
              {% if section.settings.main_product_layout == 'thumb_swiper' %}
                {% if section.settings.thumb_position == 'left' %}
                  {% render 'main-product-thumb-swiper', product: product, direction: 'vertical', preview: 'auto' %}
                  {% render 'main-product-media-swiper', product: product %}
                {% elsif section.settings.thumb_position == 'right' %}
                  {% render 'main-product-media-swiper', product: product %}
                  {% render 'main-product-thumb-swiper', product: product, direction: 'vertical', preview: 'auto' %}
                {% elsif section.settings.thumb_position == 'bottom' %}
                  {% render 'main-product-thumb-swiper', product: product, direction: 'horizontal', preview: '5', space: '12' %}
                  {% render 'main-product-media-swiper', product: product %}
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        <!-- /Product Images -->
        <!-- Product Info -->
        <div class="col-md-6">
          <div class="tf-product-info-wrap position-relative">
            <div class="tf-zoom-main sticky-top"></div>
            <div class="tf-product-info-list other-image-zoom">
              {% if section.settings.show_brand %}
                <div class="tf-product-info-brand">
                  <span class="text-large">Brand:</span>
                  <a href="#" class="h6 text-primary">{{ product.vendor }}</a>
                </div>
              {% endif %}
              
              {% if product.metafields.judgeme.badge != blank  or settings.show_atc_count %}
                <h2 class="product-info-name">{{ product.title }}</h2>
                {% comment %} rating {% endcomment %}
                <div class="product-info-meta">
                  {% if product.metafields.judgeme.badge != blank %}
                  <div class="rating">
                    <div
                      style='{{ jm_style }}'
                      class="jdgm-widget jdgm-preview-badge"
                      data-id="{{ product.id }}"
                      data-auto-install="false"
                    >
                      {{ product.metafields.judgeme.badge }}
                    </div>
                  </div>
                  {% endif %}

                  {% comment %} add to cart count {% endcomment %}
                  <div class="people-add text-primary">
                    {% if settings.show_atc_count %}
                      <add-to-cart-count 
                        min="{{ settings.min_atc_count }}" 
                        max="{{ settings.max_atc_count }}">
                          
                        <div class="add-to-cart-count-container d-flex align-items-center gap-1 w-100">
                          <i class="icon icon-shopping-cart-simple"></i>
                          <p id="view-count" class="visitor-count h6">
                            <span class="vc-number"></span> people just added this product to their cart
                          </p>
                        </div>
                      </add-to-cart-count>
                    {% endif %}
                  </div>
                </div>
              {% endif %}

              <div class="tf-product-heading">
                <div id="price-{{ section.id }}" class="product-info-price price-wrap">
                  <span class="price-new price-on-sale h2 fw-4">{{ product.selected_or_first_available_variant.price | money }}</span>
                  {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
                    <span class="price-old h6">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>

                    <p class="badges-on-sale h6 fw-semibold">
                      <span class="number-sale" data-person-sale="29">
                        -{{ product.selected_or_first_available_variant.compare_at_price
                          | minus: product.selected_or_first_available_variant.price
                          | times: 100
                          | divided_by: product.selected_or_first_available_variant.compare_at_price
                        }} %
                      </span>
                    </p>
                  {% endif %}
                </div>
                
                {% comment %} countdown {% endcomment %}
                {% if settings.enable_countdown and product.metafields.custom.countdown_timer.value != blank %}
                  <div class="tf-product-info-countdown">
                    <div class="countdown-title">
                      <h5>Hurry up</h5>
                      <p class="text-main">offer ends in:</p>
                    </div>
                    <div class="tf-countdown style-1">
                      <countdown-timer data-date="{{ product.metafields.custom.countdown_timer.value }}" data-layout="left"></countdown-timer>
                    </div>
                  </div>
                {% endif %}
              </div>

              {%- assign product_form_id = 'product-form-' | append: section.id -%}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'visitor_count' %}
                    {% comment %} visitor count {% endcomment %}
                      <visitor-count 
                        min="{{ block.settings.min_visitor_count }}" 
                        max="{{ block.settings.max_visitor_count }}">
                        <div class="tf-product-info-liveview">
                          <div class="liveview-count">
                            <i class="icon icon-view"></i>
                            <span class="count fw-6 h6 vc-number"></span>
                          </div>
                          <p class="fw-6 h6">People are viewing this right now</p>
                          </div>
                      </visitor-count>

                    {% comment %} <div class="product-progress-sale">
                      <div class="title">
                        <div class="available text">Available: <span class="number text-black fw-7">{{ product.selected_or_first_available_variant.inventory_quantity }}</span></div>
                        <div class="sold text">Sold: <span class="number text-black fw-7">{{ product.selected_or_first_available_variant.inventory_quantity }}</span></div>
                      </div>
                      <div class="progress-cart">
                        <div class="value" style="width: 0%;" data-progress="70"></div>
                      </div>
                    </div> {% endcomment %}
                  {% when 'variant_picker' %}
                    {% render 'product-variant-picker', section: section, product: product, product_form_id: product_form_id, block: block %}

                  {% when 'option_customizer' %}
                    <div class="tf-product-property"> 
                      <div class="item personalize"> 
                        <input class="pdp-customizer-input bg-white" placeholder="Personalize" type="text" name="properties[Personalize]" form="{{ product_form_id }}"> 
                      </div> 
                      <div class="item desc"> 
                        <input class="pdp-customizer-input bg-white" placeholder="Write your text" type="text" name="properties[Description]" form="{{ product_form_id }}"> 
                      </div> 
                    </div> 

                {% endcase %}
              {% endfor %}

              <product-form>
                {%- form 'product', product, id: product_form_id, data-type: 'add-to-cart-form', class: 'w-100 position-static' -%}
                  <div class="tf-product-total-quantity">
                    <div class="group-btn">

                      {% comment %} Quantity Input {% endcomment %}
                      {% render 'quantity-input', product: product, product_form_id: product_form_id %}

                      {% comment %} Add to Cart Button {% endcomment %}

                          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled="disabled"/>
                          <button
                            type="submit"
                            name="add"
                            class="tf-btn animate-btn btn-add-to-cart"          
                            {%- if product.selected_or_first_available_variant.available == false %} disabled="disabled"{% endif -%}
                          >
                            <i class="icon icon-shopping-cart-simple"></i>
                            {{ 'products.product.add_to_cart' | t }}
                          </button>


                      <button type="button" class="hover-tooltip box-icon btn-add-wishlist">
                        <span class="icon icon-heart"></span>
                        <span class="tooltip">Add to Wishlist</span>
                      </button>

                      <a href="#compare" data-bs-toggle="offcanvas" class="hover-tooltip tooltip-top box-icon">
                        <span class="icon icon-compare"></span>
                        <span class="tooltip">Compare</span>
                      </a>
                    </div>
                    {% comment %} Checkout Button {% endcomment %}
                    <div class="shopify-payment-btn">
                      {{ form | payment_button }}
                    </div>
                  </div>
                {% endform %}
              </product-form>

              <div class="tf-product-extra-link">
                <a href="#sizeChart" data-bs-toggle="modal" class="product-extra-icon link">
                  <i class="icon icon-swatches"></i>Size Guide
                </a>
                <a href="#askQuestion" data-bs-toggle="modal" class="product-extra-icon link">
                  <i class="icon icon-ques"></i>Ask a question
                </a>
                <a href="#shipAndDelivery" data-bs-toggle="modal" class="product-extra-icon link">
                  <i class="icon icon-truck"></i>Delivery & Return
                </a>
                <a href="#shareWith" data-bs-toggle="modal" class="product-extra-icon link">
                  <i class="icon icon-share"></i>Share
                </a>
              </div>

              {% comment %} Buy X get Y {% endcomment %}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'buyX-getY' %}
                    {% assign variant_list = product.metafields.custom.buy_x_get_y.value %}
                    {% if variant_list.size > 0 %}
                      {% assign product_form_id = 'product-form-buy-x' | append: section.id %}
                      <product-form-multi-add>
                        {%- form 'product', product, id: product_form_id, data-type: 'add-to-cart-form', class: 'w-100 form-buyX-getY position-static' -%}
                          <div class="buyX-getY-wrap">
                            {% for variant in variant_list %}
                              {% assign current_variant_image = variant.image | default: variant.product.featured_image %}

                              <div class="volume-discount-thumbnail-item p-0 border-0 flex-grow-1">
                                <input type="hidden" value="{{ variant.id }}" name="id">
                                <div class="image-box type-1">
                                  <img class="lazyload" data-src="{{ current_variant_image | image_url }}"
                                    src="{{ current_variant_image | image_url }}" alt="{{ current_variant_image.alt | escape }}"
                                    width="{{ current_variant_image.width }}"
                                    height="{{ current_variant_image.height }}">

                                  {% assign savings = 'savings-' | append: forloop.index %}
                                  <div class="tags-save h6">
                                    {% unless forloop.first %}
                                      {% if block.settings.show_gift_icon %}
                                        {% render '_icon-gift' %}
                                      {% endif %}
                                    {% endunless %}
                                    {{ block.settings[savings] }}
                                  </div>

                                </div>
                                <div class="content-discount text-start">
                                  <h5 class="name fw-4">{{ variant.product.title }}</h5>

                                  {% unless variant.product.has_only_default_variant %}
                                    <div class="size">
                                      {% for option_name in variant.product.options %}
                                        {% assign option_value = variant.options[forloop.index0] %}
                                        {% assign is_color = false %}
                                        {% assign downcased_option = option_name | downcase %}
                                        {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
                                          {% assign is_color = true %}
                                        {% endif %}

                                        {% if is_color %}
                                          {% assign color_handle = option_value | handleize %}
                                          {% assign color_rgb = "" %}
                                          {% for option in variant.product.options_with_values %}
                                            {% if option.name == option_name %}
                                              {% for value in option.values %}
                                                {% if value == option_value %}
                                                  {% assign color_rgb = value.swatch.color.rgb %}
                                                {% endif %}
                                              {% endfor %}
                                            {% endif %}
                                          {% endfor %}
                                          
                                          <div class="d-flex align-items-center gap-2">
                                            <div class="text-small text-main-2 sub">{{ option_name }}:</div>
                                            <div class="dot-color"
                                                style="
                                                {% if color_rgb != blank %}
                                                  background-color: rgb({{ color_rgb }}) !important;
                                                {% else %}
                                                  background-color: {{ color_handle }} !important;
                                                {% endif %}
                                                {% if color_handle == 'white' or color_handle == 'whitesmoke' %}
                                                  border: 1px solid #cbcbcb;
                                                {% endif %}
                                              "></div>
                                          </div>
                                        {% elsif option_name == 'Size' %}
                                          <div class="text-small text-main-2 sub">{{ option_name }}: {{ option_value }}</div>
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                  {% endunless %}
                                {% render 'quantity-input', product: variant.product, product_form_id: product_form_id %}
                                  
                                </div>
                              </div>

                              {% unless forloop.last %}
                                <svg width="31" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M20 4.375C16.9097 4.375 13.8887 5.29139 11.3192 7.00829C8.7497 8.72518 6.74701 11.1655 5.56439 14.0206C4.38177 16.8757 4.07234 20.0173 4.67524 23.0483C5.27813 26.0792 6.76627 28.8633 8.95146 31.0485C11.1367 33.2337 13.9208 34.7219 16.9517 35.3248C19.9827 35.9277 23.1243 35.6182 25.9794 34.4356C28.8345 33.253 31.2748 31.2503 32.9917 28.6808C34.7086 26.1113 35.625 23.0903 35.625 20C35.6205 15.8574 33.9728 11.8858 31.0435 8.95648C28.1143 6.02721 24.1426 4.37955 20 4.375ZM20 34.375C17.1569 34.375 14.3776 33.5319 12.0137 31.9524C9.64973 30.3728 7.80725 28.1278 6.71924 25.5011C5.63123 22.8744 5.34656 19.9841 5.90122 17.1956C6.45588 14.4071 7.82497 11.8457 9.83535 9.83534C11.8457 7.82496 14.4071 6.45587 17.1956 5.90121C19.9841 5.34655 22.8744 5.63122 25.5011 6.71923C28.1278 7.80724 30.3728 9.64972 31.9524 12.0137C33.5319 14.3776 34.375 17.1569 34.375 20C34.3709 23.8112 32.855 27.4652 30.1601 30.1601C27.4652 32.855 23.8112 34.3709 20 34.375ZM26.875 20C26.875 20.1658 26.8092 20.3247 26.6919 20.4419C26.5747 20.5592 26.4158 20.625 26.25 20.625H20.625V26.25C20.625 26.4158 20.5592 26.5747 20.4419 26.6919C20.3247 26.8092 20.1658 26.875 20 26.875C19.8342 26.875 19.6753 26.8092 19.5581 26.6919C19.4409 26.5747 19.375 26.4158 19.375 26.25V20.625H13.75C13.5842 20.625 13.4253 20.5592 13.3081 20.4419C13.1909 20.3247 13.125 20.1658 13.125 20C13.125 19.8342 13.1909 19.6753 13.3081 19.5581C13.4253 19.4408 13.5842 19.375 13.75 19.375H19.375V13.75C19.375 13.5842 19.4409 13.4253 19.5581 13.3081C19.6753 13.1908 19.8342 13.125 20 13.125C20.1658 13.125 20.3247 13.1908 20.4419 13.3081C20.5592 13.4253 20.625 13.5842 20.625 13.75V19.375H26.25C26.4158 19.375 26.5747 19.4408 26.6919 19.5581C26.8092 19.6753 26.875 19.8342 26.875 20Z"
                                    fill="#C8102E" />
                                </svg>
                              {% endunless %}
                            {% endfor %}
                          </div>

                          <button class="tf-btn bg-green w-100 animate-btn btn-add-to-cart effect-flash"
                            type="submit"
                            {%- if product.selected_or_first_available_variant.available == false %} disabled="disabled"{% endif -%}
                            form="{{ product_form_id }}"
                          >
                            Choose this deal
                          </button>
                        {% endform %}
                      </product-form-multi-add>
                    {% endif %}
                {% endcase %}
              {% endfor %}

              {% comment %} Delivery & Return {% endcomment %}
               {% if section.settings.delivery_time != blank or section.settings.return_time != blank %}
                <div class="tf-product-delivery-return">
                  {% if section.settings.delivery_time != blank %}
                  <div class="product-delivery">
                    <div class="icon icon-clock-cd"></div>
                    <div class="h6">
                      {{ section.settings.delivery_time }}
                    </div>
                  </div>
                  {% endif %}

                  {% if section.settings.return_time != blank %}
                  <div class="product-delivery return">
                    <div class="icon icon-compare"></div>
                    <div class="h6">
                      {{ section.settings.return_time }}
                    </div>
                  </div>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %} Payment {% endcomment %}
              <div class="tf-product-trust-seal">
                <p class="h6 text-seal">Guarantee Safe Checkout:</p>
                <ul class="list-card">
                  {% for type in shop.enabled_payment_types %}
                    <li class="card-item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <ul class="tf-product-cate-sku">
                {% if product.selected_or_first_available_variant.sku != blank %}
                  <li class="item-cate-sku h6">
                    <span class="label fw-6 text-black">SKU:</span>
                    <span class="value text-main-2">{{ product.selected_or_first_available_variant.sku }}</span>
                  </li>
                {% endif %}
                {% if product.type != blank %}
                  <li class="item-cate-sku h6">
                    <span class="label fw-6 text-black">Type:</span>
                    <span class="value text-main-2">{{ product.type }}</span>
                  </li>
                {% endif %}
                {% if product.collections.size > 0 %}
                  <li class="item-cate-sku h6">
                    <span class="label fw-6 text-black">Categories:</span>
                    <span class="value text-main-2">
                      {% for collection in product.collections limit: 5 %}
                        <a href="{{ collection.url }}" class="link">{{ collection.title }}</a>{% unless forloop.last %}, {% endunless %}
                      {% endfor %}
                    </span>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <!-- /Product Info -->
      </div>
    </div>
  </div>
  <div class="tf-sticky-btn-atc">
    <div class="container">
      <div class="tf-height-observer w-100 d-flex align-items-center">
        <div class="tf-sticky-atc-product d-flex align-items-center">
          <div class="tf-mini-cart-item align-items-start">
            <div class="tf-mini-cart-image">
              <img
                class="lazyload"
                data-src="{{ product.featured_image | image_url }}"
                src="{{ product.featured_image | image_url }}"
                alt="img-product"
                width="{{ product.featured_image.width }}"
                height="{{ product.featured_image.height }}"
              >
            </div>
            <div class="tf-mini-cart-info">
              <h6 class="title">
                <a href="{{ product.url }}" class="link text-line-clamp-1"
                  >{{ product.title }}</a
                >
              </h6>
              <div class="size" id="sticky-variant-info-{{ section.id }}">
                {%- for option in product.selected_or_first_available_variant.options -%}
                  <div class="text-small text-main-2 sub">{{ product.options[forloop.index0] }}: {{ option }}</div>
                {%- endfor -%}
              </div>
              <div class="h6 fw-semibold">{{ product.selected_or_first_available_variant.price | money }}</div>
            </div>
          </div>
        </div>
        
        {% comment %} sticky atc {% endcomment %}
        <div class="tf-sticky-atc-infos">
          <product-form>
            {%- assign product_form_id = 'product-form-sticky' | append: section.id -%}
            {%- form 'product', product, id: product_form_id, data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" id="sticky-variant-id-{{ section.id }}" value="{{ product.selected_or_first_available_variant.id }}">
              
              {%- for option in product.options_with_values -%}
                <div class="tf-sticky-atc-variant-price">
                  <h6 class="title">{{ option.name }}:</h6>
                  <div class="tf-select style-1">
                    <select class="font-sora sticky-variant-select" data-option-index="{{ forloop.index }}" form="{{ product_form_id }}">
                      {%- for value in option.values -%}
                        <option
                          value="{{ value | escape }}"
                          {%- if option.selected_value == value -%} selected="selected"{%- endif -%}
                        >
                          {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                </div>
              {% endfor %}

              <div class="tf-product-info-quantity">
                <h6 class="title">Quantity:</h6>
                {% render 'quantity-input', product: product, product_form_id: product_form_id %}
              </div>

              <div class="tf-sticky-atc-btns">
                <button
                  type="submit"
                  name="add"
                  class="tf-btn animate-btn btn-add-to-cart"          
                  {%- if product.selected_or_first_available_variant.available == false %} disabled="disabled"{% endif -%}
                >
                  <i class="icon icon-shopping-cart-simple"></i>
                  {{ 'products.product.add_to_cart' | t }}
                </button>
              </div>
            {% endform %}
          </product-form>
        </div>
      </div>
    </div>
  </div>

  {% comment %} modals {% endcomment %}
  {%  render 'ask-question-form' %}
  {% render 'delivery-return-modal', title: section.settings.delivery_return_title, delivery_return_page: section.settings.delivery_return_page, store_address: section.settings.store_address, store_phone: section.settings.store_phone, store_email: section.settings.store_email, show_help: section.settings.show_help %}
  {%  render 'share-modal' %}
  {% render 'size-chart-modal' %}
</section>

<script>
  // Sticky ATC variant selector logic
  document.addEventListener('DOMContentLoaded', function() {
    const productVariants = {{ product.variants | json }};
    const productOptions = {{ product.options | json }};
    const variantSelects = document.querySelectorAll('.sticky-variant-select');
    const hiddenVariantInput = document.getElementById('sticky-variant-id-{{ section.id }}');
    const variantInfoDiv = document.getElementById('sticky-variant-info-{{ section.id }}');
    
    function updateVariantId() {
      const selectedOptions = Array.from(variantSelects).map(select => select.value);
      const matchedVariant = productVariants.find(variant => {
        return variant.options.every(option => selectedOptions.includes(option));
      });
      
      if (matchedVariant) {
        hiddenVariantInput.value = matchedVariant.id;
        
        // Update the variant info display
        let infoHtml = '';
        matchedVariant.options.forEach((option, index) => {
          infoHtml += `<div class="text-small text-main-2 sub">${productOptions[index]}: ${option}</div>`;
        });
        variantInfoDiv.innerHTML = infoHtml;
        
        // Update price
        const priceElement = variantInfoDiv.nextElementSibling;
        priceElement.textContent = theme.Currency.formatMoney(matchedVariant.price, window.shopSettings.moneyFormat);
      }
    }
    
    variantSelects.forEach(select => {
      select.addEventListener('change', updateVariantId);
    });
  });
</script>

{% schema %}
{
  "name": "Main Product",
  "settings": [
    {
      "type": "select",
      "id": "main_product_layout",
      "label": "Main Product Layout",
      "options": [
        {
          "value": "thumb_swiper",
          "label": "Thumb Swiper"
        },
        {
          "value": "stack",
          "label": "Stack"
        }
      ],
      "default": "thumb_swiper"
    },
    {
      "type": "select",
      "id": "thumb_position",
      "label": "Thumb Swiper Position",
      "visible_if": "{{ section.settings.main_product_layout == 'thumb_swiper' }}",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "left"
    },
    {
      "type": "richtext",
      "id": "delivery_time",
      "label": "Delivery Time"
    },
    {
      "type": "richtext",
      "id": "return_time",
      "label": "Return Time"
    },
    {
      "type": "text",
      "id": "delivery_return_title",
      "label": "Delivery Return Title"
    },
    {
      "type": "page",
      "id": "delivery_return_page",
      "label": "Delivery Return Page"
    },
    {
      "type": "checkbox",
      "id": "show_help",
      "label": "Show Help",
      "default": true
    },
    {
      "type": "text",
      "id": "store_address",
      "label": "Store Address"
    },
    {
      "type": "text",
      "id": "store_phone",
      "label": "Store Phone"
    },
    {
      "type": "text",
      "id": "store_email",
      "label": "Store Email"
    }
  ],
  "blocks": [
    {
      "type": "buyX-getY",
      "name": "Buy X Get Y",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "savings-1",
          "label": "Savings 1"
        },
        {
          "type": "text",
          "id": "savings-2",
          "label": "Savings 2"
        },
        {
          "type": "checkbox",
          "id": "show_gift_icon",
          "label": "Show Gift Icon",
          "default": true
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type": "checkbox",
          "id": "show_variant_labels",
          "label": "Show Variant Labels",
          "default": true
        },
        {
          "type":"header",
          "content":"Dropdown Settings"
        },
        {
          "type": "checkbox",
          "id": "enable_dropdown_color",
          "label": "Enable Dropdown Color",
          "default": true,
        },
        {
          "type":"header",
          "content":"Button Settings"
        },
        {
          "type": "checkbox",
          "id": "enable_color_swatches",
          "label": "Enable Color Swatches",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_swatch_image",
          "label": "Show Swatch Image",
          "default": true
        },
        {
          "type": "select",
          "id": "image_type",
          "options": [
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "circle",
              "label": "Circle"
            }
          ],
          "default": "square",
          "label": "Image Type"
        }
      ]
    },
    {
      "type": "visitor_count",
      "name": "Visitor Count",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "min_visitor_count",
          "label": "Minimum Visitor Count",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 5
        },
        {
          "type": "range",
          "id": "max_visitor_count",
          "label": "Maximum Visitor Count",
          "min": 2,
          "max": 100,
          "step": 1,
          "default": 25
        }
      ]
    },
    {
      "type": "option_customizer",
      "name": "Option Customizer",
      "limit": 1,
    }
  ]
}
{% endschema %}
