{% if cart != empty and settings.cart_recommendations_enabled %}

  <cart-recommendations
    class="tf-minicart-recommendations position-relative"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ cart.items.first.product_id }}&limit=4"
    data-animate>

    <div class="cart-recommendations__loading loading-overlay w-100 {% if recommendations.products_count > 0 %} hidden{% endif %}">
      <div class="loading-overlay__spinner">
        {% render 'icon', icon: 'spinner' %}
      </div>
    </div>

    <h4 class="title">{{ settings.cart_recommendations_heading | escape }}</h4>

    <div class="wrap-recommendations">
      <div class="list-cart">

        {% for product in recommendations.products %}
        <div class="list-cart-item mini-cart__navigation">
          <div class="image">
            {% if product.featured_image %}
              <img
                class="lazyload"
                src="{{ product.featured_image | image_url: width: 200 }}"
                alt="{{ product.featured_image.alt | escape }}"
                width=""
                height=""
              >
            {% endif %}
          </div>

          <div class="content">
            <h6 class="name">
              <a class="link text-line-clamp-1" href="{{ product.url }}">
                {{ product.title }}
              </a>
            </h6>

            <div class="cart-item-bot">
              <div class="price-wrap price">
                {% if product.compare_at_price > product.price %}
                  <span class="price-old h6 fw-normal">
                    {{ product.compare_at_price | money }}
                  </span>
                {% endif %}
                <span class="price-new h6">
                  {{ product.price | money }}
                </span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

  </cart-recommendations>
  {% endif %}

  <div class="canvas-wrapper">
    <div class="popup-header">
      <span class="title fw-semibold h4">
        {{ 'sections.cart.title' | t }}
      </span>

      <drawer-close-button>
        <button
          type="button"
          class="icon-close icon-close-popup"
          data-close
          aria-label="{{ 'accessibility.close' | t }}"
        ></button>
      </drawer-close-button>
    </div>

    <div class="wrap">
      <div class="tf-mini-cart-wrap list-file-delete wrap-empty_text">
        {%- if cart.item_count == 0 -%}
          <div class="box-text_empty type-shop_cart">
            <div class="shop-empty_top">
              <span class="icon">
                <i class="icon-shopping-cart-simple"></i>
              </span>
              <h3 class="text-emp fw-normal">
                {{ 'sections.cart.empty' | t }}
              </h3>
              <p class="h6 text-main">Your cart is currently empty. Let us assist you in finding the right product</p>
            </div>
            <div class="shop-empty_bot">
              <a href="{{ routes.all_products_collection_url }}" class="tf-btn animate-btn">
                {{ 'general.continue_shopping' | t }}
              </a>
              <a href="{{ routes.root_url }}" class="tf-btn style-line"> Back to home </a>
            </div>
          </div>
        {%- else -%}
          <div class="tf-mini-cart-main">
            <div class="tf-mini-cart-sroll">
              <div class="tf-mini-cart-items">
                <cart-items>
                  {% for item in cart.items %}
                    <div class="tf-mini-cart-item file-delete" data-line="{{ forloop.index }}">
                      <div class="tf-mini-cart-image">
                        <img
                          src="{{ item.image | image_url: width: 200 }}"
                          alt="{{ item.product.title | escape }}"
                          loading="lazy"
                          width=""
                          height=""
                        >
                      </div>

                      <div class="tf-mini-cart-info">
                        <div class="text-small text-main-2 sub">
                          {{ item.product.type }}
                        </div>

                        <h6 class="title">
                          <a href="{{ item.url }}" class="link text-line-clamp-1">
                            {{ item.product.title }}
                          </a>
                        </h6>

                        {% assign show_options = false %}

                        {% for option in item.options_with_values %}
                          {% unless option.values contains 'Default Title' %}
                            {% assign show_options = true %}
                            {% break %}
                          {% endunless %}
                        {% endfor %}

                        {% if item.options_with_values.size > 0 and show_options %}
                          <div class="size">
                            {% assign size_option = item.options_with_values | where: "name", "Size" | first %}
                            {% assign color_option = item.options_with_values | where: "name", "Color" | first %}

                            {% if size_option %}
                              <div class="text-small text-main-2 sub">
                                {{ size_option.name }}: {{ size_option.value }}
                              </div>
                            {% endif %}

                            {% if color_option %}
                              {%- assign color_rgb = color_option.value.swatch.color.rgb | default: '' -%}
                              {%- assign color_handle = color_option.value | handleize -%}
                              <div class="text-small text-main-2 sub">
                                {{ color_option.name }}:
                              </div>
                              <div class="dot-color"
                                  style="
                                  {% if color_rgb != blank %}
                                    background-color: rgb({{ color_rgb }}) !important;
                                  {% else %}
                                    background-color: {{ color_handle }} !important;
                                  {% endif %}"
                              >
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}

                        <div class="d-flex justify-content-between align-items-center">
                          <div class="h6 fw-semibold">
                            <span class="number">{{ item.quantity }}×</span>
                            <span class="price text-primary tf-mini-card-price d-inline-flex gap-2">
                              {% if item.original_line_price > item.final_line_price %}
                                <s>
                                  {{ item.original_line_price | money }}
                                </s>
                                <span>
                                  {{ item.final_line_price  | money }}
                                </span>
                              {% else %}
                              <span>
                                {{ item.final_line_price | money }}
                              </span>
                              {% endif %}
                            </span>
                          </div>

                          <div class="loading-overlay hidden">
                            <div class="loading-overlay__spinner">
                              {% render 'icon', icon: 'spinner' %}
                            </div>
                          </div>

                          <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                            <a href="{{ item.url_to_remove }}" class="block delete-button icon link icon-close remove" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                            </a>
                          </cart-remove-button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </cart-items>
              </div>
            </div>
          </div>
        {%- endif -%}
        
        {% if cart != empty %}
          <div class="tf-mini-cart-bottom box-empty_clear">
            <div class="tf-mini-cart-tool">
              {% if settings.show_cart_note %}
                <div class="tf-mini-cart-tool-btn btn-add-note">
                    <div class="h6">Note</div>
                    <i class="icon icon-note-pencil"></i>
                </div>
              {% endif %}

              {% if settings.show_shipping_calculator %}
                <div class="tf-mini-cart-tool-btn btn-estimate-shipping">
                    <div class="h6">Shipping</div>
                    <i class="icon icon-truck"></i>
                </div>
              {% endif %}
              
              {% if settings.show_cart_discount %}
                <div class="tf-mini-cart-tool-btn btn-add-discount">
                    <div class="h6">Discount</div>
                    <i class="icon icon-best-choice"></i>
                </div>
              {% endif %}
            </div>

            <div class="tf-mini-cart-threshold">
              {% comment %} Discount Message {% endcomment %}
              <div class="cart-discount-error text-primary mb-16 hidden">Please enter a valid discount code</div>

              {% if cart.discount_applications.size > 0 %}
                {% for discount_application in cart.discount_applications %}
                  {% if discount_application.title %}
                    <div class="cart-discount mb-16 text-primary">
                      <span>Discount applied</span>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}

              <div class="text">
                <h6 class="subtotal">
                  {{ 'sections.cart.subtotal' | t }}
                  ({{ cart.item_count }} item)
                </h6>
                
                {% if cart.total_discount > 0 %}

                  <div class="price-wrap">
                    <s class="price-old h6 fw-normal">{{ cart.original_total_price | money_without_trailing_zeros }}</s>
                    <h4 class="text-primary total-price tf-totals-total-value">
                      {{ cart.total_price | money_without_trailing_zeros }}
                    </h4>
                  </div>

                {% else %}
                  <h4 class="text-primary total-price tf-totals-total-value">
                    {{ cart.items_subtotal_price | money_without_trailing_zeros }}
                  </h4>
                {% endif %}
              </div>

              
              {% render 'free-shipping', minimum_amount: settings.free_shipping_minimum_amount %}
            </div>

            <div class="tf-mini-cart-bottom-wrap">
              <div class="tf-mini-cart-view-checkout">
                {% unless settings.disable_view_cart %}
                  <a href="{{ routes.cart_url }}" class="tf-btn btn-white animate-btn animate-dark line">
                    {{ 'general.cart.view' | t }}
                  </a>
                {% endunless %}
                <a href="{{ routes.checkout_url }}" class="tf-btn animate-btn bg-dark-2 w-100">
                  {{ 'sections.cart.checkout' | t }}
                </a>
              </div>
              {% if settings.show_free_shipping_message %}
                <div class="free-shipping">
                  <i class="icon icon-truck"></i>
                  Free shipping on all orders over {{ cart.currency.symbol }}{{ settings.free_shipping_minimum_amount }}
              </div>
            {% endif %}
            </div>
          </div>
          
          {% comment %} cart note {% endcomment %}
          <cart-note class="tf-mini-cart-tool-openable add-note">
            <div class="overlay tf-mini-cart-tool-close"></div>
            <form action="#" class="tf-mini-cart-tool-content">
                <label for="Cart-note" class="tf-mini-cart-tool-text h5 fw-semibold">
                    <i class="icon icon-note-pencil"></i>
                    Note
                </label>
                <textarea name="note" id="Cart-note" placeholder="Note about your order"></textarea>
                <div class="tf-cart-tool-btns">
                    <button class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100" type="submit">Save</button>
                    <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">Cancel</div>
                </div>
            </form>
          </cart-note>
          
          {% comment %} shipping calculator {% endcomment %}
          <shipping-calculator class="tf-mini-cart-tool-openable estimate-shipping">

            <div class="overlay tf-mini-cart-tool-close"></div>

            <form class="tf-mini-cart-tool-content" novalidate>

              <div class="tf-mini-cart-tool-text h5 fw-semibold">
                <i class="icon icon-truck"></i>
                Shipping
              </div>

              <!-- COUNTRY -->
              <div class="field">
                <div class="tf-select w-100">
                  <select
                    id="ShippingCalculatorCountry"
                    name="address[country]"
                    class="w-100"
                  >
                    {{ country_option_tags }}
                  </select>
                </div>
              </div>

              <!-- PROVINCE -->
              <div class="field" id="ShippingCalculatorProvinceContainer">
                <div class="tf-select w-100">
                  <select
                    id="ShippingCalculatorProvince"
                    name="address[province]"
                    class="w-100"
                  ></select>
                </div>
              </div>

              <!-- ZIP -->
              <div class="field">
                <input
                  type="text"
                  id="ShippingCalculatorZip"
                  name="address[zip]"
                  placeholder="Postal code"
                >
              </div>

              
              <!-- ERRORS -->
              <div id="ShippingCalculatorErrors" class="error hidden">
                <p class="errors"></p>
              </div>

              <!-- SUCCESS -->
              <div id="ShippingCalculatorSuccess" class="success hidden"></div>

              <!-- BUTTONS -->
              <div class="tf-cart-tool-btns">
                <button
                  type="submit"
                  class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                >
                  Calculate shipping
                </button>

                <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">
                  Cancel
                </div>
              </div>

            </form>

          </shipping-calculator>

          {% comment %} discount code {% endcomment %}
           <cart-discount>
            <div class="tf-mini-cart-tool-openable add-discount">
              <div class="overlay tf-mini-cart-tool-close"></div>

              <form action="{{ routes.cart_update_url }}" class="tf-mini-cart-tool-content">
                <div class="tf-mini-cart-tool-text h5 fw-semibold">
                  <i class="icon icon-discount"></i>
                  Discount Code
                </div>

                <div class="wrap mb-24">
                  <i class="icon icon-discount-2"></i>
                  <h3>Apply a <span class="text-primary">discount code</span></h3>
                  {% if cart.discount_applications.size > 0 %}
                    {% for discount_application in cart.discount_applications %}
                      {% if discount_application.title %}
                        <div class="cart-discount d-flex gap-3">
                          <span>
                            <strong class="text-primary">{{ discount_application.title }}</strong>
                            <span> successfully applied </span>
                          </span>
                          <button type="button" class="cart-discount-remove icon-close align-items-center"></button>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <input
                    type="text"
                    name="discount"
                    class="tf-input w-100 mt-3"
                    placeholder="Enter discount code"
                    autocomplete="off"
                  >
                </div>

                <div class="tf-cart-tool-btns">
                  <button
                    class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                    type="submit"
                  >
                    Apply discount
                  </button>

                  <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">
                    Cancel
                  </div>
                </div>
              </form>
            </div>
          </cart-discount>

        {% endif %}

      </div>
    </div>
  </div>