<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
</style> 
<section class="section-{{ section.id }}-padding">
  <div class="container">
    {%- liquid
      assign header_layout = section.settings.header_layout
      assign title = section.settings.title
      assign subtitle_text = section.settings.subtitle
      assign button_text = section.settings.button_text
      assign button_link = section.settings.button_link
      assign heading_style = section.settings.section_heading_style
      assign heading_weight = section.settings.section_heading_weight
      assign header_spacing = section.settings.header_spacing
    -%}

    {% if header_layout == 'with_subtitle' %}
      {% if title != blank or subtitle_text != blank %}
        <div class="sect-title {% if subtitle_text == blank %}justify-content-center{% endif %} {{ header_spacing }} text-center wow fadeInUp">
          {% liquid
            assign subtitle = false
            if subtitle_text != blank
              assign subtitle = true
            endif
          %}

          {% render 'title',
            class: 's-title',
            title: title,
            subtitle: subtitle,
            large_title: heading_style,
            heading_weight: heading_weight,
          %}

          {% if subtitle_text != blank %}
            <p class="s-subtitle h6">{{ subtitle_text | escape }}</p>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

    {% if header_layout == 'with_button' %}
      <div class="sect-title type-4 wow fadeInUp">
        {% render 'title',
          class: 's-title',
          title: title,
          subtitle: false,
          large_title: heading_style,
          heading_weight: heading_weight,
        %}

        {% if button_link != blank %}
          <span>
            <a href="{{ button_link }}" class="tf-btn-line">
              {{ button_text }}
            </a>
          </span>
        {% endif %}
      </div>
    {% endif %}

    
    <div dir="ltr" class="swiper tf-swiper wow fadeInUp" 
      data-preview="{{ section.settings.slides_desktop }}" 
      data-tablet="{{ section.settings.slides_tablet }}" 
      data-mobile-sm="{{ section.settings.slides_mobile }}"
      data-mobile="2" 
      data-space-xxl="{{ section.settings.space_large_screen }}"
      data-space-lg="{{ section.settings.space_desktop }}" 
      data-space-md="{{ section.settings.space_tablet }}" 
      data-space="{{ section.settings.space_mobile }}" 
      data-pagination="2" 
      data-pagination-sm="3"
      data-pagination-md="4" 
      data-pagination-lg="6">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% assign collection = block.settings.collection %}
          <div class="swiper-slide" {{ block.shopify_attributes }}>
            <a href="{{ collection.url | default: '#' }}" class="widget-collection {% if section.settings.shape == 'circle' %}style-circle {% endif %} hover-img">
              <div class="collection_image img-style {% if section.settings.shape == 'square' %}rounded-0{% endif %}">
                {% if block.settings.image != blank %}
                  <img
                    class="lazyload"
                    src="{{ block.settings.image | image_url }}"
                    data-src="{{ block.settings.image | image_url }}"
                    alt="{{ block.settings.title | default: collection.title | escape }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                  >
                {% elsif collection.featured_image != blank %}
                  <img
                    class="lazyload"
                    src="{{ collection.featured_image | image_url }}"
                    data-src="{{ collection.featured_image | image_url  }}"
                    alt="{{ collection.title | escape }}"
                    width="{{ collection.featured_image.width }}"
                    height="{{ collection.featured_image.height }}"
                  >
                {% else %}
                  {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>

              {% if section.settings.collection_count_format == 'brackets' %}
                <p class="collection_name {{ section.settings.collection_heading_style }} link">
                  {{ block.settings.title | default: collection.title | default: 'Category' }}
                  {% if section.settings.show_count and collection != blank %}
                    <span class="count text-main-2">({{ collection.all_products_count }})</span>
                  {% endif %}
                </p>
              {% elsif section.settings.collection_count_format == 'inline' %}
                <div class="collection_content">
                  <p class="collection_name {{ section.settings.collection_heading_style }} link">
                    {{ block.settings.title | default: collection.title | default: 'Category' }}
                  </p>
                  {% if section.settings.show_count and collection != blank %}
                    <span class="collection_count h6 text-main-2">{{ collection.all_products_count }} product</span>
                  {% endif %}
                </div>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="sw-dot-default tf-sw-pagination"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Popular Categories",
  "settings": [
    {
      "type": "select",
      "id": "header_layout",
      "label": "Header Layout",
      "options": [
        {
          "value": "with_subtitle",
          "label": "With subtitle"
        },
        {
          "value": "with_button",
          "label": "With button"
        }
      ],
      "default": "with_subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Popular Categories"
    },
    {
      "type": "select",
      "id": "header_spacing",
      "label": "Header Spacing",
      "options": [
        {
          "value": "type-4",
          "label": "Default"
        },
        {
          "value": "",
          "label": "Extended Space"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_heading_style",
      "label": "Section Heading Style",
      "options": [
        {
          "value": "true",
          "label": "Large"
        },
        {
          "value": "false",
          "label": "Small"
        }
      ],
      "default": "true"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "Section Heading Weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "",
          "label": "Default"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "collection_heading_style",
      "label": "Collection Heading Style",
      "options": [
        {
          "value": "h4",
          "label": "Large"
        },
        {
          "value": "h5",
          "label": "Small"
        }
      ],
      "default": "h5"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    },
    {
      "type": "checkbox",
      "id": "show_count",
      "label": "Show Product Count",
      "default": true
    },
    {
      "type": "select",
      "id": "collection_count_format",
      "label": "Collection count format",
      "options": [
        {
          "value": "brackets",
          "label": "Brackets"
        },
        {
          "value": "inline",
          "label": "Inline"
        }
      ],
      "default": "brackets"
    },
    {
      "type": "select",
      "id": "shape",
      "label": "Shape Style",
      "options": [
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": "circle"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "View All Books"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/all"
    },
    {
      "type": "range",
      "id": "slides_desktop",
      "label": "Desktop",
      "min": 4,
      "max": 6,
      "step": 1,
      "default": 6
    },
    {
      "type": "select",
      "id": "slides_tablet",
      "label": "Tablet",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "slides_mobile",
      "label": "Mobile",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "3"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "space_large_screen",
      "label": "Spacing Large Screen",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 48
    },
    {
      "type": "range",
      "id": "space_desktop",
      "label": "Spacing Desktop",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 48
    },
    {
      "type": "range",
      "id": "space_tablet",
      "label": "Spacing Tablet",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 32
    },
    {
      "type": "range",
      "id": "space_mobile",
      "label": "Spacing Mobile",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 12
    },
    {
      "type": "header",
      "content": "Desktop padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding Top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 112
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 112
    },
    {
      "type": "header",
      "content": "Tablet padding"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "label": "Padding Top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "label": "Padding Bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "header",
      "content": "Mobile padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Custom Image (Optional)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Custom Title (Optional)",
          "info": "Overrides collection title if set"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Popular Categories",
      "blocks": [
        { "type": "category" },
        { "type": "category" },
        { "type": "category" },
        { "type": "category" },
        { "type": "category" },
        { "type": "category" }
      ]
    }
  ]
}
{% endschema %}
