<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
</style>

<section class="section-{{ section.id }}-padding">
  <div class="container">
    <div class="sect-title {% if section.settings.subtitle == blank %}type-4 justify-content-center{% endif %} text-center wow fadeInUp">
      {% if section.settings.title != blank %}
        <h2 class="title {% if section.settings.subtitle != blank %} mb-8 {% endif %} {% if section.settings.large_styled_title %}h1{% endif %}{% if section.settings.thin_styled_title %}fw-normal{% endif %}">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <p class="s-subtitle h6">{{ section.settings.subtitle | escape }}</p>
      {% endif %}
    </div>
    {% render 'products-swiper',
      collection_ref: section.settings.collection.handle,
      products_limit: section.settings.products_limit,
      grid_rows: section.settings.grid_rows,
      hide_pagination_desktop: section.settings.hide_pagination_desktop
    %}
  </div>
</section>

{% schema %}
{
  "name": "Product Swiper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Best Seller"
    },
    {
      "type": "checkbox",
      "id": "large_styled_title",
      "label": "Large Styled Title",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "thin_styled_title",
      "label": "Thin Styled Title",
      "default": false
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_limit",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "Products Limit"
    },
    {
      "type": "select",
      "id": "grid_rows",
      "label": "Grid Rows",
      "options": [
        { "value": "1", "label": "1 Row" },
        { "value": "2", "label": "2 Rows" }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "hide_pagination_desktop",
      "label": "Hide Pagination Desktop",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding Top Desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 112
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom Desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 112
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top Mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 80
    }
  ],
  "presets": [
    {
      "name": "Product Swiper"
    }
  ]
}
{% endschema %}
