<section class="quote-swiper bg-[#30360d]">
  <div class="swiper  quoteSwiper-container">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide quote-slide-container">
          <div class="quote_slide_wrapper flex flex-col items-center">
            <blockquote class="quote_icon border-s-0 pl-0">
              {% render '_icon_quotation' %}
            </blockquote>
            <div class="quote_content text-center font-semibold text-[#f9f8f5] text-[2.375rem] leading-[2.625rem] tracking-[0.38px] mt-[41px] mb-[51px]">
              {{ block.settings.quote_content }}
            </div>
            <blockquote class="quote_writer text-[#f9f8f5] text-[0.75rem] font-normal uppercase tracking-[1.44px] border-s-0 pl-0">
              <cite>
              {{ block.settings.quote_writer }}
              <strong class="quote_writer_country font-bold">
                {{ block.settings.quote_writer_country }}
              </strong>
              </cite>
            </blockquote>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="left_blur absolute top-0 left-0"></div>
    <div class="right_blur absolute top-0 right-0 rotate-[-180deg]"></div>

  </div>
</section>

<style>
  .quote-swiper {
    padding-top: {{ section.settings.quote_swiper-padding-top }}px;
    padding-bottom: {{ section.settings.quote_swiper-padding-bottom }}px;
  }
</style>

{% schema %}
  {
    "name": "Quote Swiper",
    "blocks": [
      {
        "type": "text",
        "name": "Quote Slides",
        "settings": [
          {
            "type": "text",
            "id": "quote_content",
            "label": "Content"
          }, {
            "type": "text",
            "id": "quote_writer",
            "label": "Writer Name"
          }, {
            "type": "text",
            "id": "quote_writer_country",
            "label": "Writer Country"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "range",
        "id": "quote_swiper-padding-top",
        "label": "Section Padding Top",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 36
      }, {
        "type": "range",
        "id": "quote_swiper-padding-bottom",
        "label": "Section Padding Bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Quote Swiper"
      }
    ]
  }
{% endschema %}