{% style %}
  .section-{{ section.id }}-review-fashion3 {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-review-fashion3 {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }

  @media screen and (min-width: 1025px) {
    .section-{{ section.id }}-review-fashion3 {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
{% endstyle %}

<section class="section-{{ section.id }}-review-fashion3">
  <div class="container">
    <div class="sect-title type-2">
      <div class="flex-sm-1 wow fadeInUp">
        {% liquid
          assign subtitle = false
          if section.settings.subheading != blank
            assign subtitle = true
          endif
        %}
        {% render 'title',
          class: 's-title',
          title: section.settings.heading,
          subtitle: subtitle,
          large_title: section.settings.heading_style,
          heading_weight: section.settings.heading_weight
        %}
        {% if section.settings.subheading != blank %}
          <p class="s-subtitle h6">{{ section.settings.subheading }}</p>
        {% endif %}
      </div>
      <div class="group-btn-slider wow fadeInUp" data-wow-delay="0.1s">
        <div class="tf-sw-nav style-2 type-small nav-prev-swiper">
          <i class="icon icon-caret-left"></i>
        </div>
        <div class="tf-sw-nav style-2 type-small nav-next-swiper">
          <i class="icon icon-caret-right"></i>
        </div>
      </div>
    </div>
    <div dir="ltr" class="swiper tf-swiper" 
      data-preview="{{ section.settings.slides_desktop }}"
      data-tablet="{{ section.settings.slides_tablet }}"
      data-mobile-sm="{{ section.settings.slides_mobile }}"
      data-mobile="1"
      data-space-lg="{{ section.settings.space_desktop }}"
      data-space-md="{{ section.settings.space_tablet }}"
      data-space="{{ section.settings.space_mobile }}"
      data-pagination="1" 
      data-pagination-sm="1"
      data-pagination-md="2" 
      data-pagination-lg="2">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {%- liquid
            assign delay = 0 | plus: forloop.index0 | times: 1
          -%}
          <div class="swiper-slide" {{ block.shopify_attributes }}>
            <div class="testimonial-V02 type-space-2 hover-img wow fadeInLeft" {% if forloop.index > 1 %}data-wow-delay="0.{{ delay }}s"{% endif %}>
              {% if block.settings.product != blank %}
                {% assign product = block.settings.product %}
                <div class="tes_product">
                  <div class="product-image img-style">
                    {% if product.featured_image != blank %}
                      <img class="lazyload" 
                        src="{{ product.featured_image | image_url }}" 
                        data-src="{{ product.featured_image | image_url }}"
                        alt="{{ product.title | escape }}"
                      >
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>
                  <div class="product-infor">
                    <h5 class="prd_name fw-normal">
                      <a href="{{ product.url }}" class="link">
                        {{ product.title }}
                      </a>
                    </h5>
                    <h6 class="prd_price">{{ product.price | money_without_trailing_zeros }}</h6>
                  </div>
                </div>
              {% endif %}
              <div class="tes_content">
                <div class="tes_icon">
                  <i class="icon icon-block-quote"></i>
                </div>
                {% if block.settings.title != blank %}
                  <h4 class="tes_title">{{ block.settings.title }}</h4>
                {% endif %}
                {% if block.settings.text != blank %}
                  <p class="tes_text h4">
                    “{{ block.settings.text }}”
                  </p>
                {% endif %}
                {% if block.settings.author != blank %}
                  <div class="tes_author">
                    <p class="author-name h4">{{ block.settings.author }}</p>
                    {% if block.settings.verified %}
                      <i class="author-verified icon-check-circle fs-24"></i>
                    {% endif %}
                  </div>
                {% endif %}
                {% render 'testimonial-review', rating: block.settings.rating %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="sw-dot-default tf-sw-pagination d-xl-none"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Review Fashion 3",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Customer Reviews"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    },
    {
      "type": "select",
      "id": "heading_style",
      "label": "Heading Style",
      "options": [
        {
          "value": "true",
          "label": "Large"
        },
        {
          "value": "false",
          "label": "Small"
        }
      ],
      "default": "true"
    },
    {
      "type": "select",
      "id": "heading_weight",
      "label": "Heading Weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "slides_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Slides Desktop",
      "default": 2
    },
    {
      "type": "range",
      "id": "slides_tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Slides Tablet",
      "default": 2
    },
    {
      "type": "range",
      "id": "slides_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Slides Mobile",
      "default": 1
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "space_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Spacing Desktop",
      "default": 48
    },
    {
      "type": "range",
      "id": "space_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Spacing Tablet",
      "default": 32
    },
    {
      "type": "range",
      "id": "space_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "label": "Spacing Mobile",
      "default": 12
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 112,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 112,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Tablet",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Tablet",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Dedicated service"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "The support from ACIS has been outstanding. Anytime we had a question or needed help, their team responded quickly and professionally."
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Brooklyn Simmons"
        },
        {
          "type": "checkbox",
          "id": "verified",
          "label": "Verified Purchase",
          "default": true
        },
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Rating",
          "default": 5
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review Fashion 3",
      "blocks": [
        {
          "type": "review",
          "settings": {
            "title": "Dedicated service",
            "text": "The support from ACIS has been outstanding. Anytime we had a question or needed help, their team responded quickly and professionally.",
            "author": "Brooklyn Simmons",
            "verified": true,
            "rating": 5
          }
        },
        {
          "type": "review",
          "settings": {
            "title": "Exceptional Reliability",
            "text": "No surprises, just consistent and dependable performance every single time without fail.",
            "author": "Mas Shin",
            "verified": true,
            "rating": 5
          }
        },
        {
          "type": "review",
          "settings": {
            "title": "Best Product Quality",
            "text": "The build quality is excellent and everything works smoothly. I can feel the difference compared to other brands",
            "author": "Sil Vox",
            "verified": true,
            "rating": 5
          }
        }
      ]
    }
  ]
}
{% endschema %}