{%- if section.blocks.size > 0 -%}
  <div
    class="themesFlat"
    style="background-color: {{ section.settings.bg_color }}; color: {{ section.settings.text_color }};"
  >
    <div class="tf-marquee style-3">
      <div
        class="marquee-wrap infiniteSlide"
        data-clone="{{ section.settings.clone_count }}"
        data-speed="{{ section.settings.speed }}"
        data-style="{{ section.settings.direction }}"
      >
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'promotion' -%}
              {%- if block.settings.text != blank -%}
                <p class="h6" style="color: {{ section.settings.text_color }};">{{ block.settings.text }}</p>
              {%- endif -%}
              {%- if block.settings.icon != blank -%}
                <i class="{{ block.settings.icon }}" style="color: {{ section.settings.text_color }};"></i>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Scrolling Promotion",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "clone_count",
      "label": "Clone Count",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5,
      "info": "Number of times the content is cloned for infinite scrolling"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Scroll Speed",
      "min": 10,
      "max": 200,
      "step": 10,
      "default": 50,
      "info": "Higher is faster"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Scroll Direction",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotion Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Promotion Text",
          "default": "Free shipping on all orders over $150"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "Icon Class",
          "default": "icon icon-thunder-2",
          "info": "Font icon class (e.g., icon icon-thunder-2)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Scrolling Promotion",
      "blocks": [
        {
          "type": "promotion",
          "settings": {
            "text": "Skechers Men's Go Walk Max Effort",
            "icon": "icon icon-thunder-2"
          }
        },
        {
          "type": "promotion",
          "settings": {
            "text": "ZGR Womens High Top Canvas Sneakers",
            "icon": "icon icon-thunder-2"
          }
        },
        {
          "type": "promotion",
          "settings": {
            "text": "Free shipping on all orders over $150",
            "icon": "icon icon-thunder-2"
          }
        },
        {
          "type": "promotion",
          "settings": {
            "text": "2% off for weekends",
            "icon": "icon icon-thunder-2"
          }
        }
      ]
    }
  ]
}
{% endschema %}
