<div class="{% if section.settings.spacing %}flat-spacing{% endif %} flat-animate-tab">
  <div class="container">
    <div class="sect-title wow fadeInUp">
      <div class="h1 title text-center mb-24">{{ section.settings.title | default: 'Featured Products' }}</div>
      <ul class="tab-product_list" role="tablist">
        {% for block in section.blocks %}
          {% assign tab_id = block.settings.tab_title | handleize | prepend: 'tab-' %}
          <li class="nav-tab-item" role="presentation">
            <a 
              href="#{{ tab_id }}" 
              data-bs-toggle="tab" 
              class="tf-btn-line tf-btn-tab {% if forloop.first %}active{% endif %}"
            >
              {{ block.settings.tab_title | upcase }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="tab-content">
      {% for block in section.blocks %}
        {% assign tab_id = block.settings.tab_title | handleize | prepend: 'tab-' %}
        <div 
          class="tab-pane {% if forloop.first %}active show{% endif %}" 
          id="{{ tab_id }}" 
          role="tabpanel"
          {{ block.shopify_attributes }}
        >
          {% render 'products-swiper', collection_ref: block.settings.collection, products_limit: block.settings.products_limit %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tab Products",
  "class": "section-tab-products",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "spacing",
      "label": "Enable Section Spacing"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "New Tab"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "products_limit",
          "min": 2,
          "max": 12,
          "step": 1,
          "default": 8,
          "label": "Maximum products to show"
        },
        {
          "type": "select",
          "id": "grid_rows",
          "label": "Grid Rows",
          "options": [
            {
              "value": "1",
              "label": "1 Row"
            },
            {
              "value": "2",
              "label": "2 Rows"
            }
          ],
          "default": "2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tab Products",
      "blocks": [
        {
          "type": "tab",
          "settings": {
            "tab_title": "Trending"
          }
        },
        {
          "type": "tab",
          "settings": {
            "tab_title": "Best Sellers"
          }
        },
        {
          "type": "tab",
          "settings": {
            "tab_title": "On Sale"
          }
        }
      ]
    }
  ]
}
{% endschema %}
