{%- style -%}
  {%- for block in section.blocks -%}
    #block-{{ block.id }} .title_sld a {
      color: {{ block.settings.title_color }};
    }
    #block-{{ block.id }} .price-new {
      color: {{ block.settings.price_color }};
    }
    #block-{{ block.id }} .price-old {
      color: {{ block.settings.old_price_color }};
    }
    #block-{{ block.id }} .tf-btn {
      color: {{ block.settings.btn_text_color }};
      background-color: {{ block.settings.btn_bg_color }};
      border-color: {{ block.settings.btn_bg_color }};
    }
    #block-{{ block.id }} .tf-btn i {
      color: {{ block.settings.btn_text_color }};
    }
  {%- endfor -%}
{%- endstyle -%}

<div class="tf-slideshow-2 tf-btn-swiper-main pst-5">
  <div class="container">
    <div class="slideshow-container width-3">
      <div
        dir="ltr"
        class="swiper tf-swiper sw-slide-show slider_effect_fade rounded-0"
        data-loop="true"
        data-effect="fade"
        data-auto="true"
        data-delay="3000"
      >
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="swiper-slide" id="block-{{ block.id }}" {{ block.shopify_attributes }}>
              <div class="slider-wrap has-overlay style-5">
                <div class="sld_image">
                  {%- if block.settings.image != blank -%}
                    {{ block.settings.image | image_url: width: 2000 | image_tag:
                      class: 'scale-item sale-item-1',
                      loading: 'eager',
                      fetchpriority: 'high',
                      decoding: 'async',
                      widths: '480, 720, 1000, 1500, 2000',
                      sizes: '100vw',
                      alt: block.settings.image.alt | default: 'Slideshow Image'
                    }}
                  {%- else -%}
                    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg scale-item' }}
                  {%- endif -%}
                </div>
                <div class="sld_content type-4 type-space-x">
                  {%- if block.settings.title != blank -%}
                    <h2 class="title_sld h1 fw-normal mb-24 fade-item fade-item-1">
                      <a href="{{ block.settings.link | default: '#' }}" class="link">
                        {{ block.settings.title | newline_to_br }}
                      </a>
                    </h2>
                  {%- endif -%}
                  <div class="price-wrap price_sld mb-24 fade-item fade-item-2">
                    {%- if block.settings.price != blank -%}
                      <span class="h1 type-semibold price-new">{{ block.settings.price }}</span>
                    {%- endif -%}
                    {%- if block.settings.old_price != blank -%}
                      <span class="price-old h3">{{ block.settings.old_price }}</span>
                    {%- endif -%}
                  </div>
                  {%- if block.settings.btn_text != blank -%}
                    <div class="fade-item fade-item-3">
                      <a href="{{ block.settings.link | default: '#' }}" class="tf-btn animate-btn animate-dark">
                        {{- block.settings.btn_text -}}
                        <i class="icon icon-arrow-right"></i>
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div class="sw-dot-default-2 style-white tf-sw-pagination d-sm-none"></div>
        <div class="group-btn band-swiper">
          <div class="tf-sw-nav type-small-3 nav-prev-swiper">
            <i class="icon icon-caret-left"></i>
          </div>
          <div class="tf-sw-nav type-small-3 nav-next-swiper">
            <i class="icon icon-caret-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Slideshow 6",
  "settings": [
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Armstrong BLU-TRAC HP UHP \nTire - 225/55 R16"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#FFFFFF"
        },
        {
          "type": "text",
          "id": "price",
          "label": "New Price",
          "default": "$89.99"
        },
        {
          "type": "color",
          "id": "price_color",
          "label": "Price Color",
          "default": "#E4AD1E"
        },
        {
          "type": "text",
          "id": "old_price",
          "label": "Old Price",
          "default": "$120.00"
        },
        {
          "type": "color",
          "id": "old_price_color",
          "label": "Old Price Color",
          "default": "#7A7A7A"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Shop now"
        },
        {
          "type": "color",
          "id": "btn_text_color",
          "label": "Button Text Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "btn_bg_color",
          "label": "Button Background Color",
          "default": "#FFFFFF"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow 6",
      "blocks": [
        { "type": "slide" },
        { "type": "slide" },
        { "type": "slide" }
      ]
    }
  ]
}
{% endschema %}