{%- style -%}
  {%- for block in section.blocks -%}
    #block-{{ block.id }} .sub-title_sld {
      {%- if block.settings.subtitle_color != blank -%}
        color: {{ block.settings.subtitle_color }};
      {%- endif -%}
    }
    #block-{{ block.id }} .title_sld {
      {%- if block.settings.title_color != blank -%}
        color: {{ block.settings.title_color }};
      {%- endif -%}
    }
    #block-{{ block.id }} .sub-text_sld {
      {%- if block.settings.description_color != blank -%}
        color: {{ block.settings.description_color }};
      {%- endif -%}
    }
  {%- endfor -%}
{%- endstyle -%}

<div class="tf-slideshow type-abs tf-btn-swiper-main hover-sw-nav" id="section-{{ section.id }}">
  <div
    dir="ltr"
    class="swiper tf-swiper sw-slide-show slider_effect_fade"
    data-auto="false"
    data-loop="true"
    data-effect="fade"
    data-delay="3000"
  >
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide" id="block-{{ block.id }}" {{ block.shopify_attributes }}>
          {% render 'tf-slideshow-slide', 
            block: block, 
            index: forloop.index0,
            image_animation: section.settings.image_animation,
            enable_fade: section.settings.enable_fade_animation,
            slider_style: section.settings.slider_style,
            subtitle_size: section.settings.subtitle_size
          %}
        </div>
      {% endfor %}
    </div>
    <div class="sw-dot-default tf-sw-pagination"></div>
  </div>
  {% if section.blocks.size > 1 %}
    <div class="tf-sw-nav nav-prev-swiper">
      <i class="icon icon-caret-left"></i>
    </div>
    <div class="tf-sw-nav nav-next-swiper">
      <i class="icon icon-caret-right"></i>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "select",
      "id": "slider_style",
      "label": "Slider Style",
      "options": [
        {
          "value": "",
          "label": "Style 1"
        },
        {
          "value": "style-2",
          "label": "Style 2"
        }
      ],
      "default": "style-2"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "Subtitle Size",
      "default": "h3",
      "options": [
        {
          "value": "h6",
          "label": "Small"
        },
        {
          "value": "h3",
          "label": "Medium"
        }
      ]
    },
    {
      "type": "header",
      "content": "Animation Settings"
    },
    {
      "type": "select",
      "id": "image_animation",
      "label": "Image Animation",
      "options": [
        {
          "value": "ani-zoom",
          "label": "Zoom In"
        },
        {
          "value": "scale-item",
          "label": "Scale"
        },
        {
          "value": "",
          "label": "None"
        }
      ],
      "default": "ani-zoom"
    },
    {
      "type": "checkbox",
      "id": "enable_fade_animation",
      "label": "Enable Content Fade Animation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },

        {
          "type": "text",
          "id": "slide_subtitle",
          "label": "Subtitle",
          "default": "SALE OFF 50%"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Title",
          "default": "Modern & Minimalistic"
        },
        {
          "type": "textarea",
          "id": "slide_description",
          "label": "Description",
          "default": "Ad nisi irure officia nulla culpa culpa laborum Lorem.\nAd dolore cillum non commodo ad non non."
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": "Slide Link"
        },
        {
          "type": "text",
          "id": "slide_button_text",
          "label": "Button Text",
          "default": "Shop now"
        },
        {
          "type": "header",
          "content": "Color Settings"
        },
        {
          "type": "color",
          "id": "subtitle_color",
          "label": "Subtitle Color"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color"
        },
        {
          "type": "header",
          "content": "Slide 2 Layout Settings"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content Alignment",
          "options": [
            {
              "value": "type-center text-sm-center",
              "label": "Center"
            },
            {
              "value": "type-center text-end text-sm-center",
              "label": "Right"
            },
            {
              "value": "text-center",
              "label": "Full Center"
            }
          ],
          "default": "type-center text-sm-center"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Button Style",
          "options": [
            {
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-white animate-dark",
              "label": "White"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
