{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding">
  <div class="container">
    <div class="banner-V02 hover-img wow fadeInUp">
      <div class="banner_img img-style">
        {%- if section.settings.image != blank -%}
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag:
              loading: 'lazy',
              class: 'lazyload',
              widths: '375, 550, 750, 1100, 1500',
              alt: section.settings.image.alt
          }}
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
      <div class="banner_content">
        <div class="box-text">
          {%- if section.settings.title != blank -%}
            <h2 class="title type-semibold">
              <a href="{{ section.settings.title_link | default: '#' }}" class="text-primary">
                {{- section.settings.title -}}
              </a>
            </h2>
          {%- endif -%}
          {%- if section.settings.subtitle != blank -%}
          {% assign highlight = section.settings.subtitle_highlight %}

          {% capture highlight_html %}
            <span style="color: {{ section.settings.highlight_color }}">{{ highlight }}</span>
          {% endcapture %}

            <h4 class="sub-title fw-bold">{{ section.settings.subtitle | replace: highlight, highlight_html }}</h4>
          {%- endif -%}
        </div>
        <div class="group-btn">
          {%- if section.settings.btn1_text != blank -%}
            <a href="{{ section.settings.btn1_link | default: '#' }}" class="tf-btn animate-btn type-small-3">
              {{ section.settings.btn1_text }}
              <i class="icon icon-arrow-right"></i>
            </a>
          {%- endif -%}
          {%- if section.settings.btn2_text != blank -%}
            <a
              href="{{ section.settings.btn2_link | default: '#' }}"
              class="tf-btn btn-white animate-btn animate-dark type-small-3"
            >
              {{ section.settings.btn2_text }}
              <i class="icon icon-arrow-right"></i>
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Voucher Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Voucher Today"
    },
    {
      "type": "url",
      "id": "title_link",
      "label": "Title Link"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "subtitle_highlight",
      "label": "Subtitle Highlight"
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight Color",
      "default": "#FF6B6B"
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "text",
      "id": "btn1_text",
      "label": "Button 1 Text",
      "default": "Get a voucher"
    },
    {
      "type": "url",
      "id": "btn1_link",
      "label": "Button 1 Link"
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "type": "text",
      "id": "btn2_text",
      "label": "Button 2 Text",
      "default": "Discover more"
    },
    {
      "type": "url",
      "id": "btn2_link",
      "label": "Button 2 Link"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Voucher Banner"
    }
  ]
}
{% endschema %}
